@use "sass:string";
@use '../_func' as *;

@use '../foundations/root.scss' as *;
@use '../foundations/reboot.scss' as *;
@use '../elements/table.element' as *;
@use '../elements/links.scss' as *;
@use '../elements/buttons.scss' as *;
@use '../elements/dropdown' as *;
@use '../elements/dialog.scss' as *;
@use '../elements/type.css' as *;
@use '../elements/input.scss' as *;
@use '../elements/select.scss' as *;
@use '../elements/forms.scss' as *;
@use '../components/table-advanced.global.scss';
@use '../utilities/margins';
@use '../utilities/paddings';
@use '../utilities/visually-hidden';
@use '../utilities/colours';

@font-face {
  font-family: 'Qanelas - Hosted';
  src:
    url('https://iamproperty.github.io/assets/fonts/qanelas-medium-webfont.woff2') format('woff2'),
    url('https://iamproperty.github.io/assets/fonts/qanelas-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas - Hosted';
  src:
    url('https://iamproperty.github.io/assets/fonts/qanelas-semibold-webfont.woff2') format('woff2'),
    url('https://iamproperty.github.io/assets/fonts/qanelas-semibold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Qanelas - Hosted';
  src:
    url('https://iamproperty.github.io/assets/fonts/qanelas-bold-webfont.woff2') format('woff2'),
    url('https://iamproperty.github.io/assets/fonts/qanelas-bold-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

iam-map {
  margin-bottom: 2rem;
}

:host {
  --font-body: 'Qanelas - Hosted', sans-serif;
  --font-heading: 'Qanelas - Hosted', sans-serif;
  display: block;
  //height: 100%;
  //padding-top: calc(1rem - 10px);
  //padding-bottom: calc(1.5rem - 10px);
  //padding-inline: calc(1.5rem - 10px);
  overflow: auto;
  width: 100%;
  box-sizing: border-box;

  font-family: var(--font-body);

  > *{
    box-sizing: border-box;
    font-family: var(--font-body);
  }
}

iam-actionbar {
  display: block;
}

@layer utilities {
  .text-nowrap {
    white-space: nowrap !important;
  }
}

:host(:not(.inside-hub)) :is(#criteria-match-key, iam-actionbar, th.selectrow-heading, td.selectrow) {
  display: none!important;
}

:host {
  overflow: clip;
}

// #region: Criteria match key
#criteria-match-key {

  :is(#full-match, #partial-match)::before {

    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
    margin-top: 0.2em;
    vertical-align: top;
  }
  #full-match::before {
    background: var(--colour-complete);
  }
  #partial-match::before {
    background: var(--colour-warning);
  }
}

table td:has(.criteria-match-indicator) {
  padding-left: 1.5rem;
  position: relative;
}
table .criteria-match-indicator {
  position: absolute;
  padding: 0.75rem 2rem .75rem 0;
  top: 0;
  left: 0;
  display: inline-block;
}
table .criteria-match-indicator::before {
  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-top: 0.2em;
  border-radius: 50%;
}

table .criteria-match-indicator[data-value="full"]::before {

  background: var(--colour-complete);
}

table .criteria-match-indicator[data-value="partial"]::before {
  background: var(--colour-warning);
}

// #endregion


// #region: Icon fixes
[class*="fa-"] {

  position: relative;
  display: inline-block;
  height: 1em;
  width: 1em;

  &:before {
    position: absolute;
    inset: 0;
    content: ""!important;
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

:is(.fa-arrow-down-arrow-up){

  &:after {
    position: absolute;
    inset: 0;
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.fa-filter:before {

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M32 64C19.1 64 7.4 71.8 2.4 83.8S.2 109.5 9.4 118.6L192 301.3 192 416c0 8.5 3.4 16.6 9.4 22.6l64 64c9.2 9.2 22.9 11.9 34.9 6.9S320 492.9 320 480l0-178.7 182.6-182.6c9.2-9.2 11.9-22.9 6.9-34.9S492.9 64 480 64L32 64z'/%3E%3C/svg%3E");
}

iam-notification::part(dismiss-btn) {
  position: relative;
  display: inline-block;
  text-indent: -500px;
  font-size: 1rem !important;

  &:before {
    position: absolute;
    inset: 0;
    content: ""!important;
    display: inline-block!important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

iam-notification::part(dismiss-btn):before {

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 0 0 384 512'%3E%3Cpath d='M7.5 105c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l151 151 151-151c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-151 151 151 151c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-151-151-151 151c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l151-151-151-151z'/%3E%3C/svg%3E");
}


.fa-arrow-down-arrow-up:before {

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M265.4 105.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L352 109.3 352 480c0 17.7 14.3 32 32 32s32-14.3 32-32l0-370.7 41.4 41.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-96-96c-12.5-12.5-32.8-12.5-45.3 0l-96 96z'/%3E%3C/svg%3E");
}
.fa-arrow-down-arrow-up:after {

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M105.4 502.6c12.5 12.5 32.8 12.5 45.3 0l96-96c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 402.7 160 32c0-17.7-14.3-32-32-32S96 14.3 96 32l0 370.7-41.4-41.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l96 96z'/%3E%3C/svg%3E");
}

[data-order-by="asc"] {
  .fa-arrow-down-arrow-up:before {
    display: none;
  }
}

[data-order-by="desc"] {
  .fa-arrow-down-arrow-up:after {
    display: none;
  }
}

iam-pagination::part(prev):before {

  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3E%3C/svg%3E")!important;
}

iam-pagination::part(prev):disabled:before {

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3E%3C/svg%3E")!important;
}

iam-pagination::part(next):after {

  content: "";
  display: inline-block;
  height: 1em;
  width: 1em;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='var(--colour-info)' viewBox='0 0 512 512'%3E%3Cpath d='M313.5 239c9.4 9.4 9.4 24.6 0 33.9l-200 200c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l183-183-183-183c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l200 200z'/%3E%3C/svg%3E")!important;
}

@layer elements {
  input[type=checkbox]:indeterminate+label:not(:has(>iam-card)):after {
    content: "";
    display: inline-block;
    background-size: 1em 1em!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256 256-114.6 256-256S397.4 0 256 0zm0 472c-119.1 0-216-96.9-216-216S136.9 40 256 40s216 96.9 216 216-96.9 216-216 216z'/%3E%3C/svg%3E")!important;
  }


  input[type=checkbox]:checked+label:not(:has(>iam-card)):after {
    content: "";
    display: inline-block;
    background-size: 1em 1em!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 448 512'%3E%3Cpath d='M434.8 70.1c14.3 10.4 17.5 30.4 7.1 44.7l-256 352c-5.5 7.6-14 12.3-23.4 13.1s-18.5-2.7-25.1-9.3l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l101.5 101.5 234-321.7c10.4-14.3 30.4-17.5 44.7-7.1z'/%3E%3C/svg%3E")!important;
  }
}

iam-table-advanced {
  --table__container-display: contents;
}
// #endregion
