@layer utilities {
  .gap-0 {
    gap: var(--spacer-0) !important;
  }

  .gap-1 {
    gap: var(--spacer-1) !important;
  }

  .gap-2 {
    gap: var(--spacer-2) !important;
  }

  .gap-3 {
    gap: var(--spacer-3) !important;
  }

  .gap-4 {
    gap: var(--spacer-4) !important;
  }

  .gap-5 {
    gap: var(--spacer-5) !important;
  }
}
