.badge {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-weight: normal;
  font-size: 0.8em;
  vertical-align: bottom;
  line-height: 1.5em;
  min-width: 1.2em;
  padding: 0 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}