@use '../_func' as *;

@layer elements {
  // #region btn compact
  .btn[popovertarget] {
  
    position: relative;
    anchor-name: --button2;

    > .fa-chevron-down {
      display: none;
    }

    &:after {
      content: '';

      display: inline-block;
      margin-left: 1em;

      height: 0.8em;
      width: 0.8em;
      z-index: var(--index-focus);
      background: currentColor;
      mask-image: var(--icon-arrow);
      mask-size: 100%;
      mask-repeat: no-repeat;
      mask-position: 50% 50%;
      -webkit-mask-image: var(--icon-arrow);
      -webkit-mask-size: 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: 50% 50%;

      transform: rotate(90deg);
    }

    &[aria-pressed]:after {
      transform: rotate(270deg);
    }
  }

  // #endregion

  // #region btn that is a select
  .btn-action:has(select) {
    padding-block: 0;
    padding-right: 2rem;
    font-size: 1em;
  
    select {
      margin: 0rem 0rem !important;
      padding-right: 2rem!important;
      margin-right: -2rem !important;
      font-size: 1rem!important;
      appearance: base-select!important;
    }
    select::picker(select) {
      appearance: base-select;
      background: var(--menu-bg, canvas);
      margin: var(--menu-margin, 0);
      padding: var(--menu-padding, 0.5rem)!important;
      border: none !important;
      border-radius: 0.5rem;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
    }
    select::picker-icon {
      display: none;
    }    

    &:after {
      top: 0.2rem;
      right: 0.5rem;
    }

    select option {
      padding-right: 0.25rem;
      padding-block: 0.25rem;
    }
    select option::checkmark {
      min-width: 1rem;
      margin-left: 0.25em;
      display: none;
    }
    select option:checked::checkmark {
      content: '✔';
      color: #2196f3;
    }

    select selectedcontent span {
      display: none;
    }
  }
  // #endregion
}