@use '../_func.scss' as *;

// #region btn compact
.btn-compact {
  --compact-size: #{rem(48)};

  padding: 0 !important;
  margin-bottom: rem(8);

  &:not(:last-child) {
    margin-right: rem(8);
  }
  text-align: center;

  width: var(--compact-size);
  min-width: var(--compact-size);
  max-width: var(--compact-size);
  height: var(--compact-size) !important;
  min-height: var(--compact-size) !important;
  max-height: var(--compact-size) !important;

  line-height: var(--compact-size) !important;

  text-indent: -500px;
  overflow: hidden;
  position: relative;
  font-size: rem(16);

  &:before {
    content: var(--fa);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 0;
    line-height: calc(var(--compact-size) - #{rem(4)});
    font-weight: 900;
  }

  &[class*='fa-']:before {
    line-height: calc(var(--compact-size) - #{rem(4)});
  }

  &.btn-sm {
    --compact-size: #{rem(40)};
    font-size: 1rem;
    padding: 0 !important;
  }

  &.btn-action {
    --compact-size: #{rem(32)};
    font-size: 1rem;

    &:before {
      font-size: 1em;
      font-weight: 400;
    }
  }

  &.btn-secondary {
    --colour-btn-bg: transparent;
    --colour-btn-border: transparent;
    border-color: transparent;

    &:not([class*='colour-']) {
      --colour: var(--colour-light);
    }
  }

  &.btn-secondary:is(:hover, :focus, .hover, :active, .active, [aria-expanded], :focus-within):not([disabled]):not(
      .btn-collapse
    ) {
    background-color: var(--colour);
    color: var(--colour-primary-theme);
    border-color: var(--colour);

    &:is(.colour-primary, .colour-dark, .colour-danger, .colour-black) {
      color: var(--colour-inverted);
    }
  }

  &[data-number] {
    position: relative;
  }
  &[data-number]:after {
    content: attr(data-number);
    position: absolute;
    top: 0.5em;
    z-index: 99;
    background: var(--colour-danger);
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    text-indent: 0;
    left: 50%;
    font-size: 0.5em;
    line-height: 1.5em;
    text-align: center;
    color: white;
    letter-spacing: -0.1em;
    font-family: arial, sans-serif;
  }
}

[class*='bg-']:not(.bg-info):not(.bg-success):not(.bg-light):not(.bg-warning):not(.bg-white):not(.bg-admin):not(
    .bg-canvas
  ):not(.bg-canvas-2):not(.prevent-invert),
.invert-colours {
  .btn-compact.btn-secondary {
    //background: var(--colour-inverted)!important;
  }

  .btn-compact.btn-secondary:not(:hover, :focus, .hover, :focus-within):not(.btn-collapse) {
    background-color: var(--colour-inverted) !important;
    border-color: var(--colour-inverted) !important;
    color: var(--colour-primary-theme);
  }

  .btn-compact.btn-secondary:is(:hover, :focus, .hover, :focus-within):not([disabled]):not(.btn-collapse) {
    background-color: transparent;
    border-color: var(--colour-inverted) !important;
    color: var(--colour-inverted);
  }

  .btn-compact.btn-secondary[disabled] {
    background-color: var(--colour-inverted) !important;
    border-color: var(--colour-inverted) !important;
    color: var(--colour-primary-theme) !important;
  }
}

// #endregion
