@layer elements {
  pre,
  code,
  kbd,
  samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-size: 1rem;
  }

  pre {
    display: block;
    margin-top: 0; 
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 0.875rem; /* 14/16 */

    /* Account for some code outputs that place code tags in pre tags */
    code {
      font-size: inherit;
      color: inherit;
      word-break: normal;
    }
  }

  code {
    font-size: 0.875rem; /* 14/16 */
    color: #d63384;
    word-wrap: break-word;
  }

  /* Streamline the style when inside anchors to avoid broken underline and more */
  a > code {
    color: inherit;
  }

  kbd {
    padding: 0.1875rem 0.375rem;
    font-size: 0.875rem; /* 14/16 */

    kbd {
      padding: 0;
      font-size: 1rem;
      font-weight: normal;
    }
  }
}