// #region container
.container {

  margin-left: auto;
  margin-right: auto;
  padding: 0 rem(20) rem(16) rem(20);
  width: 100%;
  max-width: rem(1360);
  
  @include media-breakpoint-up(md) {
    padding: 0 rem(60) rem(16) rem(60);
  }

  .container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    content-visiblity: unset!important; /* We only want to delay the painting of top level containers */
  }

  &[class*="bg-"] {
    padding-top: rem(24);
  }

  // Fix the clearing for containers
  &:before {
    display: table;
    clear: both;
    content: "";
  }
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}
// #endregion