@layer elements {
  /*  non-js fallback */
  body:not(.js-enabled) dialog:not([open]):target {
    display: block;
  }

  /* #region Default styling of both modals */
  dialog,
  [popover] {
    --dialog-padding: 0.5rem;

    --mh-padding-inline: var(--dialog-padding);
    color: inherit;
    width: fit-content;
    height: fit-content;
    border: none;
    overscroll-behavior: contain;
    outline: var(--contrast-outline-width, 0px) solid var(--colour-primary);

    font-size: 1rem;
    background: var(--dropdown-bg);
    margin-block: var(--dropdown-margin-block);
    padding: var(--dialog-padding);
    border-radius: var(--dropdown-border-radius);
    box-shadow: var(--dropdown-box-shadow);


    > *:last-child {
      margin-bottom: 0;
    }

    > :is(p):last-child {
      padding-bottom: 0;
    }
  }

  dialog[open]:has(iam-modal) {
    --modal-inner-dialog-display: contents;
    place-self: center;
  }

  @media (prefers-color-scheme: light) {
    dialog[open]:has(iam-modal) {
      
      color-scheme: light;
      --colour-body: #595959;
      --colour-heading: var(--colour-primary-theme);
      
    }
  }

/*  Size variants */
  /*  small */
  @media screen and (min-width: 36em) {

    *:not(.dialog__wrapper) > dialog[open]:has(.modal--sm)  {
      
        min-width: 20.9375rem;
        width: 20.9375rem;
        max-width: 20.9375rem;
    }
  }

  @media screen and (min-width: 62em) {

    *:not(.dialog__wrapper) > dialog[open]:has(.modal--sm)  {
        min-width: 28.375rem;
        width: 28.375rem;
        max-width: 28.375rem;
    }
  }

  /*  large */
  @media screen and (min-width: 36em) {

    *:not(.dialog__wrapper) > dialog[open]:has(.modal--lg)  {
        min-width: 42.875rem;
        width: 42.875rem;
        max-width: 42.875rem;
    }
  }

  @media screen and (min-width: 62em) {

        *:not(.dialog__wrapper) > dialog[open]:has(.modal--lg)  {
        min-width: 46rem;
        width: 46rem;
        max-width: 46rem;
    }
  }


  dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    overscroll-behavior: contain;
  }

  dialog[open],
  [popover]:popover-open {
    display: flex;
    flex-direction: column;
  }

  /*  TODO: when the old modals are depreciated this selector can be simplified */
  *:not(.dialog__wrapper) > dialog[open],
  *:not(.dialog__wrapper) > [popover]:popover-open {

    overflow-y: auto;
    width: 90vw;
    max-width: 20.25rem; /*  col-width*4 */
    max-height: min(90vh, 47rem);
    overscroll-behavior: contain;

    @media screen and (min-width: 36em) {
      min-width: 20.9375rem;
      width: fit-content;
      max-width: 42.875rem;
    }

    @media screen and (min-width: 62em) {
      min-width: 28.375rem;
      width: fit-content;
      max-width: 46rem;
    }
  }

  
  /* #endregion */

  details.bg-light {
    margin-inline: calc(var(--dialog-padding) * -1);
    padding-inline: var(--dialog-padding);
  }
}
