%heading {
  clear: both;
  @include var(font-weight,--heading-weight);
  @include var(font-family, --font-heading);
  @include var(color,--colour-primary);
  display: block;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6  {
  
  @extend %heading;
}

.strapline {
  @include var(font-family, --font-heading);
  font-weight: 600;
}