@layer elements {

  :is(label:not(.tag), .label) {
    
    font-size: 1.125rem; /* 18/16 */
    line-height: 1.3125rem; /* 21/16 */
    margin-bottom: 0.5rem;
    font-weight: normal;
    color: var(--colour-heading);
    display: block;

    > iam-rating {
      
      margin-top: 0.25rem!important;
    }
  }
}