@layer elements {

  *:has(> .list--steps) {
    container-type: inline-size;
  }

  :is(.list--steps, .list--steps-vertical) {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 0 0.375rem 0;
    gap: 0.75rem;
    counter-reset: pages;
    color: var(--colour-heading);
    position: relative;
    margin-bottom: 0.375rem;
    text-align: center;

    & li {
      position: relative;
      display: block;
      padding-top: 2rem;
      width: 1.5rem;
      flex-grow: 0;
      flex-shrink: 1;
      overflow: hidden;
      text-indent: -300px;

      &:before {
        counter-increment: pages;
        content: counter(pages);
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -0.75rem;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.125rem; /* 18/16 */
        line-height: 1.5rem;
        text-align: center;
        font-weight: bold;
        border: 1px solid currentColor;
        border-radius: 1rem;
        text-indent: 0;
      }
    }

    li.step--current:before {
      background-color: var(--colour-primary-theme);
      border-color: var(--colour-primary-theme);
      color: var(--colour-white);
    }
    li.step--complete:before {
      background-color: light-dark(var(--colour-success),var(--colour-complete));
      border-color: light-dark(var(--colour-success),var(--colour-complete));
    }

    &::after {
      content: attr(data-mobile-text);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      display: block;
      height: 1.5rem;
      line-height: 1.5rem;
      font-weight: bold;
    }
  }

  @media screen and (min-width: 36em) {
    :is(.list--steps, .list--steps-vertical) {
      padding: 0;
      margin-bottom: 1.5rem;

      &::after {
        display: none;
      }

      li {
        width: 100%;
        flex-grow: 1;
        text-indent: 0;
        overflow: visible;

        &:not(:last-child):after {
          content: '';
          position: absolute;
          top: 0.75rem;
          left: calc(50% + 2rem);

          width: calc(100% - 2.5rem);
          height: 2px;
          font-size: 1.125rem; /* 18/16 */
          background-color: var(--colour-heading);
        }
      }
    }
  }
  @media screen and (min-width: 62em) {
    :is(.list--steps, .list--steps-vertical) {
      li {
        max-width: 20%;
      }
    }
  }

  .list--steps-vertical {

    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 2rem;
    gap: 2.5rem;
    text-align: left;

    li {
      padding-top: 0;
      padding-left: 2rem;
      width: 100%;
      text-indent: 0;
      overflow: visible;
      margin-bottom: 1.125rem; /* 18/16 */
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      min-height: 1.5rem;

      &:before {
        top: 50%;
        left: 0;
        margin-left: 0;
        margin-top: -0.75rem;
        flex-shrink: 0;
      }

      &:not(:last-child):after {
        left: 0.6875rem; /* 11/16 */
        top: 2.25rem;/* 36/16 */
        width: 2px;
        height: calc(100% + 1rem);
      }
    }
  }

  @media screen and (min-width: 36em) {
    .list--steps-vertical {
      padding-left: 2.5rem;

      li {
        padding-left: 2.25rem; /* 36/16 */

        &:not(:last-child):after {
          left: 0.75rem;
          top: 2.25rem;/* 36/16 */
          width: 2px;
          height: calc(100% + 1rem);
        }
      }
    }
  }

  @media screen and (min-width: 62em) {
    .list--steps-vertical {
      li {
        max-width: none;
        margin-bottom: 1.25rem;
      }
    }
  }
}
