@use "../_func.scss" as *;

@include is('ol, ul','','li'){
  max-width: $content-max-width;
}

.tick-list {

  padding-left: 2.5rem;

  li {
    position: relative;
    list-style: none;
    padding-bottom: 1rem;
    
    &:before {
      
      content: "";
      position: absolute;
      top: 0;
      left: -2.5rem;
      width: 1.5em;
      height: 1.5em;
      
      background: var(--colour-secondary);
      mask-image: var(--icon-tick);
      mask-size: 100%;
      mask-repeat: no-repeat;
      mask-position: 50% 50%;
      -webkit-mask-image: var(--icon-tick);
      -webkit-mask-size: 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: 50% 50%;
    }
  }
}


.breadcrumb {

  font-size: rem(14);
  padding-left: 0;
  list-style: none;

  li {
    display: inline-block;

    &:not(:first-child):before {
      content: "\00A0/\00A0";
      font-weight: bold;
      color: var(--colour-link);
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}