@use '../_func' as *;


@layer elements {
  
  :ia(.breadcrumb, .breadcrumbs) {
    font-size: 1.125rem; /* 14/16 */
    padding-left: 0;
    list-style: none;

    li {
      display: inline-block;

      &:not(:first-child):before {
        content: '\00A0/\00A0';
        font-weight: bold;
        color: var(--colour-link);
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
