@use 'sass:map';
@use 'sass:math';

@use '../_func' as *;


@layer elements{
  :is(.prefix, .suffix) {
    display: none;
  }
  
  :is(.prefix, .suffix) {
    --fa-display: flex;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0 rem(12);
    font-size: var(--input-fs, #{rem(16)});
    line-height: var(--input-lh, #{rem(20)});
    color: var(--colour-body);
    background-color: var(--colour-primary-theme);
    border: 2px solid var(--colour-primary);
    color: var(--colour-white);
    margin: 0 !important;
    //margin-bottom: 1rem;
    border-end-start-radius: rem(8);
    border-start-start-radius: rem(8);
    min-width: calc(#{rem(20 + 12 + 12)} + 4px);
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    position: relative;


    height: calc(
      var(--input-padding-block, #{rem(12)}) + var(--input-padding-block, #{rem(12)}) + var(--input-lh, #{rem(20)}) +
        4px
    );

    @supports (height: stretch) {
      
      height: stretch;
    }


    flex-shrink: 0;

    &:after {
      display: inline-block;
      max-width: rem(20);
    }

    &[class*='fa-'] {
      width: calc(#{rem(20 + 12 + 12)} + 4px);
      padding-inline: 0;
    }

    select {
      position: absolute;
      inset: 0;
      opacity: 0;
      cursor: pointer;
    }

    span {
      display: none;
    }

    select:has(option:nth-child(1):checked) ~ span:nth-of-type(1),
    select:has(option:nth-child(2):checked) ~ span:nth-of-type(2),
    select:has(option:nth-child(3):checked) ~ span:nth-of-type(3),
    select:has(option:nth-child(4):checked) ~ span:nth-of-type(4),
    select:has(option:nth-child(5):checked) ~ span:nth-of-type(5),
    select:has(option:nth-child(6):checked) ~ span:nth-of-type(6),
    select:has(option:nth-child(7):checked) ~ span:nth-of-type(7),
    select:has(option:nth-child(8):checked) ~ span:nth-of-type(8),
    select:has(option:nth-child(9):checked) ~ span:nth-of-type(9),
    select:has(option:nth-child(10):checked) ~ span:nth-of-type(10) {
      display: block;
    }

    select ~ span:after {
      content: ' \f078';
      font-family: 'Font Awesome 6 Pro';
      font-size: 0.8em;
      display: inline-block;
      padding-left: 1em;
    }

    select:focus-visible ~ span:after {
      content: '\f077';
    }
  }

  .prefix {
      border-right: none;
    }

    .suffix {
      border-left: none;
      border-end-start-radius: 0;
      border-start-start-radius: 0;
      border-start-end-radius: rem(8) !important;
      border-end-end-radius: rem(8) !important;
      order: 2;
    }

    .prefix span {
      display: none;

      small {
        font-size: 0.8em;
      }
    }

    .prefix
      ~ :is(input:not([type='checkbox']):not([type='radio']):not([type='file']):not([type='range']), textarea, output) {
      border-end-start-radius: 0 !important;
      border-start-start-radius: 0 !important;
    }

}