@use 'sass:map';
@use 'sass:math';

@use '../_func' as *;


@layer elements {


  textarea {

    --textarea-height-scale: 3;

    margin: 0; // 1
    font-family: inherit;
  
    resize: vertical; // 1
    display: block;
    width: 100%;
    display: block;
    width: 100%;
    padding: var(--input-padding-block, 0.75rem) var(--input-padding-inline, 1rem);
    font-size: var(--input-fs, 1rem);
    line-height: var(--input-lh, 1.25rem);
    color: var(--colour-heading);
    background-color: var(--colour-canvas-2);
    background-clip: padding-box;
    border: 2px solid var(--colour-primary);
    appearance: none; // Fix appearance for date inputs in Safari
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    max-height: 100%;

    
    &:not([rows]){
      
      min-height: calc(
        var(--input-padding-block, 0.75rem) + var(--input-padding-block, 0.75rem) +
          (var(--input-lh, 1.25rem) * var(--textarea-height-scale)) + 4px
      ) !important;
    }

    &[rows="1"] {
      
      --textarea-height-scale: 1;
    }

    &[rows="2"] {
      
      --textarea-height-scale: 2;
    }

    &:is([rows="2"],[rows="2"]) {
      min-height: calc(
        var(--input-padding-block, 0.75rem) + var(--input-padding-block, 0.75rem) +
          (var(--input-lh, 1.25rem) * var(--textarea-height-scale)) + 4px
      ) !important;
    }

    // Customize the `:focus` state to imitate native WebKit styles.
    &:is(:focus, .focus):not(:disabled) {
      border-color: var(--colour-info);
      outline: 0;
    }

    &:is(:focus, .focus):not(:disabled):not(:invalid) {
      box-shadow: 0 0 0 0.1rem rgba(30, 190, 230, 0.25);
    }
    

    // Disabled inputs
    &:disabled {
      background-color: #ccd6d8;
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  [disabled] textarea {
      background-color: #ccd6d8;
      opacity: 0.4;
      cursor: not-allowed;
      pointer-events: none;
  }

  label:not(.tag):has(textarea) {
    display: block;
    margin-bottom: 1.5rem;
    max-width: var(--input-max-width);

    textarea {
      margin-top: 0.5rem;
      margin-bottom: 0 !important;
    }
  }

}