@use 'sass:math';
@use '_func' as *;




@use 'components/nav.preload';
@use 'components/banner.preload';
@use 'components/card.preload';
@use 'components/header.preload';
@use 'components/carousel.config';
@use 'components/multi-step-modal.global';

@use 'components/inline-edit.preload';
@use 'components/charts.config';
@use 'components/menu.global';

@use 'components/tabs.config';

@use 'components/address-lookup.preload';


@use 'components/milestone';
@use 'components/calendar.config';
@use 'components/skeleton.global';

@layer components {
  /*  Make sure the first */
  main {
    position: relative;

    > *:first-child {
      padding-top: 2rem;
    }
  }



  /*  Search */
  iam-search .optional-text {
    display: none !important;
  }

  /*  Table dark mode support */
  iam-table {
    tbody tr {
      @container style(--theme: dark) {
        --hover-background: var(--colour-canvas);

        &:is(:hover, :focus-within, .hover) {
          background: var(--row-bg);
        }
      }
    }
  }

  @container (width > 23.4375em) {
    iam-table.table--cta:not(.table--loading):not(:has(tr:first-child td:first-child:last-child)) {
      tr > *:not(:first-child):last-child {
        @media screen and (prefers-color-scheme: dark) {
          background: linear-gradient(90deg, transparent 0%, var(--row-bg) 1.25rem);
        }
      }
    }
  }

  iam-table {
    tr:has([type='checkbox']:checked) {
      @container style(--theme: dark) {
        --row-bg: #000000;
      }
    }
  }

  iam-pagination {
    --pagination-link-color: var(--colour-light);
    --pagination-link-color-active: #e0e0e0;
  }

  iam-fileupload::part(file) {
    @container style(--theme: dark) {
      background: var(--colour-canvas-2);
      border-color: var(--colour-canvas-2);
      color: var(--colour-body);
    }
  }
}
