@use "sass:math";
@use "_func" as *;

@layer reset, elements, components, templates, utilities, overrides;


$root: ":root"!default;
$layers: "true"!default;

// Foundations
@include layer('reset') {
  
  @import "foundations/root.scss";
  @import "foundations/reboot.scss";
  @import "foundations/bs_grid.scss";
}

@include layer('elements') {
  @import "_elements.scss";
}

@include layer('components') {

  // Deal with preloaded state of native components
  @import "_components.scss";

}

@include layer('templates') {
  @import "templates/form.scss";
  @import "templates/auth.scss";
}

@include layer('utilities') {
    
  @import "_utilities.scss";
}

@include layer('overrides') {
  @media (prefers-reduced-motion) {
   * {
    transition: unset;
    animation: none;
   }
  }
}