@use 'sass:math';
@use '_func' as *;

@mixin bsgrid() {
  @if $disable-bs-grid == 'false' {
    @content;
  } @else {
    // Grid Disabled
  }
}

@layer reset, elements, components, templates, utilities, overrides;

$root: ':root' !default;
$layers: 'true' !default;

// Foundations
@include layer('reset') {
  @import 'foundations/root.scss';
  @import 'foundations/reboot.scss';
  @import 'foundations/grid.scss';
}

@include bsgrid() {
  @import 'foundations/bs_grid.scss';
}

@include layer('elements') {
  @import '_elements.scss';
}

@include layer('components') {
  // Deal with preloaded state of native components
  @import '_components.scss';
}

@include layer('templates') {
  @import 'templates/form.scss';
  @import 'templates/auth.scss';
}

@include layer('utilities') {
  @import '_utilities.scss';

  @import '_functions/utilities';

  @each $key, $utility in $new_utilities {
    
    .#{$key} {
      
      @extend #{"%" + $key};
    }
  }
  
  @include clearfix();

  
  .clearfix { @include _clearfix(); }


}

@include layer('overrides') {
  @media (prefers-reduced-motion) {
    * {
      transition: unset;
      animation: none;
    }
  }
}
