$compatible: 'false'!default;
$mobileOnly: 'false'!default;
$darkMode: 'true'!default;
$layers: 'true'!default;
$optionalText: 'true'!default;

// Declare global vars variable
$vars: ()!default;
$varsSM: ()!default;
$varsMD: ()!default;

$prefix: '';

@import "_functions/functions";
@import "_functions/variables";
@import "_functions/mixins";
@import "_functions/utilities";