@use 'sass:math';
@use '_func' as *;

$root: ':root' !default;
$layers: 'true' !default;
$mobileOnly: 'false' !default;
$darkMode: 'true' !default;

@include layer('utilities', $layers) {
  @include clearfix();
  @include visually-hidden();
  @include text-truncate();
  @include ratio();
  @include fixed();
  @include sticky();
  @include max-height();
  @include js-display();
  @include line-clamp();
  @include align();
  @include opacity();
  @include overflow();
  @include display();
  @include position();
  @include border();
  @include sizes();
  @include flex();
  @include order();
  @include margins();
  @include paddings();
  @include gap();
  @include text();
  @include colours();
  @include wider-colours();
  @include pointer-events();
  @include rounded();
  @include visible();
}
