@use 'sass:map';

@charset "UTF-8";

// Set mobile only variable so that the media query mixin doesn't print out non mobile rules
@use '_functions/bs_functions' as *;
@use '_functions/bs_variables' as *;
@use '_functions/bs_mixins' as *;


@use '_corefiles';
@use '_grid';
@use '_bs_grid';
@use '_bs_utilities';
@use '_utilities';

@layer reset {
  html {
    --font-body: arial, sans-serif !important;
    --font-heading: arial, sans-serif !important;
  }
}

@layer utilities {
  .gradient-primary {
    background-image: linear-gradient(
      var(--gradient-direction),
      var(--colour-primary-theme) 0,
      var(--colour-primary-theme) 20%,
      transparent 100%
    ) !important;
  }
}
