@use 'sass:map';

@charset "UTF-8";

// Set mobile only variable so that the media query mixin doesn't print out non mobile rules
@use '_func' as *;

@use '_corefiles';
@use '_grid';
@use '_bs_grid';
@use '_utilities';
@use '_utility-mixins';

@include layer('reset') {
  html {
    --font-body: arial, sans-serif !important;
    --font-heading: arial, sans-serif !important;
  }
}

@include layer('elements') {
  .h1 {
    --line-height: #{map.get($heading-sizes, 'h1_lh')};

    font-size: map.get($heading-sizes, 'h1_fs');
    padding-bottom: map.get($heading-sizes, 'h1_pb');
    font-weight: 900;
  }
}

@include layer('utilities') {
  .gradient-primary {
    background-image: linear-gradient(
      var(--gradient-direction),
      var(--colour-primary-theme) 0,
      var(--colour-primary-theme) 20%,
      transparent 100%
    ) !important;
  }
}
