@charset "UTF-8";

// Set mobile only variable so that the media query mixin doesn't print out non mobile rules
@use "_func" as *;

@include layer('reset') {

  html {
    --font-body: arial, sans-serif!important;
    --font-heading: arial, sans-serif!important;
  }
}

@import "_corefiles";

@include layer('elements') {
.h1 {
  --line-height: #{rem(map-get($heading-sizes,"h1_lh"))};

  font-size: rem(map-get($heading-sizes,"h1_fs"));
  padding-bottom: rem(map-get($heading-sizes,"h1_pb"));
  font-weight: 900;

  @include media-breakpoint-up(sm) {

    font-size: rem(map-get($heading-sizes,"h1_fs_sm"));
    --line-height: #{rem(map-get($heading-sizes,"h1_lh_sm"))};
    padding-bottom: rem(map-get($heading-sizes,"h1_pb_sm"));
  }
}
}

@include layer('utilities') {
  .gradient-primary {
    background-image: linear-gradient(var(--gradient-direction), var(--colour-primary-theme) 0, var(--colour-primary-theme) 20%, transparent 100%) !important;
  }
}