@import '../node_modules/sass-true/sass/true';
@import '../assets/sass/_func.scss';

$test_colors: ();
$test_colors: map-merge((
  "primary": rgba(var(--colour-primary-rgb), var(--alpha, 1)),
  "secondary": rgba(var(--colour-secondary-rgb), var(--alpha, 1)),
  "success": rgba(var(--colour-success-rgb), var(--alpha, 1)),
  "info": rgba(var(--colour-info-rgb), var(--alpha, 1)),
  "warning": rgba(var(--colour-warning-rgb), var(--alpha, 1)),
  "danger": rgba(var(--colour-danger-rgb), var(--alpha, 1)),
  "light": rgba(var(--colour-light-rgb), var(--alpha, 1)),
  "dark": rgba(var(--colour-dark-rgb), var(--alpha, 1)),
  "muted": #9d9d9d,
  "border": #6f6f6f,
  "link": #00313c,
  "focus": #000000,
  "hover": #000000,
  "active": #b4e6a5,
  "selected": #b4e6a5
), $test_colors);


@include describe('Colour variables are added to the global var array [Variable]') {
  @each $color, $value in $test_colors {

    @include it($color+' colour variable is added to the global var array with the correct hex code') {
      @include assert {
        @include output {
          color: map-get($vars, --colour-#{$color});
        }
        @include expect {
          color: $value;
        }
      }
    }
  }
}