@use "../../../../assets/sass/func" as *;


// Client wrapper
.client-wrapper {
  .client-wrapper__inner,
  .container {
    &[class*="bg-"] {
      padding-top: 2rem;
    }
  }
}
@include media-breakpoint-up(md) {

  .client-wrapper {
    
    margin-left: auto;
    margin-right: auto;
    padding: 3rem var(--container-padding-x) var(--container-padding-bottom) var(--container-padding-x);
    width: 100%;
    max-width: rem(1440);
    padding-top: 2rem;
    --gradient-direction: 90deg;
    background-image: linear-gradient(var(--gradient-direction), var(--colour-primary) 0, transparent 100%) !important;
    background-color: var(--colour-info) !important;

    .client-wrapper__inner,
    .container {
      margin-bottom: 3rem;
      overflow: hidden;

      &[class*="bg-"] {
        
        border-radius: 2rem;
        padding-block: 3rem;
      padding-inline: 3rem;
      }

      .container[class*="bg-"] {
        margin-bottom: 2rem;
        padding: 2rem;
      }
    }

    *:not(.container-md--connected) + .container-md--connected {

      border-end-end-radius: 0;
      border-end-start-radius: 0;
      margin-bottom: 0!important;
    }

    .container-md--connected + .container-md--connected {

      border-start-end-radius: 0;
      border-start-start-radius: 0;
    }



    &.d-md-flex {
      flex-wrap: wrap;

      .ms-md-0 {
        margin-inline-start: 0;
      }

      .me-md-0 {
        margin-inline-end: 0;
      }
      

      > .container[class*="col-md-6"]{
        width: 50%;
      }

      > .container[class*="col-md-5"]{
        width: 41.66666667%;
      }
    }
  }
}



.client-question {

  padding-bottom: 2rem;
  display: block;

  .client-question__secondary > p,
  > p {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  .client-question__inner {

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .btn-check {
      display: none;
    }

    > :not(.btn) {
      width: 100%;
    }

    > .btn {
      flex: 0 0 auto;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      max-width: 50%;
      margin: 0;

      
      @include media-breakpoint-up(sm) {
        max-width: rem(160);
      }
    }
  }

  .client-question__secondary {
    background: var(--colour-admin);

    margin-inline: calc(var(--container-padding-x) * -1);
    padding-inline: var(--container-padding-x);
    width: calc(100% + var(--container-padding-x) + var(--container-padding-x))!important;
    padding-block: 1rem;
  }
}

@include media-breakpoint-up(md) {
  
  .client-question {

    & + .client-question {
      border-top: 1px solid var(--colour-admin);
      padding-top: 1rem;
    }

    display: flex!important;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;

    > * {
      margin-right: auto;
    }

    > p {
      margin-bottom: 0;
      padding-right: 2rem;
    }

    .btn {
      max-width: fit-content!important;
    }

    .client-question__inner {
      margin-left: auto;
      display: contents;
    }

    hr {
      display: none;
    }

    .client-question__secondary {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      align-items: center;
      margin-bottom: calc(-1rem + -1px);

      & > p {
        margin-right: auto;
        margin-bottom: 0;
      }
    }

  }
}



@media screen and (max-width: 62em) {
  .table__wrapper.client-table {

    overflow: hidden;

    thead {
      display: none;
    }

    tbody {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      border-top: none;
    }

    tr {
      display: block;
      width: calc(50% - 0.5rem);
      position: relative;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border: none;
    }

    td,
    th {
      display: block;
      padding-right: 0;
      padding-top: 0;
      border-bottom: 2px solid var(--colour-admin);
      position: relative;

      &:not([data-label="Actions"]){
        
        padding-left: 50%;
        
        &[data-label]:before {
          content: attr(data-label);
          color: var(--colour-heading);
          padding: 0;
          margin-bottom: 0;
          display: block;
          font-weight: bold;
          margin: 0;

          position: absolute;
          top: 0;
          left: 0;
              
          height: 100%;
          white-space: normal;
          width: 50%;
        }
      }

      &:first-child {
        background: var(--colour-admin);
      }
    }

    &.table-minify tr:not(:hover) {
      td:not(:first-child){
        display: none;
      }
    }
  }
}


@media screen and (max-width: 36em) {
  .table__wrapper.client-table {

    tr {
      width: 100%;
    }
  }
}