@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
@use 'sass:list';
@use 'sass:string';

@use 'variables' as *;
@use 'functions' as *;

// Utility generator
// Used to generate utilities & print utilities
@mixin generate-utility($utility, $infix, $is-rfs-media-query: false) {
  $values: map.get($utility, values);

  // If the values are a list or string, convert it into a map
  @if meta.type-of($values) == 'string' or meta.type-of(list.nth($values, 1)) != 'list' {
    $values: list.zip($values, $values);
  }

  @each $key, $value in $values {
    $properties: map.get($utility, property);

    // Multiple properties are possible, for example with vertical or horizontal margins or paddings
    @if meta.type-of($properties) == 'string' {
      $properties: list.append((), $properties);
    }

    // Use custom class if present
    $property-class: if(map.has-key($utility, class), map.get($utility, class), list.nth($properties, 1));
    $property-class: if($property-class == null, '', $property-class);

    // Use custom CSS variable name if present, otherwise default to `class`
    $css-variable-name: if(
      map.has-key($utility, css-variable-name),
      map.get($utility, css-variable-name),
      map.get($utility, class)
    );

    // State params to generate pseudo-classes
    $state: if(map.has-key($utility, state), map.get($utility, state), ());

    $infix: if($property-class == '' and string.slice($infix, 1, 1) == '-', string.slice($infix, 2), $infix);

    // Don't prefix if value key is null (eg. with shadow class)
    $property-class-modifier: if($key, if($property-class == '' and $infix == '', '', '-') + $key, '');

    @if map.get($utility, rfs) {
      // Inside the media query
      @if $is-rfs-media-query {
        $val: rfs-value($value);

        // Do not render anything if fluid and non fluid values are the same
        $value: if($val == rfs-fluid-value($value), null, $val);
      } @else {
        $value: rfs-fluid-value($value);
      }
    }

    $is-css-var: map.get($utility, css-var);
    $is-local-vars: map.get($utility, local-vars);
    $is-rtl: map.get($utility, rtl);

    @if $value != null {
      @if $is-rtl == false {
        /* rtl:begin:remove */
      }

      @if $is-css-var {
        .#{$property-class + $infix + $property-class-modifier} {
          --#{$css-variable-name}: #{$value};
        }

        @each $pseudo in $state {
          .#{$property-class + $infix + $property-class-modifier}-#{$pseudo}:#{$pseudo} {
            --#{$css-variable-name}: #{$value};
          }
        }
      } @else {
        .#{$property-class + $infix + $property-class-modifier} {
          @each $property in $properties {
            @if $is-local-vars {
              @each $local-var, $variable in $is-local-vars {
                --#{$local-var}: #{$variable};
              }
            }
            #{$property}: $value !important;
          }
        }

        @each $pseudo in $state {
          .#{$property-class + $infix + $property-class-modifier}-#{$pseudo}:#{$pseudo} {
            @each $property in $properties {
              @if $is-local-vars {
                @each $local-var, $variable in $is-local-vars {
                  --#{$local-var}: #{$variable};
                }
              }
              #{$property}: $value !important;
            }
          }
        }
      }

      @if $is-rtl == false {
        /* rtl:end:remove */
      }
    }
  }
}

// #endregion





// Row columns
//
// Specify on a parent element(e.g., .row) to force immediate children into NN
// number of columns. Supports wrapping to new lines, but does not do a Masonry
// style grid.
@mixin row-cols($count) {
  > * {
    flex: 0 0 auto;
    width: math.div(100%, $count);
  }
}



// #endregion


@mixin container-up($name) {
  @if $name == 'sm' {
    @container (width > 23.4375em) {
      @content;
    }
  } @else if $name == 'md' {
    @container (width > 48em) {
      @content;
    }
  } @else if $name == 'xs' {
    @content;
  } @else {
    @content;
  }
}

// Example: @include prefix(transition, transform 1.5s, webkit ms o);
@mixin prefix($property, $value, $prefixes: (webkit ms o)) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

// Used to make it possible to use css properties but still support IE11
@mixin var($property, $varName, $important: '') {
  #{$property}: var(#{$varName}) #{$important};
}

@mixin inline-text() {
  p,
  ul,
  ol,
  dd,
  .body,
  table:not(.table--email) td {
    @content;
  }
}

@mixin headers($includeClasses: 'false') {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }

  @if $includeClasses == 'true' {
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      @content;
    }
  }
}

@mixin bg-variant($parent, $color, $ignore-warning: false) {
  #{$parent} {
    --bg-colour: var(--colour-#{str-replace($parent, '.bg-', '')});
    --bg-colour-tint: var(--colour-#{str-replace($parent, '.bg-', '')}-tint);

    @include var(background-color, --colour-#{str-replace($parent, '.bg-', '')}, !important);
  }
}
@mixin text-emphasis-variant($parent, $color, $ignore-warning: false) {
  #{$parent} {
    @include var(color, --colour-#{str-replace($parent, '.text-', '')}, '!important');
  }
}




@mixin is($selector, $before: '', $after: '') {
  #{$before}:is(#{$selector})#{$after} {
    @content;
  }
}


@mixin slotted($el, $isComponent: 'true') {
  @if $isComponent == 'true' {
    ::slotted(#{$el}) {
      @content;
    }
  } @else {
    #{$el} {
      @content;
    }
  }
}

@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

@mixin input {
  display: block;
    width: 100%;
    display: block;
    width: 100%;
    padding: var(--input-padding-block, #{rem(12)}) var(--input-padding-inline, #{rem(16)});
    font-size: var(--input-fs, #{rem(16)});
    line-height: var(--input-lh, #{rem(20)});
    color: var(--colour-heading);
    background-color: var(--colour-canvas-2);
    background-clip: padding-box;
    border: 2px solid var(--colour-primary);
    appearance: none; // Fix appearance for date inputs in Safari
    border-radius: rem(8);
    margin-bottom: rem(24);
    min-height: calc(
      var(--input-padding-block, #{rem(12)}) + var(--input-padding-block, #{rem(12)}) + var(--input-lh, #{rem(20)}) +
        4px
    );
    max-height: calc(
      var(--input-padding-block, #{rem(12)}) + var(--input-padding-block, #{rem(12)}) + var(--input-lh, #{rem(20)}) +
        4px
    );

    &:is(textarea) {
      max-height: 100%;
    }

    // Customize the `:focus` state to imitate native WebKit styles.
    &:is(:focus, .focus):not(:disabled) {
      border-color: var(--colour-info);
      outline: 0;
    }

    &:is(:focus, .focus):not(:disabled):not(:invalid) {
      box-shadow: 0 0 0 0.1rem rgba(30, 190, 230, 0.25);
    }
    // Add some height to date inputs on iOS
    // https://github.com/twbs/bootstrap/issues/23307
    // TODO: we can remove this workaround once https://bugs.webkit.org/show_bug.cgi?id=198959 is resolved
    &::-webkit-date-and-time-value {
      // Multiply line-height by 1em if it has no unit
      height: if(math.unit(1.5) == '', 1.5 * 1em, 1.5);
    }

    // Disabled inputs
    &:disabled {
      background-color: #ccd6d8;
      opacity: 0.4;
      cursor: not-allowed;
    }
}
