@use 'sass:map';
@use 'sass:string';
@use 'sass:math';

$vars: () !default;


@use 'functions' as *;

// #region Grid Breakpoints, layouts
$grid-row-columns: 6 !default;
$grid-breakpoints: (
  xs: 0,
  sm: 36em,
  /* 576 */ md: 62em /* 992 */,
);

$breakpoints: $grid-breakpoints;

@include assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

@each $bp, $value in $grid-breakpoints {
  $vars: map.merge((--breakpoint-#{$bp}: #{$value}), $vars);
}

$device-xs-width: 375;
$device-sm-width: 768;
$device-md-width: 1280;



$container-max-widths: (
  sm: 0,
  md: 80em,
);

$grid-columns: 12;
$grid-gutter-width: 1rem; // 15px

// #region grid options
$columns: 12 !default;
$rows-per-page: 20 !default;
$gap: #{rem(16)} !default;
$gutter: #{rem(24)} !default;
$max-width-px: 1280 !default;
$max-width: #{rem($max-width-px)} !default;
$grid-utility-count: 10 !default;

$vars: map.merge(
  (
    '--gap': #{$gap},
    '--gutter': #{$gutter},
    '--max-width': #{$max-width},
  ),
  $vars
);
// #endregion





$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer,
  3: $spacer * 1.5,
  4: $spacer * 2,
  5: $spacer * 3,
);

$gutters: $spacers;

@each $key, $value in $spacers {
  $vars: map.merge((--spacing-#{$key}: #{$value}), $vars);
}

// #endregion


// #region Type


/* Headings variables are setup this way so that we can export them into the vue documentation */
$heading-sizes: (
  /* H1 */ 'h1_fs': round(calc(var(--body-fs, 1rem) * pow(var(--type-scale), 6)), 0.25rem),
  'h1_lh': round(calc(1em * var(--type-scale)), 0.25rem),
  'h1_pb': round(calc(1em * var(--type-scale)), 0.25rem),
  /* H2 */ 'h2_fs': round(calc(var(--body-fs, 1rem) * pow(var(--type-scale), 5)), 0.25rem),
  'h2_lh': round(calc(1em * var(--type-scale)), 0.25rem),
  'h2_pb': round(calc(1em * var(--type-scale)), 0.25rem),
  /* H3 */ 'h3_fs': round(calc(var(--body-fs, 1rem) * pow(var(--type-scale), 3)), 0.25rem),
  'h3_lh': round(up, calc(1em * var(--type-scale)), 0.25rem),
  'h3_pb': round(up, calc(1em * var(--type-scale)), 0.25rem),
  /* H4 */ 'h4_fs': round(calc(var(--body-fs, 1rem) * pow(var(--type-scale), 2)), 0.25rem),
  'h4_lh': round(up, calc(1em * var(--type-scale)), 0.25rem),
  'h4_pb': round(up, calc(1em * var(--type-scale)), 0.25rem),
  'lead_fs': 18,
  'lead_lh': 28,
  'lead_pb': 48,
  'body_fs': 16,
  'body_lh': 24,
  'body_pb': 48 - 24,
  'body_end_pb': 48,
  'small_fs': 14,
  'small_lh': 24,
  'small_pb': 48
);

/* H2 */
$h1-font-size: map.get($heading-sizes, 'h1_fs');
$h2-font-size: map.get($heading-sizes, 'h2_fs');
$h3-font-size: map.get($heading-sizes, 'h3_fs');
$h4-font-size: map.get($heading-sizes, 'h4_fs');
$h5-font-size: map.get($heading-sizes, 'h4_fs');
$h6-font-size: map.get($heading-sizes, 'h4_fs');

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
) !default;

// #endregion

// #region Buttons
$btn-border-radius: 1rem;
$btn-border-radius-sm: 1rem;
$btn-border-radius-lg: 1rem;

$btn-padding-y: 0.5rem;
$btn-padding-x: 1.5rem;
$btn-padding-y-sm: $btn-padding-y;
$btn-padding-x-sm: $btn-padding-x;
$btn-padding-y-md: $btn-padding-y;
$btn-padding-x-md: $btn-padding-x;

// #endregion

// #region Forms
// label
$form-label-font-size: rem(18);
$form-label-font-weight: bold;
$form-label-color: var(--colour-heading);
$form-label-margin-bottom: 0.25rem;
// input field
$input-font-size: 1rem;
$input-font-weight: normal;
$input-line-height: 1.5;
$input-padding-y: 0.75em;
$input-padding-x: 1em;
$input-border-radius: rem(10);
$input-border-color: var(--colour-primary);
$input-border-width: 2px;

// sm
$input-height-sm: null;
$input-font-size-sm: #{rem(14)};
$input-border-radius-sm: null; // Inherit default value
$input-padding-y-sm: null;
$input-padding-x-sm: null;

// lg
$input-height-lg: null;
$input-font-size-lg: #{rem(24)};
$input-border-radius-lg: false; // Inherit default value
$input-padding-y-lg: null;
$input-padding-x-lg: null;

// Input group
$input-group-addon-bg: white;
$input-group-addon-border-color: var(--colour-border);

// Select
$form-select-padding-y: $input-padding-y;
//$form-select-indicator-padding
$form-select-padding-x: #{$input-padding-x};
$form-select-border-color: var(--colour-primary);
$form-select-border-radius: $input-border-radius;
$form-select-border-width: 2px;

// Checkbox
$form-check-input-width: 1.5rem;
$form-check-min-height: #{rem(28)};
$form-check-padding-start: 2rem;
$form-check-margin-bottom: #{rem(16)};

$form-check-input-border: 1px solid var(--colour-border);

$form-check-input-checked-color: #00313c;
$form-check-input-checked-bg-color: var(--colour-info);
$form-check-input-checked-border-color: var(--colour-border);
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/></svg>");

$form-check-input-indeterminate-color: #00313c;
$form-check-input-indeterminate-bg-color: var(--colour-info);
$form-check-input-indeterminate-border-color: var(--colour-info);
$form-check-input-indeterminate-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10h8'/></svg>");

$form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#d8d8d8'/></svg>");
$form-switch-focus-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#000000'/></svg>");
$form-switch-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#00313c'/></svg>");

$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#00313c'/></svg>");

// #endregion




