@layer utilities {
  
  $breakpoints: (
    sm: 36em,
    md: 62em,
  );
  @each $breakpoint,$width in $breakpoints {
    @media screen and (min-width: $width) {

      .order-#{$breakpoint}-first {
        order: -1 !important;
      }

      .order-#{$breakpoint}-0 {
        order: 0 !important;
      }

      .order-#{$breakpoint}-1 {
        order: 1 !important;
      }

      .order-#{$breakpoint}-2 {
        order: 2 !important;
      }

      .order-#{$breakpoint}-3 {
        order: 3 !important;
      }

      .order-#{$breakpoint}-4 {
        order: 4 !important;
      }

      .order-#{$breakpoint}-5 {
        order: 5 !important;
      }

      .order-#{$breakpoint}-last {
        order: 6 !important;
      }
    }
  }
}