.icon-wrap {
    margin: 3rem;
}
.icon-image {
    width:5rem;
    height:5rem;
    display: block;
    margin: 0 auto;  
}
.icon-section {
    i {
        font-size: 5rem;
        display: block;
        text-align: center;
    }
}