@use "../_func.scss" as *;

// Accordion
:host {
  --accordion-indent: 0.75rem;
  --accordion-right-padding: 3rem;
  --accordion-y-padding: 1rem;
  --accordion-icon-size: #{rem(30)};
  --accordion-icon-top: #{rem(12)};

  @include media-breakpoint-up(md) {
    //--accordion-indent: 1rem;
    --accordion-right-padding: 6rem;
    --accordion-y-padding: 2rem;
    --accordion-icon-size: #{rem(48)};
    --accordion-icon-top: #{rem(20)};
  }  
  
  margin-bottom: 2rem;
    border-top: $accordion-border-width solid $accordion-border-color;
}

::slotted(details) {
  background-color: $accordion-bg!important;
  border-bottom: $accordion-border-width solid $accordion-border-color!important;
  margin-bottom: 0!important;
}
