@use "../_func.scss" as *;

.accordion-header {

  padding: $accordion-button-padding-y var(--accordion-right-padding) $accordion-button-padding-y $accordion-button-padding-x;
  color: var(--colour-heading);
  text-align: left; // Reset button style
  background-color: $accordion-button-bg;
  overflow-anchor: none;
  @include transition($accordion-transition);

  --marker-bg: var(--colour-secondary);



  cursor: pointer;
  position: relative;
  max-width: 100%;

  .badge {
    vertical-align: bottom;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.1em;
  }


  &:before,
  &:after {

    content: "";
    position: absolute;
    right: var(--accordion-indent);
    top: var(--accordion-icon-top);
    margin-top: var(--accordion-icon-size-half);
    width: var(--accordion-icon-size);
    height: var(--accordion-icon-size);
  }

  &:before {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: var(--marker-bg);
    border-radius: 100%;


  }

  // Accordion icon
  &::after {
    background: currentColor;
    mask-image: escape-svg($accordion-button-icon);
    mask-size: 50%;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
  
    -webkit-mask-image: escape-svg($accordion-button-icon);
    -webkit-mask-size: 50%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;

    @include transition($accordion-icon-transition);
    transform: rotate(90deg);


    @media (forced-colors: active) {
      content: "\25BA";
      mask-image: none;
      -webkit-mask-image: none;
    }

  }

  &:hover,
  &:focus {

    --marker-bg: var(--colour-warning);
    color: var(--colour-hover);
  }

  &:hover {
    z-index: var(--index-focus);
  }

  &:focus {
    z-index: var(--index-focus);
    border-color: $accordion-button-focus-border-color;
    outline: 0;
    box-shadow: $accordion-button-focus-box-shadow;
  }

  [open] > summary > & {
    color: var(--colour-heading);
    background-color: $accordion-button-active-bg;
    
    &::after {
      
      transform: rotate(-90deg);
    }
  }
}

// #region Coloured summary
.accordion-header[class*="bg-"] {

  .accordion-button {

    border-bottom: 1px solid var(--colour-border);
    margin-bottom: -1px;

    &:before {
      background: none!important;
    }
  }

  &:hover .accordion-button {
    opacity: 0.8;
  }

  & + .accordion-body {

    padding-top: 2rem;
  }
}
// #endregion

.accordion-header {
  margin-bottom: 0;
}

.accordion-header ~ * {
  text-align: left;
  padding-inline: $accordion-body-padding-x;
}
