// Accordion
.accordion {
  --accordion-indent: 0;
  --accordion-right-padding: 3rem;
  --accordion-y-padding: 1rem;
  --accordion-icon-size: #{rem(30)};
  --accordion-icon-top: #{rem(12)};

  @include media-breakpoint-up(md) {
    --accordion-indent: 0.5rem;
    --accordion-right-padding: 6rem;
    --accordion-y-padding: 2rem;
    --accordion-icon-size: #{rem(48)};
    --accordion-icon-top: #{rem(20)};
  }
}

.accordion-button {

  padding: $accordion-button-padding-y var(--accordion-right-padding) $accordion-button-padding-y $accordion-button-padding-x;
  color: $accordion-button-color;
  text-align: left; // Reset button style
  background-color: $accordion-button-bg;
  overflow-anchor: none;
  @include transition($accordion-transition);

  --marker-bg: var(--colour-secondary);
  cursor: pointer;
  position: relative;

  &:before,
  &:after {

    content: "";
    position: absolute;
    right: var(--accordion-indent);
    top: var(--accordion-icon-top);
    margin-top: var(--accordion-icon-size-half);
    width: var(--accordion-icon-size);
    height: var(--accordion-icon-size);
  }

  &:before {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: var(--marker-bg);
    border-radius: 100%;
  }

  // Accordion icon
  &::after {
    background: currentColor;
    mask-image: escape-svg($accordion-button-icon);
    mask-size: 50%;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
  
    -webkit-mask-image: escape-svg($accordion-button-icon);
    -webkit-mask-size: 50%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;

    @include transition($accordion-icon-transition);
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {

    --marker-bg: var(--colour-warning);
    color: var(--colour-hover);
  }

  &:hover {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
    border-color: $accordion-button-focus-border-color;
    outline: 0;
    box-shadow: $accordion-button-focus-box-shadow;
  }

  [open] & {
    color: $accordion-button-active-color;
    background-color: $accordion-button-active-bg;
    
    &::after {
      
      transform: rotate(-90deg);
    }
  }
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  background-color: $accordion-bg;
  border-bottom: $accordion-border-width solid $accordion-border-color;
  margin-bottom: 2rem;

  &:first-of-type {
    border-top: $accordion-border-width solid $accordion-border-color;
  }

  & + .accordion-item {
    margin-top: -2rem;
  }
}

.accordion-body {
  text-align: left;
  padding: 0 $accordion-body-padding-x;
}
