@use "../_func.scss" as *;


// Dialog wrapper
.dialog__wrapper[slot="overflow"] dialog[open] {

  display: contents;
}

iam-actionbar {

  background-color: #FCFCFC;
  display: block;
  border-top-left-radius: rem(10);
  border-top-right-radius: rem(10);
}

iam-table iam-actionbar {

  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@container (width < 23.4375em) {

  iam-table iam-actionbar {

    display: block;
    position: sticky;
    left: 0;
    top: calc(var(--nav-height) + #{rem(24)});
    border: none;
    background: var(--colour-canvas-2);
    
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
    border-radius: 0.5rem;
    margin-bottom: rem(24);

    z-index: var(--index-menu);
  }  
  
}

@include media-breakpoint-up(sm) {

  iam-table iam-actionbar {

    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
  }
}


iam-actionbar ~ :is([data-view="square"],[data-view="list"],[data-view="small"]) {
  display: none;
}

iam-actionbar[data-view="square"] ~ [data-view="square"] {
  display: block;
}
iam-actionbar[data-view="list"] ~ [data-view="list"] {
  display: block;
}
iam-actionbar[data-view="small"] ~ [data-view="small"] {
  display: block;
}