@use "../_func" as *;

.alert {

  &__inner {
    position: relative;
    padding: 1.5rem;
    margin-bottom: 2rem;
    @include border-radius($alert-border-radius);
    //--bs-bg-opacity: 0.5;

    &:not(.bg-primary):not(.bg-dark):not(.bg-danger) {
      --colour-body: black;
      color: black;
    }

    > *:last-child {
      margin-bottom: 0;
    }

    > * {
      max-width: 100%;
    }
  }

  &--fixed {
    position: fixed;
    padding-top: 2rem;
    z-index: var(--index-floating);
    left: 50%;
    transform: translate(-50%,0);
    bottom: 0;
  }
}

// Dismissible alerts
.alert--dismissible .alert__inner{
  padding-right: 4rem;
  overflow: hidden;

  // Adjust close link position
  .btn-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 1rem;
    width: 1rem;
    padding:0;
    border: none;
    z-index: var(--index-focus);
    background: currentColor;
    mask-image: var(--icon-close);
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
  }
}

.alert__holder {
  position: fixed;
  z-index: var(--index-floating);
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));

  > *:first-child {
    margin-top: 2rem;
  }

  .alert--fixed {
    position: static;
    transform: none;
    padding-top: 0;
  }
}

[data-timeout] .alert__inner:after {
  
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.25rem;
  background: black;
  animation: progress var(--animation-length) linear;
}

@keyframes progress{
  0%{
    width: 0%;
  }
  100%{
      width: 100%;
  }
};