@use "../_func.scss" as *;

.applied-filters {

  &:not(.applied-filters--compact):not(:empty):before {
    content: "Applied filters";
    font-weight: bold;
    font-size: rem(18);
    line-height: rem(22);
    color: var(--colour-header);
    display: block;
  }

  &:not(:empty) {
    margin-bottom: 1rem;
  }
}

::slotted(*:last-child:not(dialog)) {
  margin-bottom: 0;
}
