@use '../_func.scss' as *;
@use '../elements/badge-tag.scss' as *;

.applied-filters:not(:empty) {
  padding: 1px 1px 1rem 1px;
}

:host(.applied-filters--show-set) {
  .tag--not-set {
    display: none;
  }
}

.tag:not(.tag--not-set) {
  background: var(--wider-colour-3);
}
.tag.tag--not-set {
  background: var(--colour-canvas);
  outline: 1px solid var(--colour-border);
}