@use '../_func' as *;

:host {
  

  
  position: relative;

  border-radius: var(--card-border-radius);
  margin-bottom: 2rem;
  display: block;

}

.wrapper {

  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  position: relative;
  font-weight: bold;
  font-size: var(--card-fs);
  line-height: var(--card-lh);
  color: var(--colour-primary);
  min-height: 100%;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
  background: var(--colour-canvas-2);
  outline: 2px solid var(--outline-colour, --colour-canvas-2);
  outline-offset: -2px;

  > * {
    width: 100%;
    box-sizing: border-box;
  }
}

:host([class*="colour-"]) .wrapper{
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

:host-context(:is(a, label, button)) {
  margin-bottom: 0 !important;
}

:host(.border-0) {
  box-shadow: none;
  --card-left-padding: 0rem;
  outline-offset: 1px !important;
}

.card__head:has(img) {
  min-height: var(--card-head-height);
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;

  > img {
    position: absolute;
    top: 0;
    left: 0;
    margin: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    object-fit: cover;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--card-head-overlay);
  }
}

.card__body {
  /* position: relative; */
  padding: var(--card-body-top-padding) var(--card-right-padding) var(--card-body-bottom-padding)
    var(--card-left-padding);
  /* z-index: -1; */
}

.card__footer {
  margin-top: auto;
  padding: var(--card-footer-top-padding,0) var(--card-right-padding) var(--card-footer-bottom-padding,0) var(--card-left-padding);
}

::slotted(i) {
  font-size: 1.5rem !important;
  margin: -3px var(--card-icon-right) 0 0 !important;
  vertical-align: middle !important;
}
::slotted(i:not(.fa-light):not(.fa-bold)) {
  font-weight: 400 !important;
}

::slotted(.badge) {
  margin-bottom: 0.375rem !important;
}
::slotted(span:not(.badge,.title)) {
  display: block !important;
  font-weight: normal !important;
  font-size: var(--card-body-fs, 1rem) !important;
  line-height: var(--card-body-lh, inherit) !important;
  overflow-x: clip;
  text-overflow: ellipsis;
}
::slotted(small) {
  padding-top: var(--card-gap, 1rem) !important;
  display: block !important;
  font-weight: normal !important;
  padding-bottom: 0 !important;
  color: var(--colour-body);
}
::slotted(span:not(.badge,.title):not([class*='pt-'])) {
  padding-top: var(--card-gap, 1.5rem) !important;
}

::slotted(:is(a, button)[slot='footer']:not([class*="mb-"])) {
  margin-bottom: var(--card-footer-bottom-padding) !important;
}

/* #region Show total number */
.card__body:has(.card__total) {
  --card-head-top-padding: 1rem;
  --card-head-bottom-padding: 1.5rem;
}

.card__total {
  font-size: 3rem;
  line-height: 3rem;
  padding-right: 1rem;
  margin-top: 0.5rem;

  i {
    font-family: var(--fa-style-family, 'Font Awesome 7 Pro');
    font-weight: var(--fa-style, 900);

    display: block !important;
    font-size: 2.5rem !important;
    margin: 0.5rem 0 0.5rem 0 !important;
  }
}

::slotted([slot='total-icon']) {
  display: block !important;
  font-size: 2.5rem !important;
  margin: 0.5rem 0 0.5rem 0 !important;
  line-height: 2.5rem;
}

/* #endregion */

/* #region badges */
.card__head:has(img) ~ .card__badges {
  position: absolute;
  top: 0;
  text-align: right;
  left: 0;
  z-index: 9;
}

.card__badges:not(.empty) {
  padding: var(--card-badges-top-padding, 1rem) var(--card-right-padding) var(--card-badges-bottom-padding, 0) var(--card-left-padding);
  margin-bottom: -1.5rem;
}
.card__head:not(:has(img)) ~ .card__badges {
  text-align: end;
}
/* #endregion */
