@use "../_func.scss" as *;

// #region Default card
.card {
  --card-icon-right: 1rem;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
  position: relative;
  font-weight: bold;
  font-size: rem(18);
  line-height: rem(24);
  color: var(--colour-primary);
  min-height: 100%;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 0;
  background: var(--colour-canvas-2);
  outline: 2px solid var(--colour-canvas-2);
  outline-offset: -2px;

  > *:not(.btn-compact) {
    min-width: 100%;
  }

  &.border-0 {
    box-shadow: none;
    --card-left-padding: 0rem;
    outline-offset: 1px!important;
  }

  &__body {
    position: relative;
    padding: var(--card-top-padding) var(--card-right-padding) 0 var(--card-left-padding);
    z-index: -1;
  }

  &__footer {
    margin-top: auto;
    padding: 0 var(--card-right-padding) var(--card-bottom-padding) var(--card-left-padding);
  }

  &:is(:hover,:focus) {
    .link:after {
      width: 50%;
    }
  }

  &:has(.card__footer .link) {
    &:before,
    &:after {
      display: none;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    right: var(--card-icon-right);
    bottom: var(--card-bottom-padding);
    height: rem(24);
    width: rem(24);
    background: var(--colour-warning);
    border-radius: 50%;
  }

  &:after {
    background: var(--colour-primary-theme);
    mask-image: var(--icon,var(--icon-arrow));
    mask-size: 50%;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    -webkit-mask-image: var(--icon,var(--icon-arrow));
    -webkit-mask-size: 50%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    z-index: 2;
  }

  &:is(:hover,:focus,.hover) {
    --card-icon-right: 0.5rem;
    outline: 2px solid var(--colour, var(--colour-primary));
    outline-offset: -2px;
  }
  
  // Update arrow cololur
  &:not([class*="colour-"]):is(:hover,:focus,.hover) {

    &:before {
      background: var(--colour-primary-theme);
    }
    &:after {
      background: #ffffff;
    }
  }

  &:is(:active, .active){
    --card-icon-right: 0.5rem;
    outline: none;
    
    &:before {
      background: var(--colour-warning);
    }
    &:after {
      background: var(--colour-primary);
    }
  }

  &:is(:active){
    background: #FCFCFC;
  }
  

  
  span {
    display: block;
    font-weight: bold;
    padding-top: rem(24);
    font-size: rem(16);
  }

  &:has(.card__illustration) .card__body {

    align-items: center;
    display: flex;

    .card__illustration {
      height: rem(64);
      width: rem(64);
      margin-right: rem(24);
      margin-top: rem(-20);
      margin-bottom: rem(-20);
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }    
  }

  
  .card__total {
    font-size: rem(48);
    line-height: rem(48);
    padding-right: rem(16);
    margin-top: 0.5rem;
  }

  &.card--has-icon:not(.card--secondary):not(.card--filter) { 
    display: flex;
    align-items: center;

    &:before,
    &:after {
      top: calc(50% - 0.75rem);
      bottom: auto;
    }
  }

  &.card--has-icon:not(.card--secondary):not(.card--filter) .card__body {
    padding-left: 4rem;
    margin-block: auto;
    padding-bottom: var(--card-bottom-padding);
  }
  &.card--has-icon:not(.card--secondary):not(.card--filter) .card__footer {
    padding: 0;
    display: none;
  }
}

::slotted(i){
  font-size: rem(24)!important;
  margin: -3px var(--card-icon-right) 0 0!important;
  vertical-align: middle!important;
}
::slotted(i:not(.fa-light):not(.fa-bold)){
  font-weight: 400!important;
}

::slotted(span:not(.badge)){
  display: block!important;
  font-weight: normal!important;
  font-size: rem(16)!important;
}
::slotted(span:not(.badge):not([class*="pt-"])){
  padding-top: rem(24)!important;
}
// #endregion

// #region card bages
.card__badges {
  position: absolute;
  top: 0;
  right: 0.25rem;
  padding: 0.25rem;
  z-index: 9;
  text-align: right;
  width: 1;
}
.card__head .card__badges {
  
  top: auto;
  bottom: 0;
  text-align: left;
  left: 0.25rem;
  right: auto;
}
// #endregion

// #region border left
.card[class*="colour-"],
.card--filter {
  
  border-left: rem(12) solid var(--colour,var(--colour-primary));
}
// #endregion

//#region Filter card
.card--filter {
  --top-padding: #{rem(24)};
  --right-padding: 1rem;
  --bottom-padding: #{rem(24)};
  --left-padding: 1rem;

  //border-left: rem(12) solid var(--colour,var(--colour-primary));

  &:has(.card__total) .card__body{

    align-items: center;
    display: flex;
  }

  &:before,
  &:after {
    display: none;
  }

  &:is(:hover,:focus,.hover) {
    outline: none;
      
    :is(.card__body,.card__footer) {
      background: #EEEEEE;
    }
  }

  &:is(:checked, .checked,:active, .active){
    outline: 2px solid var(--colour,var(--colour-primary));
    outline-offset: -2px;

    .card__body {
      background: none;
    }
  }

  &.card--has-icon {
    --bottom-padding: #{rem(16)};
    border: none;
  }

  .icon {
    font-size: rem(18)!important;
    height: rem(18)!important;
    margin: 0 0 0.5rem 0!important;
    font-weight: 400!important;
    display: block!important;
  }
    
  .card__total {
    margin-top: 0;
    order: -1;
  }
}

@include dark-mode() {
  .card--filter {

    .card__body {
      background: none!important;
    }

    &:is(:hover,:focus,.hover, :active, .active):not(:checked,.checked){ 
      outline: 2px solid var(--colour, var(--colour-primary))!important;
      outline-offset: -2px;
    }
  }
}

.card--filter ::slotted(i) {
  display: block !important;
  font-size: rem(18)!important;
  margin: 0 0 0.5rem 0!important;
}
// #endregion

// #region card with an image
.card:has(.card__head) {
  .card__head {
    padding-bottom: 0;
    padding-top: 27%;
    position: relative;
    overflow: hidden;
    background: rgba(0,0,0,0.1);
    z-index: -1;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 102%;
      height: 102%;
      object-fit: cover;
    }
  }
}

.card.card--lg-image:has(.card__head) .card__head{
  
  padding-top: 55%;
}
// #endregion


:host([data-selected]) .card {
  //background-color: yellow!important;

  &:before,
  &:after {
    display: none!important;
  }
}

// #region card with a flag 
:host(.card--flag) {
  position: relative;
  
  &:after {
    content: "\f024";
    font-family: "Font Awesome 6 Pro";
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: rem(16);
    line-height: 1;
    height: rem(16);
    width: rem(16);
    display: inline-block;
    font-weight: normal;
    color: var(--colour, var(--colour-primary));
  }
}
// #endregion


//#region Dashboard card
.card--secondary {

  --card-top-padding: #{rem(16)};
  --card-bottom-padding: #{rem(24)};

  &:before,
  &:after {
    display: none;
  }
}

.card--secondary .btn-compact {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem 0.5rem 0 0;
  z-index: 99;
}

.card--secondary:has(.btn-compact:is(:hover, :focus, :active)) {

  pointer-events: none;
  outline: none;

  .card__body {
    background: none;
    border-color: transparent!important;
  }

  .btn-compact {
    pointer-events: all;
  }
}

.card--secondary ::slotted(i) {
  display: block !important;
  font-size: rem(40)!important;
  margin: 0.5rem 0 0.5rem 0!important;
  line-height: rem(40);
}
// #endregion
