@use "../_func" as *;

// #region Card Deck
.card-deck.container:not([data-card-type="simple"]) {

  padding-bottom: 3rem;

  > .row:first-child {
    padding-top: 0.5rem;
  }

  &[class*="bg-"] {
    padding-bottom: 5rem;
  }
}
// #endregion

// #region Fake container query that transforms the card into a vertical card
@mixin vertical-card(){
  .card-header__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 45.8%;
    height: 100%;
    padding: 0;
  }
  .card-header__wrapper ~ .card-body,
  .card-header__wrapper ~ .card-footer {
    padding-left: calc(45.8% + #{$card-spacer-x + $card-spacer-x});
  }
}

@media screen and (min-width: 36em) and (max-width: 61.99em) {

  .card-deck .row-cols-sm-1 {
    @include vertical-card();
  }
}

@include media-breakpoint-up(md) {

  .card-deck:not(.card-deck--featured) .row-cols-md-1 {
    
    @include vertical-card();
  }
}
// #endregion

// #region Featured Card deck
.card-deck--featured {

  > .row > .col:nth-child(4) ~ .col {
    display: none;
  }

  > .row > .col:not(:first-child) .card-header__wrapper {
    display: none;
  }

  .row-cols-sm-1 > .col:not(:first-child) .card-header__wrapper ~ .card-body {
    padding-left: 1.5rem;
  }

  .card-footer {
    display: none;
  }

  @include media-breakpoint-up(md) {

    > .row {
      display: grid;
      grid-template-columns: 1fr 1fr 41.66666667%; 
      grid-template-rows: auto auto auto; 
      gap: var(--bs-gutter-y) var(--bs-gutter-x); 
      grid-template-areas: 
        "featured featured card2"
        "featured featured card3"
        "featured featured card4";
      margin-top:0;
    }
    > .row > .col:first-child {
      grid-area: featured;
    }
    > .row > .col:not(:first-child) {
      min-height: 0;
    }

    > .row > .col:nth-child(2) {
      grid-area: card2;
    }

    > .row > .col:nth-child(3) {
      grid-area: card3;
    }

    > .row > .col:nth-child(4) {
      grid-area: card4;
    }

    > .row > .col {
      width: 100%;
      margin-top:0;
    }

  }
}
// #endregion