@use '../_func' as *;
@use 'card.module' as *;
@use '../elements/dialog' as *;
@use '../elements/popover' as *;
@use '../elements/buttons' as *;

:host(.prevent-hover) {
  pointer-events: none;

  * {
    pointer-events: all;
  }
}

/* #region Right arrow */
:host(.show-icon) {
  --card-right-padding: 3.5rem;
}
:host(.show-icon) .card__body {

  &:before,
  &:after {
    content: '';
    display: var(--card-right-arrow-display, block);
    position: absolute;
    right: var(--card-icon-right);
    bottom: var(--card-bottom-padding);
    height: 1.5rem;
    width: 1.5rem;
    background: var(--card-icon-bg);
    border-radius: 50%;
  }

  &:after {
    background: var(--card-icon-colour);
    mask-image: var(--icon, var(--icon-arrow));
    mask-size: 50%;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    -webkit-mask-image: var(--icon, var(--icon-arrow));
    -webkit-mask-size: 50%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    z-index: 2;
  }
}

/* #endregion */

/* #region illustration */
.card__body {
  &:has(.card__illustration) {
    align-items: center;
    display: flex;

    .card__illustration {
      height: 4rem; /* 64 */
      width: 4rem; /* 64 */
      margin-right: 1.5rem;
      margin-top: -1.25rem; /* -20 */
      margin-bottom: -1.25rem; /* -20 */
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

/* #endregion */

/* #region border left */
:host([class*='colour-']) {
  border-left: 0.75rem solid var(--colour, var(--colour-primary));
}
/* #endregion */

/* #region secondary button */
slot[name='secondary'] {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0;
  margin: 0.5rem 0.5rem 0 0;
  z-index: 999;
}

::slotted([slot='secondary']:not(:hover, :focus, :active, .hover)) {
  background: none !important;
  color: var(--colour-btn) !important;
}
/* #endregion */

/* #region checkbox */
::slotted([slot='checkbox']) {
  position: absolute !important;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  height: 2.5rem;
  overflow: hidden;
}
/* #endregion */

/* #region Multi-action card */
.menu__wrapper {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  width: 3rem !important;
  left: auto;
  z-index: 999;

  > .btn:before {
    content: '\f142';
    font-family: var(--fa-family-classic);
  }
}

::slotted([slot='btns']) {
  border: none !important;
  margin: 0 !important;
  display: block !important;
  width: fit-content;
}
::slotted([slot='primary-action']) {
  overflow: hidden;
  background-color: transparent;
  text-indent: -300%;
  position: absolute !important;
  inset: 0;
  margin: 0 !important;
  z-index: 99;
  border: none;
}
:host(:not(.prevent-hover)) ::slotted([slot='primary-action']:is(:hover, :focus, .hover)) {
 
  outline: 2px solid var(--hover-outline-colour);
  outline-offset: -2px;
  border-radius: var(--card-border-radius) !important;
}
/* #endregion */

/* #region link */
:host(.hasLink) slot[name="link"] {

  position: absolute;
  display: block;
  inset: 0;
  z-index: 1;
}

::slotted([slot="link"]) {

  position: absolute!important;
  display: block!important;
  inset: 0!important;
  z-index: 1!important;
  margin: 0!important;
  text-indent: -300%!important;
  overflow: hidden!important;
}
::slotted([slot="link"]):after {

  display: none!important;
}

/* #endregion */

/* #region article cards */

:host(.card--article) {

  --card-head-height: 5rem;
  --card-fs: 1rem;
  --card-gap: 0.5rem;
  --card-body-top-padding: 1rem;
  --card-body-bottom-padding: 0.5rem;
  --card-left-padding: 0.5rem;
  --card-right-padding: 0.75rem;
  --card-right-arrow-display: none;

  --card-body-fs: 0.6875rem;
  --card-body-lh: 1rem;

  --card-footer-bottom-padding: 0.5rem!important;

  --card-badges-top-padding:0.5rem;
  --card-badges-bottom-padding: 0;
  --card-right-padding: 0.5rem;
  --card-left-padding: 0.5rem;
}

::slotted(span:is(.duration):not([class*=pt-])) {
  
  font-size: var(--card-fs)!important;
  line-height: var(--card-lh)!important;
  padding-top: 0!important;

  &:before {
    content: '\f017';
    font-family: var(--fa-family-classic);
    color: var(--colour-warning);
    padding-right: 0.25rem;
  }
}
/* #endregion */