@use '../_func' as *;

@layer components {

  iam-carousel {
    --button-height: 3rem;
    --marker-height: 1.25rem;
    --marker-mb: 1rem;
    padding-inline: 0.5rem;
    margin-inline: -0.5rem;
    padding-bottom: calc(1rem + var(--button-height) + var(--marker-height) + var(--marker-mb));

    margin-bottom: var(--carousel-mb, 2rem);
    scroll-padding: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--gap);
    anchor-scope: all;
    anchor-name: --carousel;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-marker-group: before;
    scroll-behavior: smooth;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / var(--count,1)) - ((var(--gap) * (var(--count,1) - 1)) / var(--count,1)));
  }

  /* #region items */

  iam-carousel > * {

    container-type: scroll-state;
    grid-column: auto!important;
    min-height: 100%;
    margin: 0;
    scroll-snap-align: start;
  }
  /* #endregion */

  /* #region left and right buttons */
  iam-carousel {
    
    &::scroll-button(*) {

      cursor: pointer;
      position-anchor: --carousel;
      background: none;
      border: none;
    
      font-size: 1rem !important;
      padding: 0 !important;
      margin-bottom: .5rem;
      text-align: center;
      width: var(--button-height);
      height: var(--button-height);
      align-content: center;
      line-height: 1 !important;
      overflow: hidden;
      font-size: 1rem;
      font-family: "Font Awesome 7 Pro" !important;
      display: none;
      position: absolute;
      position-area: block-end center;
      border-radius: 50%;
      margin-top: calc((var(--button-height) + var(--marker-height) + var(--marker-mb)) * -1);

    }

    &::scroll-button(left) {

      display: inline-block;
      //left: anchor(left);
      content: "\f053" / "Scroll left"!important;
      margin-left: calc(var(--button-height) * -1) !important;
    }

    &::scroll-button(right) {

      display: inline-block;
      //right: anchor(right);
      content: "\f054" / "Scroll right"!important;
      margin-right: calc(var(--button-height) * -1) !important;
    }
    
    &::scroll-button(*):disabled {
      pointer-events: none;
    }

    &::scroll-button(*):is(:hover,:focus-visible) {
      outline-offset: 5px;
      background-color: var(--colour-light);
      border-color: var(--colour);
    }
  }
  /* #endregion */

  /* #region left and right buttons on desktop */
  main > iam-carousel,
  main > .container > iam-carousel {
    
    @container (min-width: 62em) {
      
      --button-height: 0rem;

      &::scroll-button(*) {
        --button-height: 3rem;
        margin-top: -1rem;
      }
      &::scroll-button(left) {
        position-area: center inline-start;
      }

      &::scroll-button(right) {
        position-area: center inline-end;
      }
    }
  }
  /* #endregion */

  @container style(--hide-carousel-btns) {
    iam-carousel {
    
      --button-height: 0rem;
    }
    iam-carousel::scroll-button(*) {
    
      display: none!important;
    }
  }

  /* #region markers */
  iam-carousel {
    &::scroll-marker-group {

      position: absolute;
      position-anchor: --carousel;
      container: marker-group / inline-size;
      display: grid;
      place-content: safe center;
      box-sizing: border-box;
      border-radius: var(--radius-round);
      scrollbar-width: none;
      scroll-behavior: smooth;
      inline-size: 100%;
      max-inline-size: 100cqi;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      overscroll-behavior-x: contain;
      grid-auto-columns: var(--marker-height); /* Magic number */
      grid-auto-rows: var(--marker-height); /* Magic number */
      
      overflow-x: auto;
      top: auto;
      bottom: anchor(bottom);
      grid-auto-flow: column;
      justify-items: center;
      align-items: center;
      padding-block: 0;
      margin-bottom: var(--marker-mb);
      left: anchor(center);
      transform: translate(-50%, 0);
    }

    
    > *::scroll-marker {
      content: "";
      scroll-snap-align: start;
      cursor: pointer;
      text-decoration: none;
      interactivity: auto;
      //display: none;
      width: .5rem;
      aspect-ratio: 1;
      border-radius: 50%;
      overflow: hidden;
      background: #a5ecfd; /* Magic colour */
      cursor: pointer;
      border: none;
    }

    > *::scroll-marker:target-current {

      border-color: var(--colour-info);
      background: var(--colour-info);
      width: 1rem;
      height: 1rem;
      min-height: 1rem;
      margin-inline: .125rem; /* Magic number */
    }
    
  }
  /* #endregion */

  /* #region count the number of items and set variables to hide the controls/markers */
  
  iam-carousel:has(> *:first-child:last-child) {
    
    //--hide-buttons: 1;
    --hide-markers: 1;
  }
  
  iam-carousel {
    
    @container (min-width: 30em) and (max-width: 63em){ /* TODO work out this number - shoule be 6 columns */
      &[data-smcols='2']:not(:has(> *:nth-child(3))) {

        //--hide-buttons: 1;
        --hide-markers: 1;

        //--button-height: 0rem;
        --marker-height: 0rem;
        --marker-mb: 0rem;
      }
      &[data-smcols='3']:not(:has(> *:nth-child(4))) {

        //--hide-buttons: 1;
        --hide-markers: 1;

        //--button-height: 0rem;
        --marker-height: 0rem;
        --marker-mb: 0rem;
      }
    }

    @container (min-width: 62em) {
      &[data-mdcols='2']:not(:has(> *:nth-child(3))) {

        --hide-buttons: 1;
        --hide-markers: 1;

        --button-height: 0rem;
        --marker-height: 0rem;
        --marker-mb: 0rem;
      }
      &[data-mdcols='3']:not(:has(> *:nth-child(4))) {

        --hide-buttons: 1;
        --hide-markers: 1;

        --button-height: 0rem;
        --marker-height: 0rem;
        --marker-mb: 0rem;
      }
    }
  }
  /* #endregion */

  /* #region change the item count via queries */
  iam-carousel {
    
    &[data-xscols='2'] {

      --count: 2;
    }
    &[data-xscols='3'] {

      --count: 3;
    }

    @container (min-width: 30em) and (max-width: 62em) {
      &[data-smcols='2'] {

        --count: 2;
      }
      &[data-smcols='3'] {

        --count: 3;
      }
    }

    @container (min-width: 62em) {
      &[data-mdcols='2'] {

        --count: 2;
      }
      &[data-mdcols='3'] {

        --count: 3;
      }
      &[data-mdcols='4'] {

        --count: 4;
      }
    }
  }
  /* #endregion */

  /* #region carousel responsive to the count number variable */
  iam-carousel {

    > * {

      @container style(--count) {

        scroll-snap-align: unset;
        scroll-snap-stop: unset;

        &::scroll-marker{

          display: none;
        }
      }

      @container style(--count: 2) {

        
        &:nth-child(2n + 1) {
          scroll-snap-align: start;
          scroll-snap-stop: always;
        }

        &:nth-child(2n + 1)::scroll-marker{

          display: block;
        }
      }

      @container style(--count: 3) {

        &:nth-child(3n + 1) {
          scroll-snap-align: start;
          scroll-snap-stop: always;
        }

        &:nth-child(3n + 1)::scroll-marker{

          display: block;
        }
      }
      @container style(--count: 4) {

        
        &:nth-child(4n + 1) {
          scroll-snap-align: start;
          scroll-snap-stop: always;
        }

        &:nth-child(4n + 1)::scroll-marker{

          display: block;
        }
      }
    } 
  }

  /* #endregion */

  /* #region hide controls/markers */
  iam-carousel {
    
    @container style(--hide-buttons) {

      --button-height: 0rem;
      
      &::scroll-button(*) {
        display: none;
      }
    }

    @container style(--hide-markers) {

      --marker-height: 0rem;
      --marker-mb: 0rem;

      &::scroll-marker-group {
        display: none;
      }
    }
  }
  /* #endregion */

  /* #region carousel inside of admin panel */
  .admin-panel {
    
    --hide-buttons: 1;

    &:has(iam-carousel){
      
      container-type: inline-size;
    }

    iam-carousel {
        
      --button-height: 0rem;
      --marker-mb: 0rem;
      margin-bottom: 0;
    }
  }
  /* #endregion */


  iam-carousel::part(carousel__controls){
    position-anchor: --carousel;

    top: auto;
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
  }
  
  @supports not selector(::scroll-marker-group) {
    
    iam-carousel {
      --button-height: 0rem;
      --marker-height: 0rem;
      --marker-mb: 0rem;
      --carousel-controls-display: block;
    }



    iam-carousel::part(carousel__progress-xs) {
      display: block;
    }

    @container (min-width: 30em) and (max-width: 63em) {

      iam-carousel::part(carousel__progress-xs) {
        display: none;
      }
      iam-carousel::part(carousel__progress-sm) {
        display: block;
      }
    }

    @container (min-width: 62em) {

      iam-carousel::part(carousel__progress-sm) {
        display: none;
      }
      iam-carousel::part(carousel__progress-md) {
        display: block;
      }
    }

  }

  @supports selector(::scroll-marker-group) {
    

    @container (max-width: 30em) {
      iam-carousel:has(> *:nth-child(6)){
        
        --button-height: 0rem;
        
        //--hide-buttons: 1;
        --hide-markers: 1;
        
        --carousel-controls-display: block;
        
      }
      iam-carousel:has(> *:nth-child(6))::part(carousel__progress-xs) {
        display: block;
      }

    }

    @container (min-width: 30em) and (max-width: 63em) {

      iam-carousel::part(carousel__progress-xs) {
        display: none!important;
      }

      iam-carousel[data-smcols="2"]:has(> *:nth-child(10)){
        
        //--button-height: 0rem;
        
        //--hide-buttons: 1;
        --hide-markers: 1;

        --carousel-controls-display: block;
        
      }
      iam-carousel[data-smcols="2"]:has(> *:nth-child(10))::part(carousel__progress-sm) {
        display: block;
      }

      iam-carousel[data-smcols="3"]:has(> *:nth-child(15)){
        
        --button-height: 0rem;
        
        //--hide-buttons: 1;
        --hide-markers: 1;

        --carousel-controls-display: block;
        
      }
      
      iam-carousel[data-smcols="3"]:has(> *:nth-child(15))::part(carousel__progress-sm) {
        display: block;
      }
    }

    @container (min-width: 62em) {

      iam-carousel::part(carousel__progress-xs),
      iam-carousel::part(carousel__progress-sm) {
        display: none!important;
      }

      iam-carousel[data-mdcols="2"]:has(> *:nth-child(10)){
        
        --button-height: 0rem;
        
        //--hide-buttons: 1;
        --hide-markers: 1;

        --carousel-controls-display: block;
        
      }
      
      iam-carousel[data-mdcols="2"]:has(> *:nth-child(10))::part(carousel__progress-md) {
        display: block;
      }

      iam-carousel[data-mdcols="3"]:has(> *:nth-child(15)){
        
        --button-height: 0rem;
        
        //--hide-buttons: 1;
        --hide-markers: 1;

        --carousel-controls-display: block;
        
      }
      
      iam-carousel[data-mdcols="3"]:has(> *:nth-child(15))::part(carousel__progress-md) {
        display: block;
      }
    }

  }


  /* #region thumbnails */
  iam-carousel.thumbnails {
    
    --hide-buttons: 1;
    --hide-markers: 1;        
    --carousel-controls-display: block;

    &::part(carousel__pips){
      
      height: 5rem;
    }
  }


  /* #endregion */

  /* #region article cards */

  iam-carousel.carousel--article-cards {

    --card-head-height: 5rem;
    --card-fs: 1rem;
    --card-gap: 0.5rem;
    --card-body-top-padding: 1rem;
    --card-body-bottom-padding: 0.5rem;
    --card-left-padding: 0.5rem;
    --card-right-padding: 0.75rem;
    --card-right-arrow-display: none;
    --card-body-fs: 0.6875rem;
    --card-body-lh: 1rem;

    
    --card-footer-bottom-padding: 0.5rem;

    
    --card-badges-top-padding:0.5rem;
    --card-badges-bottom-padding: 0;
    --card-right-padding: 0.5rem;
    --card-left-padding: 0.5rem;

    iam-card {
      
      --card-footer-bottom-padding: 0.5rem;
    }
  }
  /* #endregon */
}

