@use '../_func' as *;


@layer components {
  iam-carousel:defined {
    > div > *:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  /*  Preload */
  iam-carousel:not(:defined) {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin-block-end: 2rem;
    overflow: auto;

    & > * {
      width: 100%;
      display: block;
      flex: 0 0 100%;
      padding-inline-end: 1rem;
    }
  }

  /* #region Carousel inside of a admin panel */
  .admin-panel:has(iam-carousel) {
    --hide-carousel-btns: 1;
  }

  .admin-panel:has(iam-carousel:last-child) {
    --carousel-mb: 0rem;
  }

  
  /* #endregion */

  /* #region carousel in dialog */

  
  /* #endregion */
}
