@use "../_func" as *;

// #region default carousel
.carousel {

  .carousel__wrapper {

    position: relative;
  }

  .carousel__inner {

    --gutter-x: #{$grid-gutter-width};
    overflow: auto;
    scroll-snap-type: x mandatory;
  }

  .col > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


// #endregion

// #region Remove the scrollbar
.carousel__inner {
  // FireFox
  scrollbar-width: none;
  // IE10+
  -ms-overflow-style: none;
}

.carousel__inner::-webkit-scrollbar {
  // Chrome, Safari, Edge
  display: none;
}
// #endregion

// #region Direction button
.btn-next, 
.btn-prev {
  --marker-bg: var(--colour-secondary);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: var(--marker-bg);
  border-radius: 100%;
  width: rem(36);
  max-width: rem(36);
  height: rem(36);
  text-indent: -300rem;
  overflow: hidden;
  border: none;
  position: relative;
  margin: 0 rem(8);
  padding: 0;

  position: absolute;
  top: 50%;
  left: 0rem;
  transform: translate(0,-50%);

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: currentColor;
    mask-image: escape-svg($accordion-button-icon);
    mask-size: 50%;
    mask-repeat: no-repeat;
    mask-position: 50% 60%;
    -webkit-mask-image: escape-svg($accordion-button-icon);
    -webkit-mask-size: 50%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 55% 50%;
    transform: rotate(0deg);
  }

  &:hover,
  &:focus {

    background: var(--colour-warning);
    color: var(--colour-hover);
    border-radius: 100%;
  }

  &:active {
    border-radius: 100%;
  }
}

.btn-next {
  left: auto;
  right: 0;

  @include media-breakpoint-up(md) {

    margin-right: rem(-48);
  }
}

.btn-prev {

  @include media-breakpoint-up(md) {

    margin-left: rem(-48);
  }

  &:after {

    transform: rotate(180deg);
  }
}





// #endregion

// #region carousel controls/pips
.carousel .carousel__controls {

  text-align: center;
  width: 10rem;
  max-height: 1rem;
  overflow: hidden;
  margin-inline: auto;
    
  @include media-breakpoint-up(sm) {
    width: 100%;
  }

  button {
    width: 1rem;
    height: 1rem;
    min-height: 1rem;
    border-radius: 50%;
    text-indent: -50rem;
    overflow: hidden;
    background: var(--colour-primary-theme);
    padding: 0;
    margin: 0 0.5rem 0.5rem 0.5rem;
    border: none;

    &:before {
      display: none;
    }
  }

  button:first-child:last-child {
    display: none;
  }
}

.carousel__controls > button[aria-current] {

  background: var(--colour-success);
}

// #endregion

// #region Hide buttons and pips
.carousel.hide-btns .carousel__wrapper > .btn {
  display: none;
}

.carousel.hide-controls .carousel__controls {
  display: none;
}

@include media-breakpoint-up(sm) {

  [data-row-class*="cols-sm-2"] .carousel__controls > button:not(:nth-child(odd)),
  [data-row-class*="cols-sm-3"] .carousel__controls > button:not(:nth-child(3n+1)),
  [data-row-class*="cols-sm-4"] .carousel__controls > button:not(:nth-child(4n+1)),
  [data-row-class*="cols-sm-5"] .carousel__controls > button:not(:nth-child(5n+1)),
  [data-row-class*="cols-sm-6"] .carousel__controls > button:not(:nth-child(6n+1)) {
    display: none;
  }

  // Make sure that we dont just have one pip showing
  [data-row-class*="cols-sm-2"] .carousel__controls:has(button:first-child:nth-last-child(2)),
  [data-row-class*="cols-sm-3"] .carousel__controls:has(:is(button:first-child:nth-last-child(2), button:first-child:nth-last-child(3))),
  [data-row-class*="cols-sm-4"] .carousel__controls:has(:is(button:first-child:nth-last-child(2), button:first-child:nth-last-child(3), button:first-child:nth-last-child(4))),
  [data-row-class*="cols-sm-5"] .carousel__controls:has(:is(button:first-child:nth-last-child(2),button:first-child:nth-last-child(3),button:first-child:nth-last-child(4),button:first-child:nth-last-child(5))),
  [data-row-class*="cols-sm-6"] .carousel__controls:has(:is(button:first-child:nth-last-child(2),button:first-child:nth-last-child(3),button:first-child:nth-last-child(4),button:first-child:nth-last-child(5),button:first-child:nth-last-child(6))),
  [data-row-class*="cols-sm-2"] .carousel__controls:has(button:first-child:nth-last-child(2)) ~ .btn,
  [data-row-class*="cols-sm-3"] .carousel__controls:has(:is(button:first-child:nth-last-child(2), button:first-child:nth-last-child(3))) ~ .btn,
  [data-row-class*="cols-sm-4"] .carousel__controls:has(:is(button:first-child:nth-last-child(2), button:first-child:nth-last-child(3), button:first-child:nth-last-child(4))) ~ .btn,
  [data-row-class*="cols-sm-5"] .carousel__controls:has(:is(button:first-child:nth-last-child(2),button:first-child:nth-last-child(3),button:first-child:nth-last-child(4),button:first-child:nth-last-child(5))) ~ .btn,
  [data-row-class*="cols-sm-6"] .carousel__controls:has(:is(button:first-child:nth-last-child(2),button:first-child:nth-last-child(3),button:first-child:nth-last-child(4),button:first-child:nth-last-child(5),button:first-child:nth-last-child(6))) ~ .btn {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .carousel__controls > button {
    display: inline-block!important;
  }

  [data-row-class*="cols-md-2"] .carousel__controls > button:not(:nth-child(odd)),
  [data-row-class*="cols-md-3"] .carousel__controls > button:not(:nth-child(3n+1)),
  [data-row-class*="cols-md-4"] .carousel__controls > button:not(:nth-child(4n+1)),
  [data-row-class*="cols-md-5"] .carousel__controls > button:not(:nth-child(5n+1)),
  [data-row-class*="cols-md-6"] .carousel__controls > button:not(:nth-child(6n+1)) {
    display: none!important;
  }

  // Make sure that we dont just have one pip showing
  [data-row-class*="cols-md-2"] .carousel__controls:has(button:first-child:nth-last-child(2)),
  [data-row-class*="cols-md-3"] .carousel__controls:has(:is(button:first-child:nth-last-child(2), button:first-child:nth-last-child(3))),
  [data-row-class*="cols-md-4"] .carousel__controls:has(:is(button:first-child:nth-last-child(2), button:first-child:nth-last-child(3), button:first-child:nth-last-child(4))),
  [data-row-class*="cols-md-5"] .carousel__controls:has(:is(button:first-child:nth-last-child(2),button:first-child:nth-last-child(3),button:first-child:nth-last-child(4),button:first-child:nth-last-child(5))),
  [data-row-class*="cols-md-6"] .carousel__controls:has(:is(button:first-child:nth-last-child(2),button:first-child:nth-last-child(3),button:first-child:nth-last-child(4),button:first-child:nth-last-child(5),button:first-child:nth-last-child(6))),
  [data-row-class*="cols-md-2"] .carousel__controls:has(button:first-child:nth-last-child(2)) ~ .btn,
  [data-row-class*="cols-md-3"] .carousel__controls:has(:is(button:first-child:nth-last-child(2), button:first-child:nth-last-child(3))) ~ .btn,
  [data-row-class*="cols-md-4"] .carousel__controls:has(:is(button:first-child:nth-last-child(2), button:first-child:nth-last-child(3), button:first-child:nth-last-child(4))) ~ .btn,
  [data-row-class*="cols-md-5"] .carousel__controls:has(:is(button:first-child:nth-last-child(2),button:first-child:nth-last-child(3),button:first-child:nth-last-child(4),button:first-child:nth-last-child(5))) ~ .btn,
  [data-row-class*="cols-md-6"] .carousel__controls:has(:is(button:first-child:nth-last-child(2),button:first-child:nth-last-child(3),button:first-child:nth-last-child(4),button:first-child:nth-last-child(5),button:first-child:nth-last-child(6))) ~ .btn {
    display: none;
  }
}
// #endregion
