@use '../_func' as *;

$darkMode: 'true' !default;

// Host
:host {
  --colour-border: #e9e9e9;
  --side-link-hover: var(--colour-canvas-2);
  grid-column: full-width;

  display: block;
  min-height: calc(100vh - var(--nav-height));
  padding-top: 0 !important;
  margin-inline: auto;
  width: 100%;
  overflow: hidden;
  position: relative;

  @include light-mode($darkMode) {
    --side-link-hover: #eeeeee;
  }

  @include media-breakpoint-up(md, $mobileOnly) {
    max-height: calc(100vh - var(--nav-height));
    overflow: auto;
  }
}

.container {
  position: static;
  min-height: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;

  @include media-breakpoint-up(md, $mobileOnly) {
    padding-left: 5.25rem !important;
  }
}

// #region Side menu
.side-menu {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  min-height: calc(100vh - var(--nav-height));
  width: rem(70);
  height: calc(100% - var(--nav-height));
  padding: 0 rem(40) 0 0;
  transition: width 1s;
  
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: rem(40);
    height: 100%;
    border-right: 2px solid var(--colour-border);
  }

  @include media-breakpoint-up(sm, $mobileOnly) {
    left: 0;
    width: rem(80);
  }

  @include media-breakpoint-up(md, $mobileOnly) {
    left: rem(84);
    margin-left: #{rem(-84)};
    position: fixed;
    top: var(--nav-height);

    &:not(.open).hover {
      width: rem(344);

      .btn[class*='fa-']:before {
        content: '\f023' !important;
      }
    }
  }

  .btn {
    display: var(--btn-display, block);
    position: absolute;
    top: rem(32);
    right: rem(40);
    margin-bottom: 0;
    margin-right: rem(-20);
    background-color: var(--colour-canvas-2);
    border: 2px solid var(--colour-border);
    z-index: 99;
    color: var(--colour-primary-theme);
    transition: opacity 0.2s;

    &[aria-expanded] {
      // Change icon
      &[class*='fa-']:before {
        content: '\f053' !important;
      }

      @include media-breakpoint-up(md, $mobileOnly) {
        opacity: 0;
      }
    }
  }

  &:is(:hover, :focus-within, :active) .btn {
    border: 2px solid var(--colour-border);
    color: var(--colour-primary);

    @include media-breakpoint-up(md, $mobileOnly) {
      opacity: 1;
    }
  }

  &:is(.open) {
    width: calc(100% - var(--container-padding-x) + rem(40));

    @include media-breakpoint-up(sm) {
      width: rem(422);
    }
    @include media-breakpoint-up(md) {
      width: rem(344);
    }
  }

  // Content
  .side-menu-content {
    position: absolute;
    top: 0;
    right: rem(40);
    padding: rem(32) rem(40) rem(40) 0;
    width: rem(351);
    background-color: var(--colour-canvas);
    opacity: 0;
    transition: opacity 1s;
    min-height: 100%;
    overflow: auto;
    max-height: 100%;
    scrollbar-width: thin;

    .h3 {
      padding-left: rem(24);
    }

    @include media-breakpoint-up(sm, $mobileOnly) {
      .h3 {
        padding-left: rem(40);
      }

      width: rem(382);
    }
    @include media-breakpoint-up(md, $mobileOnly) {
      width: rem(304);

      .h3 {
        padding-left: var(--container-padding-x-md);
      }
    }
  }

  &:not(.hover):not(.open) .side-menu-content.closed {
    display: none;
  }

  &.open .side-menu-content {
    opacity: 1;
  }

  @include media-breakpoint-up(md, $mobileOnly) {
    &.hover .side-menu-content {
      opacity: 1;
    }
  }
}

// links moved to links.scss
// #endregion

// #region main content
.main-content {
  position: relative;
  z-index: 10;
  padding-top: rem(24);
  padding-left: rem(60);

  @include media-breakpoint-up(sm, $mobileOnly) {
    padding-left: rem(80);
  }

  @include media-breakpoint-up(md, $mobileOnly) {
    padding-top: rem(40) !important;
    padding-left: 0;
  }

  > span.h3 {
    padding-top: 0.75rem;

    border-bottom: 2px solid var(--colour-border);
    margin-bottom: rem(40) !important;

    @include media-breakpoint-up(md, $mobileOnly) {
      display: none;
    }
  }
}

::slotted(.main-content__title) {
  border-bottom: 2px solid var(--colour-border);
  margin-bottom: rem(40) !important;
  max-width: 100% !important;
  display: block;
}

@include media-breakpoint-up(md, $mobileOnly) {
  ::slotted(.main-content__title) {
    display: none;
  }
}

// #endregion

// #region Desktop open state
@include media-breakpoint-up(md, $mobileOnly) {
  .container:has(.side-menu.open) {
    padding-left: 2rem !important;
    margin-left: max(19rem, calc(50% - calc(var(--container-max-width) / 2)));
    margin-right: 0;
    max-width: min(var(--container-max-width), 100% - 19rem);
  }
}
// #endregion

@include media-breakpoint-up(md, $mobileOnly) {
  :host([open-always]) {
    --btn-display: none;
  }
}
