@use '../_func' as *;
@use '../elements/buttons.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: contents;
}

::slotted(iam-marketing:first-child:last-child) {
  margin-bottom: 0;
  min-height: 100%;
  min-width: 100%;
}