@use '../_func' as *;


::slotted(.toggle):after {
  --icon: var(--icon-light);
  background: red;
  mask-image: var(--icon);
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  -webkit-mask-image: var(--icon);
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  z-index: 2;
}

::slotted(.toggle.dark-theme):after {
  --icon: var(--icon-dark);
}
