.drawer__btn {

  position: sticky;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  z-index: 5;

  margin-bottom: -6rem;

  .btn {
    margin-bottom: 0;
  }
}


.drawer {


  > .container:first-child {
    display: none;
    margin-bottom: -3rem;
    position: relative;
    z-index: 2;
  }

  padding-top: 4rem;
  position: relative;
  z-index: 15;
  background: white;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 3rem, rgba(255,255,255,1) 100%);
}

#showDrawer:checked ~ .drawer {
  
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;

  > .container:first-child {
    display: block;
  }
}
