@use "../_func" as *;

.drawer__btn {

  position: sticky;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  z-index: var(--index-floating);
  margin-bottom: -6rem;

  .btn {
    margin-bottom: 0;
  }
}

.drawer {

  > .container:first-child {
    display: none;
    margin-bottom: -2rem;
    position: relative;
    z-index: var(--index-focus);
  }

  margin-top: 1rem;
  padding-top: 2rem;
  position: relative;
  z-index: var(--index-menu);
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 1.5rem, rgba(255,255,255,1) 100%);
}

#showDrawer:checked ~ .drawer {
  
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(255,255,255);
  //border-top: 1px solid var(--colour-border);
  box-shadow: 0 -1px 20px -10px rgb(51 51 51 / 25%);

  > .container:first-child {
    display: block;
  }
}