@use 'sass:map';
@use '../_func' as *;
@use '../elements/forms' as *;
@use '../elements/buttons' as *;

@use '../utilities/display' as *;

hr {
    --border-style: solid;
    --border-color: var(--colour-border);
    border: 0;
    color: rgba(0, 0, 0, 0);
    margin: 0;
    border-bottom: none;
    background-color: currentColor;
    opacity: 1;
    clear: both;
}

// #region file upload field

.file-upload {
  max-width: rem(400) !important;
  padding-bottom: 1rem;

  .drop-area > input {
    display: none;
  }

  .file-upload__title {
    margin-top: 0; // 1
    margin-bottom: 0;
    font-family: var(--font-heading);
    font-style: normal;
    font-weight: var(--heading-weight);
    line-height: 2rem;
    color: var(--colour-heading);
    clear: both;
    display: block;
    padding-bottom: 2rem;

    font-size: var(--h4-fs);
    line-height: var(--h4-lh);
    padding-bottom: var(--h4-pb);
    max-width: var(--content-max-width);
  }

  .helper-text {
    max-width: rem(270);
  }
}

.files {
  span {
    display: block;
    width: 100%;
    padding: var(--input-padding-block, 0.75rem) var(--input-padding-inline, 1rem);
    font-size: var(--input-fs, 1rem);
    line-height: var(--input-lh, 1.25rem);
    border: 2px solid var(--colour-primary-theme);
    appearance: none; // Fix appearance for date inputs in Safari
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    color: var(--colour-primary);
    border-color: #d8d8d8;
    background: #d8d8d8;
    max-width: rem(400) !important;
    position: relative;

    @media (forced-colors: active) {
      padding-right: 5rem;

      button {
        padding: 0;
        width: 3.7rem !important;
        text-indent: 0% !important;

        &:after {
          display: none !important;
        }
      }
    }

    button {
      position: absolute;
      top: calc(50% - #{rem(9)});
      right: 0.875rem; /* 14/16 */
      z-index: var(--index-floating);
      text-indent: 300%;
      overflow: hidden;
      border: none;
      height: 1.125rem; /* 18/16 */
      width: 1.125rem; /* 18/16 */
      background: transparent;
      color: inherit;

      &:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        display: block;
        height: 1.125rem; /* 18/16 */
        width: 1.125rem; /* 18/16 */
        z-index: var(--index-focus);
        background: currentColor;
        mask-image: var(--icon-close);
        mask-size: 100%;
        mask-repeat: no-repeat;
        mask-position: 50% 50%;
        -webkit-mask-image: var(--icon-close);
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: 50% 50%;
      }
    }
  }
}

:host(.fileupload--drag-drop) .file-upload {
  max-width: rem(800) !important;

  .helper-text {
    max-width: rem(800) !important;
  }

  .drop-area > input {
    display: block;
    min-height: rem(200);
    border: 2px dashed var(--colour-primary-theme);
    color: transparent;
    position: relative;
    padding: 1.5rem 2rem 1.5rem 2rem;
    user-select: none;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 1rem;

    &.focus {
      border: 2px solid var(--colour-info);
    }
  }

  .drop-area {
    position: relative;
  }

  .drop-area::before {
    content: 'Drag and drop files here or click to upload';
    position: absolute;
    inset: 1.5rem 2rem 1.5rem 2rem;
    z-index: 1;
    pointer-events: none;
  }

  ::file-selector-button {
    position: absolute;
    inset: 0;
    opacity: 0;
  }
}
// #endregion
