@use "../_func" as *;

.form-control__wrapper {
  margin-bottom: 1.5rem;
  max-width: $content-max-width;
  position: relative;

  label {
    display: block;

    &[title]:after{

      content: "";
      display: inline-block;
      margin-left: 0.25em;
      margin-bottom: 0.1em;
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      background: currentColor;
      mask-image: var(--icon-question);
      mask-size: 100%;
      mask-repeat: no-repeat;
      mask-position: 50% 50%;
      -webkit-mask-image: var(--icon-question);
      -webkit-mask-size: 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: 50% 50%;
    }
  }
}


.form-control-inline {
  display: flex;
  align-items: center;

  label {
    white-space: nowrap;
    padding-right: 1rem;
  }
}

.form-control-color {
  width: $form-color-width;
  height: $form-color-width; // Override fixed browser height
  overflow: hidden;
  padding: 0;

  .input-group > & {

    flex: 0 0 3rem;
  }

  &::-moz-color-swatch {
    height: $form-color-width;
    border-radius: 0;
    border: none;
  }

  &::-webkit-color-swatch {
    height: $form-color-width;
    border-radius: 0;
    border: none;
  }
}


.input-group {
  .form-range {
    flex: 1 1 0;
    height: auto;
    margin-right: 1rem;
  }
}


.form-control__wrapper.form-control--inline-text {

  display: inline;

  label {
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
  }

  select {  
    display: inline;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0 5px;
    margin: 0 -5px;
    display: inline-block;
    width: auto;
    padding-right: $form-select-padding-x;
    background-position: right 0.2rem center;
  }
}

// #region checkbox
.form-check {

  overflow: hidden;

  input,
  label {
    cursor: pointer;
  }

  input:not([disabled]) + label:hover,
  input:not([disabled]):hover + label,
  input:not([disabled]):focus + label {

    color: var(--colour-hover);
    border-color: var(--colour-hover);
  }
}
.form-check + .form-check {
  margin-top: -0.5rem;
}

.form-check-label {
  float: left;
}

.form-check-label + .form-check-input {

  margin-left: 1rem;
  margin-right: 0.5rem;
}

// #endregion

// #region Conditional reveal
.conditional {
  display: none;
}

input:checked + .conditional,
input:checked + label + .conditional {
  display: block;
  clear: both;
}

input:not([class*="conditional-input-"]):nth-of-type(1):checked ~ .conditional-1,
input:not([class*="conditional-input-"]):nth-of-type(2):checked ~ .conditional-2,
input:not([class*="conditional-input-"]):nth-of-type(3):checked ~ .conditional-3,
input:not([class*="conditional-input-"]):nth-of-type(4):checked ~ .conditional-4,
input:not([class*="conditional-input-"]):nth-of-type(5):checked ~ .conditional-5,
input.conditional-input-1:checked ~ .conditional-1,
input.conditional-input-2:checked ~ .conditional-2,
input.conditional-input-3:checked ~ .conditional-3,
input.conditional-input-4:checked ~ .conditional-4,
input.conditional-input-5:checked ~ .conditional-5 {
  display: block;
  clear: both;
}
// #endregion

// #region Multi-select
select[multiple] {
  border-radius: 0.35rem;
}
select[multiple]::-webkit-scrollbar {
  width: 0.7rem; // manage scrollbar width here
}
select[multiple]::-webkit-scrollbar * {
  background-color:transparent; // manage scrollbar background color here
}
select[multiple]::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  //background-color:#000000!important; // manage scrollbar thumb background color here
  border-radius: 0.35rem;
}
// #endregion

// #region prefix

.form-control__wrapper :is(.prefix,.suffix) {

  color: var(--colour-white);
  background: var(--colour-primary);
  padding: calc(0.75em + 1px) 1em;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  position: absolute;
  bottom: 0px;
}

.form-control__wrapper .prefix {

  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  left: 0;
}

.form-control__wrapper :is(.prefix-sm,.suffix-sm) {

  font-size: var(--fs-small);
}
.form-control__wrapper :is(.prefix-lg,.suffix-lg) {

  font-size: 1.5rem;
}

.form-control__wrapper .prefix + .form-control {
  padding-left: em(64);
}
.form-control__wrapper .suffix + .form-control {
  padding-right: em(64);
}

.form-control__wrapper .suffix {
  left: auto;
  right: 0;
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

// #endregion


// #region large upload field

.form-control__wrapper.form-control--lrg-file {
  aspect-ratio: 4/2;
  border: 1px dashed var(--colour-selected);
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,calc(-50% - 1rem));
    color: var(--colour-muted);
    font-size: 5rem;
    height: 1em;
    width: 1em;
    pointer-events: none;
  }

  > label {
    
    position: absolute;
    top: calc(50% + 2rem);
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
  }

  > input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  .file-uploaded & {
    border: 3px solid var(--colour-success);
    border-radius: 50%;
    aspect-ratio: 1;
    margin-inline: auto;
    max-width: 10rem;

    > label {
      content: "File uploaded";
    }
  }
}

.file-upload__add {
  display: none;

  .file-uploaded & {
    display: block;
    margin-inline: auto;
    color: var(--colour-muted);
    font-size: rem(14);
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}
// #endrgion