@use '../_func' as *;

:host {
  padding-top: 0 !important;
  margin-bottom: rem(32);
  background-color: transparent !important;
  display: block !important;
}

.header-banner {
  padding-top: rem(44);

  max-width: rem(1920);

  min-height: rem(400);
  margin-inline: auto;
  display: block;

  position: relative;
  height: auto;

  @include media-breakpoint-up(md,$mobileOnly) {
    padding-top: rem(84);
  }

  > picture {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    min-height: rem(400);
    max-height: rem(400);

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      inset: 0;
      background: linear-gradient(300deg, rgba(30, 190, 230, 1) 0%, rgba(0, 49, 60, 1) 100%);
      opacity: 0.85;
    }

    img {
      display: block;
      position: absolute;
      z-index: -2;
      inset: 0;
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }
}

:host(.header--contain) {
  .header-banner {
    padding-bottom: 2rem;
  }
  .header-banner > picture {
    max-height: 100%;
  }
}

// Web component CSS
::slotted(.breadcrumb) {
  margin-top: rem(24) !important;
  margin-bottom: -0.5rem !important;

  @include media-breakpoint-up(md,$mobileOnly) {
    position: absolute !important;
    top: 0 !important;
    left: 5.25rem !important;
  }
}

::slotted(*:last-child) {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
