@use '../_func.scss' as *;

:host {
  //all: unset;
  inset: auto;
  top: anchor(bottom);
  left: anchor(left);
  position: fixed;
  position-try-fallbacks: flip-block, flip-inline;
  width: max-content;

  height: min-content;
  max-height: var(--menu-max-height, min(100vh - 6rem));
  background: var(--menu-bg, canvas);
  margin: var(--menu-margin, 0);
  padding: var(--menu-padding, 0.5rem);
  border: var(--menu-border, 2px solid grey);
  overflow: auto;

  border: none !important;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
}

:host(:popover-open),
:host([popover-open]) {
  display: block;
}

:host(:not([popover])) {
  position: static;
  display: block;
}

:host(.menu--sm) {
  width: rem(160);
}
:host(.menu--md) {
  width: rem(240);
}
:host(.menu--lg) {
  width: rem(320);
}

:host(.menu--height-sm) {
  max-height: rem(200);
}
:host(.menu--height-lg) {
  max-height: rem(400);
}

::slotted(*:is(button, a, label, span)) {
  //all: unset !important;
  background: unset !important;
  border: unset !important;
  color: var(--colour-primary) !important;
  font-weight: inherit !important;
  font-family: inherit !important;
  font-size: 1rem !important;
  line-height: rem(19) !important;
  display: block !important;
  margin: var(--menu-item-margin, 0 0 0.25rem 0) !important;
  padding-block: var(--menu-item-padding, 0.5rem) !important;
  width: var(--menu-item-width, 100%) !important;
  max-width: var(--menu-item-width, 100%) !important;
  text-align: var(--menu-item-text-align, left) !important;
}

::slotted(*:is(button, a, label)) {
  padding-inline: var(--menu-item-padding, 0.5rem);
  cursor: var(--menu-item-cursor, pointer) !important;
}

::slotted(*:is(span):first-child) {
  padding-top: 0 !important;
}

::slotted(*:is(button, a, label, span):last-child) {
  margin-bottom: 0 !important;
}

// Radio buttons

::slotted(*:is(label)) {
  --radio-size: #{rem(20)};
  --radio-inner-size: #{rem(12)};
  --radio-inner-top: #{rem(12)};
  --radio-inner-left: #{rem(12)};

  --checkbox-tick-size: #{rem(12)};
  --checkbox-inner-size: #{rem(10)};
  --checkbox-inner-top: #{rem(6)};
  --checkbox-inner-left: #{rem(8)};
  padding-left: rem(36) !important;
}

// States

::slotted(*:is(button, a, label):is(.selected)) {
  background: #e9f8fc !important;
  border-left: 4px solid var(--colour-info) !important;
  border-radius: 0.25rem !important;
}

::slotted(*:is(button, a, label):is(:hover, .hover, :focus, .focus)) {
  //all: unset !important;
  background: var(--colour-light) !important;
  border-radius: 0.25rem !important;
}

::slotted(*:is(button, a, label):is(:active, .active)) {
  background: rgba(224, 224, 224, 1) !important;
  border-radius: 0.25rem !important;
}

::slotted(hr) {
  height: 1px !important;
  background-color: var(--menu-hr-border-color, var(--border-color, grey)) !important;
  width: 100%;
  margin: var(--menu-item-margin, 0 0 0.25rem 0) !important;
  padding: 0 !important;
}

// #region sub menu
::slotted(iam-menu:not([popover])) {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
  width: auto;
}

::slotted(iam-menu[popover]) {
  top: anchor(top);
  left: calc(anchor(right) + 1rem);
}
// #endregion

/*

::slotted([popovertarget]):before {
  text-align: center;
  display: inline-block !important;
  vertical-align: bottom;
  float: right;
  color: inherit;
  height: 1em;
  width: 1em;
}
::slotted([popovertarget]:not([class*='fa-'])):before {
  content: '' !important;
  height: 1.2em;
  width: 1.2em;
  --icon-arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3e%3cpath d='M6.5,2l9,9-9,9' style='fill:none;stroke:%23000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px'/%3e%3c/svg%3e");
  background: var(--menu-after-bg, currentColor) !important;
  mask-image: var(--menu-down-icon, var(--icon-arrow));
  mask-size: 50%;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  -webkit-mask-image: var(--menu-down-icon, var(--icon-arrow));
  -webkit-mask-size: 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  z-index: 2;
}
*/
