@use '../_func.scss' as *;
@use '../elements/dialog.scss' as *;
@use '../elements/buttons.scss' as *;

:host{
  
  overscroll-behavior: contain;

  display: block;
  container-type: inline-size;

}

::slotted(dialog) {
  display: contents!important;
}

::slotted(button) {
  margin: 0!important;
}

@layer components {
  dialog[open] {
    //overflow-y: hidden;
    width: 90vw;
    max-width: rem(324); // col-width*4

    //height: 90vh;
    max-height: min(90vh, #{rem(752)});
    overscroll-behavior: contain;
    overflow-y: hidden;

    @media screen and (min-width: 36em) {
      --dialog-padding: 2rem;
      min-width: rem(335);
      width: fit-content;
      max-width: rem(686);
    }

    @media screen and (min-width: 62em) {
      min-width: rem(454);
      width: fit-content;
      max-width: rem(736);
    }

    &::before {
      content: "";
      top: 0.75rem;
      bottom: auto;
      left: 0;
      right: 0.5rem;
      height: calc(var(--dialog-padding) - 0.75rem);
      position: absolute;
      display: block;
      background: linear-gradient(0deg, transparent 0%, var(--colour-canvas-2) 100%);
      z-index: 2;
    }
    
    &::after {
      content: "";
      top: auto;
      bottom: 0.75rem;
      left: 0;
      right: 6px;
      height: calc(var(--dialog-padding) - 0.75rem);
      position: absolute;
      display: block;
      background: linear-gradient(180deg, transparent 0%, var(--colour-canvas-2) 100%);
      z-index: 2;
    }

    .scroll {
      margin-inline: calc(var(--dialog-padding) * -1);
      margin-block: calc(calc(var(--dialog-padding) - 0.75rem) * -1);
      padding-inline: var(--dialog-padding);
      padding-block: calc(var(--dialog-padding) - 0.75rem);
      height: 100%;
      max-height: 100%;
      overflow: auto;
      overscroll-behavior: contain;
      position: relative;
      z-index: 1;

      .fa-circle {
        display: none;
      }
    }


    // Close button
    > button:first-child {

      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      z-index: var(--index-floating);
      margin: 0;

      &:not(:hover,:focus,:active){
        background-color: var(--colour-canvas);
      }

      @container (min-width: 36em) {
        top: calc(var(--dialog-padding) - 0.75rem);
        right: calc(var(--dialog-padding) - 0.75rem);
      }
      
    }
    

    &:has(.youtube-embed) {
      padding: 0 !important;
    }

    &.dialog--fullwidth {
      max-width: rem(1112);
    }

    .btn__group {
      display: none;
    }
  }
  // Size variants
  // small
  @media screen and (min-width: 36em) {

    :host(.modal--sm) dialog[open] {
      
        min-width: rem(335);
        width: rem(335);
        max-width: rem(335);
    }
  }

  @media screen and (min-width: 62em) {

    :host(.modal--sm) dialog[open] {
        min-width: rem(454);
        width: rem(454);
        max-width: rem(454);
    }
  }

  // large
  @media screen and (min-width: 36em) {

    :host(.modal--lg) dialog[open] {
        min-width: rem(686);
        width: rem(686);
        max-width: rem(686);
    }
  }

  @media screen and (min-width: 62em) {

    :host(.modal--lg) dialog[open] {
        min-width: rem(736);
        width: rem(736);
        max-width: rem(736);
    }
  }




  dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    overscroll-behavior: contain;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-top: 4px solid transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    width: 6px;
    border-radius: 3px;
  }

  ::slotted(p:last-child){
    padding-bottom: 0!important;
  }
  ::slotted(p:last-child){
    padding-bottom: 0!important;
  }
  ::slotted(:last-child){
    margin-bottom: 0!important;
  }

  // #region transactional
  :host(:is([data-type="transactional"],[data-type="acknowledgement"])) dialog[open] {
    text-align: center;

    .scroll > .fa-circle {
      display: var(--fa-display, block);
      line-height: 1;
      font-size: 3rem;
      height: 3rem;
      width: 3rem;
      margin-top: 0;
      margin-bottom: 1.5rem;
      line-height: 1;
      color: var(--colour-heading);
          margin-inline: auto;

      @media screen and (min-width: 62em) {
        font-size: 4rem;
        height: 4rem;
        width: 4rem;
      }

      &:has(> i) {
        position: relative;
      }

      > i:before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: scale(0.5) translate(-100%, 0);
      }
    }

    > button:first-child {

      display: none;
    }
    
    .btn__group {
      display: flex;
      justify-content: center;
      padding-top: 2rem;
      margin-bottom: 0;
    }
  }

  :host([data-type="acknowledgement"]) dialog[open] {

    .btn__group [data-cancel] {
      display: none;
    }
  }
  // #endregion

}