@use '../_func' as *;

$layers: 'true' !default;
$mobileOnly: 'false' !default;
$darkMode: 'true' !default;

@include layer('components', $layers) {
  iam-multiselect .tag[slot='checked'] {
    margin-bottom: rem(8);
    order: var(--order, 1);
    margin-inline: rem(3);
  }

  iam-multiselect .tag:not([slot='checked']) {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    text-align: left;
    border-radius: 0;
    padding-inline: 1rem;
    outline: none;
    padding-block: 0.5rem;

    &:not(:hover, :focus, :active, :focus-within) {
      background: none !important;
    }

    &::after {
      display: none;
    }
  }

  iam-multiselect:has(label:not([slot='checked']):not([slot='notmatched'])) {
    --display-panel: block;
  }

  iam-multiselect:has(label[slot='checked']) {
    --display-button: block;
  }

  @include dark-mode($darkMode) {
    iam-multiselect :is(.tag, .badge):not([slot='checked']) {
      color: var(--colour-heading);
    }
  }
}
