@use "../_func" as *;

// #region Create the correct padding top of the page
nav:has(iam-nav) {

  min-height: #{rem(68)};
  display: block;

  @include media-breakpoint-up(md) {

    &:has(ul[slot="secondary"]) {

      height: calc(#{rem(92)} + #{rem(52)});
    }

    &:has(ul[slot="secondary"]):has(.bg-primary) {
      height: calc(#{rem(92 - 16)} + #{rem(52)});
    }
  }
}
// #endregion

iam-nav:not(:defined) {
  
  @media screen and (max-width: 62em) {
    &:not(:target) > *:not(.brand):not(.btn-menu) {
      display: none;
    }
  }
}


iam-nav {

  display: flex!important;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0!important;
  padding: var(--container-padding)!important;
  padding-top: 1rem!important;
  padding-bottom: 0!important;
  max-width: var(--max-width,80rem)!important;
  width: 100%;
  border-radius: 0!important;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: var(--index-overlay);

  .brand {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 2.25rem;

    &:after {
      display: none;
    }
  }

  .btn-menu {
    
    padding: 0;
    margin: 0;
    text-align: center;
    width: rem(36);
    height: rem(36);
    margin-right: -#{rem(18 - 9)};
    text-indent: -300px;
    overflow: hidden;
    position: relative;

    border: none;

    background: currentColor;

    mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d='M0 88C0 74.7 10.7 64 24 64H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H24C10.7 112 0 101.3 0 88zM0 248c0-13.3 10.7-24 24-24H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H24c-13.3 0-24-10.7-24-24zM448 408c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24s10.7-24 24-24H424c13.3 0 24 10.7 24 24z' /></svg>"));
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: #{rem(18)};
    -webkit-mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d='M0 88C0 74.7 10.7 64 24 64H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H24C10.7 112 0 101.3 0 88zM0 248c0-13.3 10.7-24 24-24H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H24c-13.3 0-24-10.7-24-24zM448 408c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24s10.7-24 24-24H424c13.3 0 24 10.7 24 24z' /></svg>"));
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    -webkit-mask-size: #{rem(18)};
  }

  .brand, .btn-menu {
    margin-bottom: rem(16);
  }

  ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      margin-right: 1rem;

      a {
        text-decoration: none;
      }
    };
  }

  label[for="search"]:after {
    display: none;
  }

  input#search {
    min-width: rem(200);
    background-color: var(--colour-white);
    border-color: var(--colour-white);
  }
}


// #region Mobile bar
@media screen and (max-width: 62em) {
  iam-nav {

    &:not([class*="bg-"]) {
          
      background-color: var(--colour-primary-theme);
      background: linear-gradient(180deg, var(--colour-primary-theme) 0%, var(--colour-primary-theme) #{rem(68)}, var(--colour-canvas-2) #{rem(68)}, var(--colour-canvas-2) 100%);

      .brand[slot="logo"] {
          
        color: var(--colour-white);
        --colour-brand: var(--colour-white);
      }
    }
  }
}
// #endregion

// #region Desktop nav
@include media-breakpoint-up(md) {
  iam-nav {
  

    &.bg-primary {

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 100vw;
        background-color: var(--colour-primary);
        transform: translate(-50%,0);
        z-index: -1;
      }

      ul[slot="secondary"] {
        margin-top: rem(-16);
      }
      
    }

    padding-bottom: rem(16)!important;
    display: flex!important;
    align-items: center;

    &:defined {
      flex-wrap: nowrap;
    }

    &:not([class*="bg-"]) {
        
      background: var(--colour-canvas-2);
    }

    .brand {
      font-size: 3.75rem;
      margin-bottom: 0;
    }

    .btn-menu {
      display: none;
    }

    > * {
      order: 1;
    }

    ul {
      display: flex;
      width: auto;
      flex-shrink: 1;
        
      margin-right: auto;
      padding-left: 1rem;

      li > *:first-child {
        line-height: rem(60);
      }
      li > span:first-child {
        line-height: rem(60 + 16 + 16);
        display: inline-block;
        margin-block: rem(-16);
      }
    }

    ul[slot="secondary"] {
      order: 2;
      flex-shrink: 0;
      width: 100%;
      max-width: var(--max-width, 80rem);
      position: absolute;
      top: 100%;
      left: 0;
      background-color: var(--colour-primary);
          
      padding: var(--container-padding)!important;
      padding-block: 0!important;

      > li > a {
        color: white;
        height: rem(52);
        line-height: rem(52);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 100vw;
        background-color: var(--colour-primary);
        transform: translate(-50%,0);
        z-index: -1;
      }
    }

    > .btn,
    > .dialog__wrapper > .btn,
    > div:has(> label:first-child):has(> input),
    > form div:has(> label:first-child):has(> input) {
      margin-bottom: 0;
      margin-left: 1rem;
      margin-right: 0!important;
    }
  }
}
// #endregion

// #region secondary top
@include media-breakpoint-up(md) {
  iam-nav.secondary-top {

    padding-top: rem(52 + 16)!important;

    ul[slot="secondary"] {
      top: 0;
      
    justify-content: flex-end;

      li:last-child {
        margin-right: 0;
      }
    }
  }
}
// #endregion

// #region dialogs mega menu
@media screen and (max-width: 62em) {
  iam-nav {

    .dialog__wrapper:hover dialog {
      display: block;
    }

    .mega-menu {
      position: static;
    }
    .dialog__wrapper {
      display: contents;
      pointer-events: none;

      > * {
        pointer-events: auto;
      }
    }
    .dialog__wrapper > button:first-child {
      display: none;
    }
    
    .container {
      padding: 0;
    }

    dialog {
      display: contents!important;
      border: none!important;
      padding: 0!important;
      margin: 0!important;
      position: static!important;
      width: auto!important;
      pointer-events: none!important;
      > * {
        pointer-events: auto;
      }
    }
    
  }
}

@include media-breakpoint-up(md) {
  iam-nav {

    li:has(.sub-nav):not(:hover):not(:focus) .sub-nav {
      display: none;
    }
    li:has(.sub-nav) {
      position: relative;
    }
    .sub-nav {

      position: absolute;
      top: 100%;
      left: 0;
      width: fit-content;
      
      border-radius: 0;
      box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.11);

      background-color: var(--colour-canvas-2);

      ul {
        display: block;

        li {
          display: block;

          a {
            white-space: nowrap;
          }
        }
      }
    }

    li:has(.sub-nav--mega),
    .dialog__wrapper:has(.sub-nav--mega) {
      position: static;
    }

    .sub-nav--mega {

      position: absolute;
      top: 100%!important;
      left: 50%!important;
      width: 100vw!important;
      border-radius: 0!important;
      transform: translate(-50%,0);
    }
  }

}
// #endregion