@use 'sass:math';
@use '../_func' as *;

/* #region Create the correct padding top of the page */
nav:has(:is(iam-nav, .iam-nav)) {
  min-height: 6rem; /* 96 */
  display: block;
  position: relative;

  :is(iam-nav, .iam-nav) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    z-index: var(--index-menu);
  }
}

@media screen and (min-width: 62em) {
  nav:has(:is(iam-nav, .iam-nav) [slot='secondary']) {
    min-height: 8.5rem; /* 96 + 40 */
  }
}

nav:has(.nav--sticky) {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;

  .nav--sticky {
    position: fixed;
    outline: 2px solid #eeeeee;
    transition: margin 1s;
    pointer-events: all;
  }
}

@media screen and (max-width: 36em) {
  body:has(:is(iam-nav, .iam-nav).open:not(.nav--xs-sticky, .demo-open)) {
    max-height: 100vh;
    overflow: hidden;
    margin-top: 0rem;
  }

  nav:has(:is(iam-nav, .iam-nav).nav--xs-sticky) {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: margin 1s;

    :is(iam-nav, .iam-nav) {
      position: fixed;
    }
  }

  body[data-direction='down'].past100 nav:has(.nav--xs-sticky) {
    transform: translate(0, -100%);
  }
}

@media screen and (min-width: 36em) {
  body:has(:is(iam-nav, .iam-nav).open:not(.nav--sticky)) {
    max-height: 100vh;
    overflow: hidden;
  }
}

body[data-direction='down'].past100 nav:has(.nav--sticky) .nav--sticky {
  transform: translate(0, -100%);
}

/* #endregion */

/* #region General styles */
:is(iam-nav, .iam-nav) {
  a:not([slot='logo']):not(.btn):not(:has(iam-card)) {
    text-decoration: none;

    .badge {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -0.8rem;
    }

    &:where(:hover, :focus, .selected, [aria-current='page']) {
      text-decoration: underline;
      text-underline-offset: 0.3em;
      text-decoration-thickness: 2px;
      text-decoration-color: var(--colour-underline);
    }
    &:active {
      text-decoration-color: #a2d393 !important;
    }

    &.active,
    &.selected,
    &[aria-current='page'] {
      text-decoration-color: var(--colour-info) !important;
    }

    &[data-product][data-feature]:not([data-is-enabled='true']) {
      padding-left: 2rem !important;
      &:before {
        content: '\f135';
        font-family: var(--fa-family, var(--fa-style-family, 'Font Awesome 7 Pro'));
        padding-right: 0.5em;
        position: absolute;
        left: 0;
        font-weight: 700;
      }
    }
  }

  /* #region standard nav sections */
  .section [data-title].section-title {
    display: block;
  }
  .section [data-product].section-desc {
    display: none;
  }

  .section:not(:has([data-product][data-feature][data-is-enabled='true'])):has([data-product].section-desc) {
    [data-product].section-title {
      display: none;
    }
    [data-product].section-desc {
      display: block;
    }
  }

  .section:has([href='null']):not(:has(a:not([href='null']))) {
    display: none !important;
  }

  .section [href='null'] {
    display: none !important;
  }
  /* #endregion */
}

:is(iam-nav, .iam-nav) details {
  padding-bottom: 0;

  > summary {
    text-decoration: none;

    &:where(:hover, :focus, .selected) {
      text-decoration: underline;
      text-underline-offset: 0.3em;
      text-decoration-thickness: 2px;
      text-decoration-color: var(--colour-underline);
    }
    &:active {
      text-decoration-color: #a2d393 !important;
    }
  }

  &[open] > summary {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--colour-success);
  }

  &:has([aria-current='page']:not([data-duplicate])) > summary {
    text-decoration: underline;
    text-underline-offset: 0.3em;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--colour-info);
  }
}

/* #endregion */

/* #region mobile and tablet mega menu */

@mixin mobileMenu() {
  background-color: #eeeeee;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-inline: 1.5rem;
  width: auto;
  position: relative;

  summary {
    background-color: var(--colour-canvas-2);
    display: block;
    border: none;
    color: var(--colour-link);
    margin: 0;

    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 1.5rem;
    position: relative;
    font-weight: normal;

    &:after {
      content: '\f055';
      display: block;
      font-size: 1.5rem;
      font-weight: 300;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      font-family: var(--fa-family-classic);
      line-height: 1em;
    }
  }

  &[open] > summary:after {
    content: '\f056';
    font-weight: bold;
  }

  a {
    text-decoration: none;
    display: block;
    border: none;
    color: var(--colour-link);
    margin: 0;
    margin-left: 3rem !important;
    padding: 1.5rem 0 1.5rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 1.5rem;
    position: relative;
    font-weight: normal;

    &:after {
      background: var(--colour-border) !important;
      top: calc(100% - 2px) !important;
      width: 100% !important;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(100% - 2px);
    left: 1.5rem;
    height: 2px;
    width: calc(100% - 3rem);
    display: block;
    height: 2px;
    background-color: var(--colour-border) !important;
  }
}

@media screen and (max-width: 62em) {
  :is(iam-nav, .iam-nav) details {
    @include mobileMenu();
  }

  /* secondary menus */
  :is(iam-nav, .iam-nav) > details[slot='secondary'] {
    background-color: transparent;

    summary {
      background-color: transparent;
    }
  }

  /* sub menus */
  :is(iam-nav, .iam-nav) {
    --mobDetails: 'true';

    details .section [data-title].section-title {
      color: var(--colour-body) !important;
      font-size: 1rem;
      font-weight: normal;
      font-weight: normal;
    }

    details > div .lead {
      padding: 1rem 0 0 3rem !important;
    }

    details > div a:last-child {
      margin-bottom: 0 !important;
    }

    details > div a:last-child:after {
      display: none;
    }

    /*  Hide cards */
    details a:has(iam-card) {
      display: none !important;
    }
    /*  Sub details */
    details details {
      &:after {
        display: none;
      }

      summary {
        padding: 0 1.5rem 1.5rem 3.5rem;
        position: relative;
      }

      summary:after {
        left: 1.5rem;
        font-size: 1rem;
        top: 0.1875rem; /* 3 */
        transform: none;
        font-weight: 400;
      }

      > div {
        color-scheme: light;
      }
    }

    details a + details > summary {
      padding-top: 1.5rem;

      &:after {
        margin-top: 1.5rem;
      }
    }

    details details[open] + details:before {
      content: '';
      display: block;
      background: var(--colour-canvas-2);
      padding-top: 1.5rem;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
  }
}

/* #endregion */

/* #region tablet mega menu tweaks */
:is(iam-nav, .iam-nav) details {
  @media screen and (max-width: 62em) and (min-width: 36em) {
    padding-right: 2.5rem;
    margin-right: -2.5rem;

    &:after {
      width: calc(100% - 4rem);
    }

    summary {
      padding-right: 2.5rem;
      margin-right: -2.5rem;

      &:after {
        right: 2.5rem;
      }
    }
  }
}

/* #endregion */

/* maintain the mobile mega menu for the account menu on desktop */
:is(iam-nav, .iam-nav) > details[slot='account'] {
  @include mobileMenu();

  @media screen and (min-width: 36em) {
    padding-right: 2.5rem;
    margin-right: -2.5rem;

    &:after {
      width: calc(100% - 4rem);
    }

    summary {
      padding-right: 2.5rem;
      margin-right: -2.5rem;

      &:after {
        right: 2.5rem;
      }
    }
  }
}

/* #region Desktop mega menu */
@media screen and (min-width: 62em) {
  :is(iam-nav, .iam-nav) details:not([slot='secondary']):not([slot='account']) {
    width: auto;

    > summary {
      display: block;
      border: none;
      color: var(--colour-link);
      margin: 0;
      font-size: 1rem;
      line-height: 6rem; /* 96 */
      min-height: 6rem; /* 96 */
      margin-block: -1.5rem;
      position: relative;
      font-weight: normal;
      white-space: nowrap;
      padding-right: 1.5rem;

      &:after {
        content: '\f078';
        display: block;
        font-size: 1rem;
        font-weight: 300;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        font-family: var(--fa-family-classic);
        line-height: 1em;
      }
    }

    &:not(:first-child) > summary {
      margin-left: 1.5rem;
    }

    div {
      display: none;
    }

    &[open] > div {
      position: absolute;
      display: block;
      top: 100%;
      left: 50%;
      width: 100%;
      padding-inline: max(
        var(--padding-inline),
        calc((100% - var(--container-max-width)) / 2 + var(--padding-inline))
      ) !important;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
      max-height: calc(100vh - var(--nav-height));
      width: 100svw;
      //overflow: auto;
      flex-wrap: wrap;
      translate: -50% 0;

      .lead {
        padding: 1rem 0 0 0 !important;
      }
    }

    &[open] > div:has(details) {
      background: var(--colour-canvas-2);

      > a {
        display: inline-block !important;
        margin-right: 2rem !important;

        &:first-child {
          margin-right: 0;
        }

        &:after {
          display: none !important;
        }
      }

      a:has(iam-card) {
        display: none;
      }
      details {
        display: inline-block;

        summary {
          display: inline-block;
          margin-left: 0 !important;
          margin-right: 2rem;
        }

        &:first-child summary {
          margin-left: 0;
        }
      }
    }

    &[open] > div:not(:has(details)) {
      background: var(--colour-canvas);

      padding-top: 8rem; /* (40 + 88); */
      padding-bottom: 4rem; /* 64 */
      columns: 3;
      column-gap: 6.875rem;

      > a {
        margin-right: 0 !important;
        display: block;
        max-height: 6rem;

        &.double-height {
          min-height: 6rem;
        }
      }

      a:has(iam-card) {
        display: inline-block;
      }

      &:before {
        content: attr(data-title);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: var(--colour-white);
        padding-inline: max(
          var(--padding-inline),
          calc((100% - var(--container-max-width)) / 2 + var(--padding-inline))
        ) !important;
        font-size: 2rem;
        font-weight: bold;
        line-height: 5.5rem;

        --gradient-direction: 90deg;
        background-color: var(--colour-info-theme);
        background-image: linear-gradient(
          var(--gradient-direction),
          var(--colour-primary-theme) 0,
          transparent 100%
        ) !important;
      }

      &:has(iam-card) {
        column-gap: 1rem;

        a:not(:has(iam-card)) {
          margin-right: 5.875rem !important;
        }

        a:has(iam-card) {
          &:after {
            display: none;
          }
        }
        a:not(:has(iam-card)) + a:has(iam-card) {
          break-before: column;
        }
      }
    }

    &[open] > div:has(span.section) {
      display: flex;

      > span.section {
        display: block;
        flex-grow: 1;

        .lead {
          column-span: all;
        }
      }

      > span.section.section--double {
        display: block;
        width: calc(66.66% - 6.875rem);
        columns: 2;
        column-gap: 6.875rem;

        .lead {
          column-span: all;
        }
      }

      > span.section:first-child:last-child {
        display: block;
        width: calc(66.66% - 6.875rem);
        columns: 3;
        column-gap: 6.875rem;

        .lead {
          column-span: all;
        }
      }
    }

    a:not([slot='logo']):not(.btn):not(:has(iam-card)) {
      font-size: 1rem;
      line-height: 1.5rem;
      padding-block: 1.5rem;
      position: relative;
      font-weight: normal;
      display: block;
      margin: 0;
      overflow: auto;

      &:where(:hover, :focus, .selected, [aria-current='page']) {
        text-decoration: underline;
        text-underline-offset: 0.3em;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--colour-underline);
      }
      &:active {
        text-decoration-color: #a2d393 !important;
      }
      &.selected,
      &[aria-current='page'] {
        text-decoration-color: var(--colour-info);
      }

      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 100% !important;
        top: calc(100% - 2px);
        background-color: var(--colour-border) !important;
      }
    }

    details:not(:first-child) > summary {
      margin-left: 2rem;
    }
  }

  :is(iam-nav, .iam-nav) > details[open] > div:has(details) {
    background: #eee!important;
    display: flex!important;
    align-items: center!important;
  }

  :is(iam-nav, .iam-nav) a:not([slot='logo']):not(.btn):not(:has(iam-card)) {
    &[data-product][data-feature]:not([data-is-enabled='true']) {
      &:before {
        left: 0.5rem;
      }
    }
  }
  nav:has(:is(iam-nav, .iam-nav).open) {
    min-height: 100vh !important;
    max-height: 100vh;
    overflow: visible;

    margin-bottom: calc((100vh - var(--nav-height)) * -1);
  }

  html:has(:is(iam-nav, .iam-nav).open:not(.demo-open)) {
    overflow: hidden;
  }

  // Updated secondary nav
  :is(iam-nav, .iam-nav) > details[slot='secondary'] {
    display: inline-block;
    position: relative;
    width: auto;

    summary {
      display: inline-block;
      margin-left: 1.5rem;
      margin-bottom: 0 !important;
      font-size: 0.75rem;
      font-weight: bold;

      &:after {
        display: none;
      }
    }

    div {
      text-align: left;

      a {
        white-space: nowrap;
        text-decoration: none;

        font-size: 1rem !important;
        line-height: 1.5rem !important;
        margin: 0;
        padding: var(--option-padding) !important;
      }

      .lead {
        --colour-heading: var(--colour-body);
        color: var(--colour-body);
        font-size: 0.87rem !important;
        line-height: 1.5rem !important;
        margin: 0;
        padding: var(--option-padding) !important;
      }
      a:after {
        width: 0;
      }

      .section:has(a:not([href='null'])) + .section {
        border-top: 1px solid var(--colour-border);
        display: block;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
      }
    }
  }

  :is(iam-nav, .iam-nav) > details[slot='secondary']::details-content {
    display: none;
  }

  :is(iam-nav, .iam-nav) > details[slot='secondary'][open]::details-content {
    display: block;
    background: var(--dropdown-bg);
    margin-block: var(--dropdown-margin-block);
    padding: var(--dropdown-padding);
    border-radius: var(--dropdown-border-radius);
    box-shadow: var(--dropdown-box-shadow);

    position: absolute;
    top: calc(100% + 0.5rem);
    left: 1.5rem;
  }

  :is(iam-nav, .iam-nav) > details[slot='secondary'][open]:has([data-title='Learning and support'])::details-content {
    left: auto;
    right: 0;
  }
}

/*  4 columns on large screens */
@media screen and (min-width: 80em) {
  /*  1280 */
  :is(iam-nav, .iam-nav).nav--large *:not(.nav--menu) > details {
    &[open] > div:not(:has(details)) {
      columns: 4;
      column-gap: 6.875rem;
    }
  }
}

/* #endregion */

/* #region Search */
@media screen and (min-width: 62em) {
  :is(iam-nav, .iam-nav) {
    &.search-open {
      > *:not([slot='logo']):not([slot='secondary']):not([slot='search']) {
        display: none !important;
      }
    }
  }
}
/* #endregion */

/* #region Dual navbar in desktop */
@media screen and (min-width: 62em) {
  :is(iam-nav, .iam-nav):has([slot='dual']) {
    .brand:has(~ [slot='dual']) {
      margin-right: 1.5rem !important;
    }

    *:not([slot='dual']):has(+ [slot='dual']) + [slot='dual'] {
      margin-left: auto !important;
    }

    .btn[slot='dual'] {
      margin-left: 0;
    }

    &::part(btn-menu) {
      margin-left: 1rem !important;
    }
  }
}
/* #endregion */

/* #region compact menus on mobile */
:is(iam-nav, .iam-nav) > .dialog__wrapper {
  .dialog--list {
    a {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 62em) {
  :is(iam-nav, .iam-nav) > .dialog__wrapper:not(.dialog--xs) {
    width: 100%;

    .btn-compact {
      display: none !important;
    }
    .dialog--list {
      display: contents !important;

      a {
        font-size: 1rem;
      }
    }
  }

  :is(iam-nav, .iam-nav) > .dialog__wrapper:not(.dialog--xs) .dialog--list a,
  :is(iam-nav, .iam-nav) .btn-compact {
    --compact-size: 2rem;
    all: unset;
    display: block !important;
    font-size: 0.875rem !important;
    line-height: 2rem !important;
    height: 2rem !important;
    min-height: 2rem !important;
    max-height: 2rem !important;
    width: 100% !important;
    margin: 0 !important;
    cursor: pointer;
    color: var(--colour-link);
    font-weight: normal !important;

    &:where(:hover, :focus, .selected, [aria-current='page']) {
      text-decoration: underline;
      text-underline-offset: 0.3em;
      text-decoration-thickness: 2px;
      text-decoration-color: var(--colour-underline);
    }

    &:before {
      display: inline-block;
      width: auto;
      position: static;
      margin-right: 0.5rem;
      font-size: 0.875rem !important;
      text-decoration: none !important;
    }

    &:after {
      display: none;
    }
  }
}
/* #endregion */

/* #region navbar additional menus */

iam-nav .title[slot='account'] {
  display: block;
}

iam-nav .title[slot='account']:has(+ .switch-account[slot='account']) {
  padding-bottom: 0.5rem !important;
}

iam-nav .switch-account[slot='account'] {
  margin-bottom: 3rem;
}

/* #endregion */


/* #region tab order fix */
:is(iam-nav, .iam-nav) * {

  reading-order: 2;
}

:is(iam-nav, .iam-nav) [slot="secondary"] {
  reading-order: 1;
}
/* #endregion */
