@use "../_func" as *;

:host{
  display: flex!important;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

::slotted(.brand) {

  margin-right: auto;
}

.btn-menu {
    
  padding: 0;
  margin: 0;
  text-align: center;
  height: rem(48);
  padding-block: rem(12);
  line-height: rem(24);
  overflow: hidden;
  position: relative;
  background: none;
  border: none;
  width: rem(24);
  text-indent: -300px;
  color: var(--colour-heading);

  i {
    font-size: rem(24);
    line-height: rem(24);
    position: absolute;
    text-indent: 0px;

    width: rem(24);
    text-align: center;
    top: rem(12);
    right: 0;

    &.fa-xmark {
      
    font-size: rem(30);
    }
  }

  i + i {
    display: none;
  }

  &.current {

    i {
      display: none;
    }

    i + i {
      display: inline;
    }
  }
}

// #region mobile and tablet menu
@media screen and (max-width: 62em) {
  :host > .container {
    display: contents;
  }

  .menu__outer {
    
    position: absolute;
    top: rem(96);
    left: 0;
    width: 100%;
    height: calc(100vh - #{rem(96)});
    overflow: hidden;
    pointer-events: none;
    transition: background 0.5s;
  }

  .menu__outer:has(.menu.open) {

    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
  }

  .menu {

    overscroll-behavior: contain;
    width: calc(#{rem(375)} - var(--scrollbar-width));
    background-color: var(--colour-canvas-2);
    position: absolute;
    height: calc(100vh - #{rem(96)});
    left: 100%;
    top: 0;
    padding: 0 rem(24);
    z-index: var(--index-menu);
    overflow: auto;
    transition: all 1s ease-out;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    > * {
      flex-shrink: 0;
    }

    @media screen and (prefers-color-scheme: dark) {
      --colour-link: var(--colour-white);
      @include invert-colours();
    }

    // The menu is always white unless in dark mode
    @media screen and (prefers-color-scheme: light) {
      
      background-color: var(--colour-white);
      @include reset-colours();
    }

    
    @media (forced-colors: active) {
      
      outline: 1px solid white;
    }

    &:before {
      content: "";
      position: sticky;
      display: block ;
      top: 0;
      left: 0;
      width: calc(100% + 3rem);
      border-top: 2px solid var(--colour-border);
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }

    &.open {
      left: calc(100% - (#{rem(375)} - var(--scrollbar-width)) );
      -webkit-box-shadow: 0 6px 12px 0px rgba(0,0,0,0.2);
      box-shadow: 0 6px 12px 0px rgba(0,0,0,0.2);
      pointer-events: all;
    }
  }
  
  .menu__secondary {
    display: none;
  }

  .container.has-secondary .menu__secondary {
    display: block;
    margin-top: 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3rem!important;
    flex-grow: 1;
    position: relative;

    @media screen and (prefers-color-scheme: light) {
      background-color: #EEEEEE;
    }

    .container {
      display: contents;
    }
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 1.5rem;
      display: block;
      height: 2px;
      width: calc(100% - 3rem)!important;
      background-color: var(--colour-border)!important;
    }
  }

  ::slotted(a:not([slot="logo"])) {
    display: block!important;
    line-height: rem(20)!important;
    padding: rem(24) 0!important;
    margin: 0!important;
    flex-shrink: 0;

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%!important;
      background-color: var(--colour-border)!important;
    }
  }

  ::slotted(.dialog__wrapper) {
    
    margin: rem(48) 0 rem(48) 0!important;
    flex-shrink: 0;
  }
  ::slotted(button) {

    display: block!important;
    margin: rem(48) 0 rem(24) 0!important;
    width: 100%!important;
    max-width: 100%!important;
    text-align: center!important;
    flex-shrink: 0;
  }
}
// #endregion

// #region tablet tweaks
@include media-breakpoint-up(sm) {

  ::slotted(button) {

    width: auto!important;
  }

  .btn-menu:not(.current) {

    width: auto;
    text-indent: 0;
    padding-right: rem(24 + 4);
  }
}

// #endregion

// #region desktop
@include media-breakpoint-up(md) {

  .btn-menu {
    display: none;
  }

  :host {
    max-width: 100%!important;
    padding: 0!important;
  }

  :host > .container {
    padding-block: rem(24)!important;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &.has-secondary {
      padding-top: rem(24 + 40)!important;
    }

    > * {
      margin-bottom: 0!important;
    }
  }

  .menu,
  .menu__outer,
  .menu__primary {
    display: contents;
  }

  .menu__secondary {
    display: none;
  }

  .container.has-secondary .menu__secondary {
          
    background-color: var(--colour-canvas-2);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @media screen and (prefers-color-scheme: light) {
            
      background-color: #EEEEEE;
      @include reset-colours();
    }

    @media screen and (prefers-color-scheme: dark) {
            
      
      @include invert-colours();
    }


    .container {
      margin-left: auto;
      margin-right: auto;
      padding: var(--container-padding)!important;
      padding-top: rem(8)!important;
      padding-bottom: rem(8)!important;
      text-align: right;
    }
  }

  ::slotted(a[slot="secondary"]) {
    font-size: rem(14)!important;

    &:after {
      top: calc(100% - 0.25em)!important;
    }
  }

  ::slotted(a:not([slot="logo"])),
  ::slotted(button) {

    margin-bottom: 0!important;
    margin-right: 0!important;
  }

  ::slotted(a:not([slot="logo"])) {

    margin-left: rem(32)!important;

    &:not(.selected):after {
      width: 0!important;
    }
  }

  ::slotted(button) {

    margin-left: rem(48)!important;
  }

  ::slotted(.dialog__wrapper) {

    margin-left: rem(48)!important;
  }
}
// #endregion




/*
::slotted(.brand) {
  
  margin-right: auto!important;
}

.container:not(.container-fluid) {
  max-width: var(--max-width,80rem);
  padding: var(--container-padding)!important;
  padding-bottom: 0!important;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;

  @include media-breakpoint-up(md) {

    display: contents;
  }
}

@include media-breakpoint-up(md) {

  :host {
    flex-wrap: nowrap;
  }
}
.menu {
  @media screen and (max-width: 62em) {
    display: block;
    width: calc(#{rem(375)} - var(--scrollbar-width));
    position: absolute;
    height: 100vh;
    left: 100%;
    top: 0;
    padding: var(--container-padding)!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    background: var(--colour-canvas-2);
    z-index: var(--index-menu);
    overflow: auto;

    transition: left 1s ease-out;

    
    //@include reset-colours();

    &.open {
      left: calc(100% - (#{rem(375)} - var(--scrollbar-width)));
    }

    .menu--top {
      display: flex;
    }
    
    .btn-close {
        
      padding: 0;
      margin: 0;
      text-align: center;
      width: rem(36);
      height: rem(36);
      margin-right: -#{rem(18 - 9)};
      text-indent: -300px;
      overflow: hidden;
      position: relative;
      border: none;
      background: currentColor;

      mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d='M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z' fill='var(--colour-primary)'/></svg>"));
      mask-repeat: no-repeat;
      mask-position: 50% 50%;
      mask-size: #{rem(18)};
      -webkit-mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'><!--! Font Awesome Pro 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d='M345 137c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-119 119L73 103c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l119 119L39 375c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l119-119L311 409c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-119-119L345 137z' fill='var(--colour-primary)'/></svg>"));
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: 50% 50%;
      -webkit-mask-size: #{rem(18)};
    }
  }

  @include media-breakpoint-up(md) {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
    order: 1;
    
    > * {
      order: 1;
    }

    .menu--top {
      display: none;
    }
    
    > .btn,
    > div:has(> label:first-child):has(> input),
    > form div:has(> label:first-child):has(> input) {
      margin-bottom: 0;
      margin-left: 1rem;
    }
  }
}

*/