
.navbar {
  padding: rem(16) 0 rem(16) 0;

  .container {
    padding-bottom: 0;
  }

  .brand {
    font-size: rem(48);

    @include media-breakpoint-up(sm) {
      font-size: rem(60);
    }
  }

  li a:not(.text-decoration-none):not(.btn) {
    text-decoration: none;
    @include var(color,--colour-primary,!important);
    display: block;
    padding: rem(8) 0 rem(8) 0;
    position: relative;

    &:before {
      display: block;
      width: 0;
      height: 4px;
    }

    &:hover:before,
    &:focus:before,
    &:active:before,
    &.active:before {
      width: 100%;
    }
  }
}