@use "../_func" as *;

.admin-panel {
  --panel-gutter: 1rem;
  --panel-tab-colour: #fafafa;
  background: var(--body-bg);

  &.bg-secondary{

    background-color: rgba(#b4e6a5,0.3) !important;
  }

  @media screen and (prefers-color-scheme: dark) {

    --panel-tab-colour: transparent;
  }

  @include media-breakpoint-up(md) {

    --panel-gutter: 1.5rem;
  }

  padding: 0 var(--panel-gutter) 0 var(--panel-gutter);
  border: 1px solid var(--colour-border-light);
  border-top: 3px solid var(--colour-secondary);
  margin-bottom: 2rem;

  &:empty {
    display: none;
  }

  > *:not(.note-feed):first-child {
    margin-top: var(--panel-gutter);
  }

  > *:last-child:not(details) {
    margin-bottom: var(--panel-gutter);
  }

  > :is(h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6):first-child {
    border-bottom: 2px solid var(--colour-border-light);
    font-size: var(--fs-4);
    line-height: 1;
    letter-spacing: 1;
    padding: var(--panel-gutter) var(--panel-gutter) var(--panel-gutter) var(--panel-gutter);
    margin: 0 calc(var(--panel-gutter) * -1) var(--panel-gutter) calc(var(--panel-gutter) * -1);
    display: block;
  }

  > .table__wrapper,
  > .note-feed > .table__wrapper,
  > .tabs > details > .table__wrapper {

    margin: 0 calc(var(--panel-gutter) * -1) var(--panel-gutter) calc(var(--panel-gutter) * -1);
    padding: 0 var(--panel-gutter) 0 var(--panel-gutter);
    min-width: calc(100% + var(--panel-gutter) + var(--panel-gutter));
    
    table {

      margin: 0 calc(var(--panel-gutter) * -1) var(--panel-gutter) calc(var(--panel-gutter) * -1);
      min-width: calc(100% + var(--panel-gutter) + var(--panel-gutter));
      padding-right: 0;

    }

    tr {
      :is(th, td) {
        padding-left: var(--panel-gutter);
        padding-right: var(--panel-gutter);
      }
    }

    &:first-child {
      margin-top: 0;

      thead tr:first-child {

        border-top: none;
      }
    }

    &:last-child {
      margin-bottom: 0;

      tbody tr:last-child {

        border-bottom: none;
      }
    }
  }

  // Table margin top override
  :is(h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6, .admin-panel__links, .tabs__links) + :is(.table__wrapper, table, .note-feed) {
    margin-top: calc(var(--panel-gutter) * -1);

    tr:first-child {

      border-top: none;
    }
  }
}

[class*="col"] .admin-panel:first-child:last-child {

  min-height: calc(100% - 2rem);
}

.admin-panel .admin-panel__links {

  margin-top: -3px!important;
  margin-left: calc(var(--panel-gutter) * -1);
  margin-right: calc(var(--panel-gutter) * -1);
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
  border-bottom: 2px solid var(--colour-border-light);
  margin-bottom: var(--panel-gutter);

  @include media-breakpoint-up(sm) {

    flex-direction: row;
    border-top: 1px solid var(--colour-border-light);
  }

  :is(a, label) {
    padding: var(--panel-gutter);
    margin: 0;
    width: 100%;
    background: var(--panel-tab-colour);
    border-top: 1px solid var(--colour-border-light);
    border-left: 3px solid var(--panel-tab-border, #fafafa);

    &:before {
      display: none;
    }

    @include media-breakpoint-up(sm) {

      margin-right: 0!important;

      &:first-child{
        border-left: none!important;
      }

      &:not(:first-child){

        border-left: 1px solid var(--colour-border-light)!important;
      }

      border-top: 3px solid var(--panel-tab-border, #fafafa);
    }
  }

  .current {
    
    --is-current: 1;
    --panel-tab-colour: var(--body-bg);;
    --panel-tab-border: var(--colour-secondary);
    pointer-events: none;
  }
}