@use '../func' as *;
@use '../elements/prefix' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
      margin-top: 0.5rem;
}

:host {
  display: block;
}

::slotted(input) {
  margin: 0!important;

  border-start-end-radius: 0!important;
  border-end-end-radius: 0!important;
}

// Password checker
.invalid-feedback {
  color: var(--colour-danger);
  margin-top: 0.5rem;
  background-image: var(--icon-error);
  background-repeat: no-repeat;
  background-position: left top 1px;
  background-size: var(--input-fs, 1rem) var(--input-fs, 1rem);
  padding-left: calc(var(--input-fs, 1rem) + 0.5rem);
  //display: none;
}

.pwd-checker {
  display: block;
  background-repeat: no-repeat !important;
  background-position: left center;
  background-size: 1em 1em;
  padding-left: 1.5rem !important;
  margin-top: 0.5rem;
}
.pwd-checker.invalid-feedback {
  background-image: var(--icon-error);
}

.pwd-checker:not(.invalid-feedback) {
  background-image: var(--icon-tick) !important;
}
label:has(.pwd-checker.invalid-feedback):after {
  display: none !important;
}
// #endregion