@use '../_func.scss' as *;

@layer components {

  :host {
    
    padding: rem(16);
    max-width: calc(anchor-size(width) * 2) !important;

    position: absolute;
    position-area: bottom span-x-end;
    margin:  #{rem(4)};
    padding: rem(16);
    max-width: calc(anchor-size(width) * 2) !important;
    position-try-fallbacks: top span-x-end, bottom span-x-start, top span-x-start;

    &::backdrop {
      display: none;
    }

    @media screen and (min-width: 36em) {
      width: rem(335);
    }
    @media screen and (min-width: 62em) {
      width: rem(360);
    }
  } 
}
