@use 'sass:map';
@use '../_func.scss' as *;

@use '../elements/type.scss' as *;

@include max-height();

:host {
  overflow: visible;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.podium {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  max-width: 30rem;
  margin: auto;
  gap: 1rem;

  > div {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
    order: 1;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  > div:nth-child(1) {
    order: 2;
  }

  > div:nth-child(3) {
    order: 3;
  }
}

.mh-md {
  display: contents;

  &:before {
    display: none;
  }
}

:host(.leaderboard-scroll) .mh-md {
  display: block;
  max-height: calc(var(--leaderboard-height, 25rem) - var(--mh-modifier, 0rem));

  &:before {
    display: block;
  }
}

:host(.hide-podium) .podium {
  display: none;
}

:host(.hide-leaderboard) .mh-md {
  display: none !important;
}
