@use "../_func" as *;

.snapshot {

  > .row {

    padding-bottom: 1rem;

  }

  > .row > .col {

    margin-bottom: 1rem;
    min-width: rem(150);
    position: relative;
  }

  @include media-breakpoint-up(sm) {
    > .row > .col:nth-child(8) ~ .col {
      max-width: 25%;
    }
  }

  @include media-breakpoint-up(md) {
    > .row > .col:nth-child(8) ~ .col {
      max-width: 12.5%;
    }
  }

  &__item {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;

    &:not([class*="bg-"]){
      border: 1px solid var(--colour-border);
    }
  }


  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;

    &:hover + .snapshot__item {
      opacity: 0.8;
    }
  }

  &__title {
    padding-bottom: 1rem;

    &:after {
      content: ":";
    }
  }

  .stat {
    text-decoration: none;
    margin-bottom: 0;
  }
}