@use '../_func.scss' as *;
@import "../elements/buttons";
::slotted(button) {
  float:left;
  margin-right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right:none !important;
}

::slotted(button:hover:not([slot])) {

}

::slotted(button[slot]) {
  background: none !important;
  display: block !important;
  float:none !important;
  border: none !important
}

.split-button {
  position: relative;

  .dropdown {
    position: relative;
    display: inline-block;

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-width: 2px;
      border-left:1px solid grey;
      padding-right:0;
      padding-left:0.75rem;
      margin-bottom: 0;

      i{
        //color:black;
      }

      .fa-light {
        &::before {
          content: "\f107";
        }
      }

      &:hover, &:active, &:focus {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
.split-menu {
  position: absolute;
  top:50px;
  left:0;
  display: none;
  z-index: 10;
  background: #fff;
  padding: 0.75rem;
  list-style: none;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);

  &.open {
    display: inline-flex;
    flex-direction: column;
    min-width: 160px;
  }
}

.btn-secondary:not([disabled]) {
  &:hover, &:active, &:focus {
    i {
      color: white !important;
    }
  }
}

@media only screen and (max-width: 375px) {
  .dropdown {
    position: unset;
    display: block !important;
  }
  .split-menu {
    width:100%;
    right: 0;
    //left: -100%;
    top:40px;
  }
}

@media (prefers-color-scheme: dark) {
  .btn-primary {
    i {
      color: red !important;
    }
  }
  .btn-secondary {
    &:hover, &:active, &:focus {
      i {
        color: black !important;
      }
    }
    i {
      color: red !important;
    }
  }
  .dropdown {
    .split-menu-btn {
      color: black !important;
    }
  }
  ::slotted(button) {
    color:black !important;
  }
}
