@use '../_func.scss' as *;
@import "../elements/buttons";

.split-button {

>  button {
    float:left;
    margin-right: 0 !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:hover, &:active, &:focus {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  .dropdown {
    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left:1px solid grey;
      padding-right:0.75rem;
      padding-left:0.75rem;

      i {
        color:black !important;
      }

      &:hover, &:active, &:focus {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    ul {
      display:block;}
  }
}
