@use '../_func' as *;
@use '../elements/buttons';

@use '../elements/dropdown';

@use '../components/menu.global';

*, *::before, *::after {
  box-sizing: border-box;
}

/*  Main button */
::slotted(button:not([slot])) {
  float: left;
  margin-right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none !important;
  padding-right: 1rem !important;
  outline: none !important;
  padding-block: calc(var(--btn-padding-block) - 2px)!important;
}
::slotted(button:not([slot]).btn-secondary) {
  border: 2px solid var(--colour-btn-secondary-border)!important;
  border-right: none !important;
}
::slotted(button:not([slot]).btn-primary) {
  border: 2px solid var(--colour-btn-border)!important;
  border-right: none !important;
}

/*  Secondary buttons */
::slotted(button[slot]) {
  background: none !important;
  display: block !important;
  float: none !important;
  border: none !important;
}

/*  Drop down button */
.split-button {
  position: relative;

  .menu__wrapper {
    position: relative;
    display: inline-block;

    button {
      outline: none !important;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-right: 0;
      padding-left: 0.75rem;
      margin-bottom: 0;
      padding-block: calc(var(--btn-padding-block) - 2px);

      .fa-light {
        &::before {
          content: '\f107';
        }
      }

      &:hover,
      &:active,
      &:focus {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &::after {
        display: none;
      }
    }

    button:not(.border-0) {

      border: 2px solid var(--colour-btn-border)!important;
      border-left: 1px solid rgba(0, 0, 0, 0.2)!important;
    }

    .btn-secondary:not(.border-0) {

      border: 2px solid var(--colour-btn-secondary-border)!important;
      border-left: 1px solid rgba(0, 0, 0, 0.2)!important;
    }
  }
}

@layer elements {
  .split-button {
    .menu__wrapper {

      button:not(.border-0) {

        border: 2px solid var(--colour-btn-border)!important;
        border-left: 1px solid rgba(0, 0, 0, 0.2)!important;
      }

      .btn-secondary:not(.border-0) {

        border: 2px solid var(--colour-btn-secondary-border)!important;
        border-left: 1px solid rgba(0, 0, 0, 0.2)!important;
      }
    }
  }
}

/*  Secondary button */
.btn-secondary:not([disabled]) {
  &:hover,
  &:active,
  &:focus {
    i {
      color: white !important;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .btn-secondary.btn-split {
    border-left-color: white !important;

    &:hover,
    &:active,
    &:focus {
      i {
        color: black !important;
      }
    }
  }
}
