@use '../_func' as *;

@use './table.component';

@use '../elements/badge-tag.css';

@use '../utilities/wider-colours.scss';

.table-filters:not(:empty) {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 1rem 0.5rem 0;

  * {
    margin: 0!important;
  }

  .tag {
    cursor: pointer;
  }
}
