@use '../_func' as *;

$selector: '.table--component';

@layer components {
/* #region Basic table stuff */
:is(#{$selector}) {
  --row-bg: var(--colour-canvas-2);

  table {
    margin-bottom: 0;
  }


  table thead tr {
    background: var(--row-bg, transparent);
  }
  
  table thead tr th {
    position: relative;
    color: var(--colour-heading);

    &:not(:last-child) {
      padding-right: 2rem !important;
    }
  }

  tbody tr {
    background: var(--row-bg);

    &:not(.no-hover):is(:hover, :focus-within, .hover) {
      --row-bg: var(--colour-light);
    }
  }

  td {
    background-color: var(--row-bg);
    anchor-scope: all;
  }

  tr td p {
    min-width: 10rem;
  }

  :is(td, th) {
    color: var(--colour-body-default);
  }
}
/* #endregion */

/* #region Tables are only stacked on mobile */
:is(#{$selector}):not(.table--fullwidth) {
  td:has([data-expand-button]),
  .expand-button-heading {
    display: none;
  }

  @container (width < 23.4375em) {

    thead {
      display: none;
    }

    tbody {
      --status-pt: 2.5rem;

      display: block;
      overflow: visible;

      tr td:first-child {
        padding-top: 0;
      }
    }

    tr {
      display: block;
      position: relative;
      border: none;
      background: var(--row-bg);
      padding: var(--wrapper-padding);
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
      border-radius: 0.5rem;
      height: auto;

      & + tr {
        margin-top: 2rem;
      }

      &:not(.no-hover):is(:hover, :focus, .hover) {
        --row-bg: var(--colour-canvas-2);
      }
    }

    tr:not([data-view='full']) {
      td:nth-child(4) ~ td:not(.td--fixed) { /* is nth child 4 as the first td contains the expand button */
        display: none !important;  
      }
    }

    :is(td, th) {
      display: block;
      border-color: var(--colour-border);

      padding-right: 0;

      &:nth-child(1) {
        border-top: none;
      }

      &[data-label]:not([data-label='']):before {
        content: attr(data-label);
        color: var(--colour-heading);
        padding: 0 0 0.375rem 0;
        margin-bottom: 0;
        display: block;
        font-weight: bold;
      }
    }

    td:has([data-expand-button]) {
      height: 0;
      padding: 0;
      position: relative;
      display: block !important;
    }

    tr:not(:has(td:nth-child(5))) td:has([data-expand-button]){
      display: none !important;   
    }

    td:has([data-expand-button]) + td {
      border-top: none !important;
      padding-top: 0 !important;
      padding-right: 3rem;
    }

    [data-expand-button] {
      top: 0;
      right: 0;
      background: transparent !important;
      border: none;
      position: absolute;
      overflow: hidden;
      --compact-size: 2rem;

      &:before {
        --fa: '\f055' !important;
        font-family: var(--fa-family-classic);
        display: block !important;

        font-weight: 300 !important;
        font-size: 1.75rem; /* 28 */
        line-height: var(--compact-size) !important;
      }

      &[aria-expanded] {
        
        --fa: '\f056' !important;

        &:before {
          --fa: '\f056' !important;
          font-weight: 900 !important;
        }
      }
    }

    td:first-child::after {
      top: 1.75rem !important;
    }

    td::after {
      top: 2.5rem;
    }

    tbody tr td:not(:first-child) {
      border-top: var(--border-width) solid currentColor;
      border-color: var(--colour-border) !important;
    }

    tr:not([data-view='full']) td p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}
/* #endregion */

/* #region Expandable rows on tablet and desktop */
@mixin expandableRow {
  // Hide the expand button column completely if not needed
  &:not(:has(td p.three-lines)) td:has([data-expand-button]),
  &:not(:has(td p.three-lines)) .expand-button-heading {
    display: none;
  }

  tr:not(:has(td p.three-lines)) [data-expand-button] {
    display: none;
  }

  td:has([data-expand-button]) {
    padding-right: 0.5rem;
  }

  tr:not([data-view='full']) td p.three-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
};

:is(#{$selector}).table--fullwidth {

  @include expandableRow;
}

:is(#{$selector}):not(.table--fullwidth) {
  @container (width > 23.4375em) {
    @include expandableRow;
  }
}
/* #endregion */

/* #region fixed columns on tablet and desktop */
:is(#{$selector}) {
  @container (width > 23.4375em) {

    :is(.th--fixed, .td--fixed) {
      position: sticky;
      left: var(--left-offset, 0px);
      z-index: 3;
      min-width: 3.375rem;
      text-align: left;
      background: var(--row-bg, var(--colour-canvas-2));
      background: linear-gradient(270deg, transparent 0%, var(--row-bg, var(--colour-canvas-2)) 1.25rem);

      &:has([open]) {
        z-index: 4;
      }
    }

    :is(.th--fixed, .td--fixed):has(+ :is(.th--fixed, .td--fixed)) {
      background: var(--row-bg, var(--colour-canvas-2));
    }

    :is(.th--fixed, .td--fixed) ~ :is(.th--fixed, .td--fixed):not(:last-child) {

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -1.5rem;
        width: 1.5rem;
        height: 100%;
        background: var(--row-bg, var(--colour-canvas-2));
      } 
    }

    // If the fixed columns are right next to each other, don't show the gradient on the left of the second column
    :is(.th--fixed, .td--fixed) + :is(.th--fixed, .td--fixed):not(:last-child) {

      &::before {
        display: none;
      } 
    }

    :is(.th--fixed, .td--fixed):last-child {
      left: auto;
      right: 0;
      background: linear-gradient(90deg, transparent 0%, var(--row-bg, var(--colour-canvas-2)) 1.25rem);
      padding-left: 1.5rem !important;
    }

    :is(th,td):has(+ :is(.th--fixed, .td--fixed):last-child) {

      padding-right: 0.5rem !important;
    }

    
    .dialog__wrapper {
      z-index: 10;
    }
    .dialog__wrapper:has([open]) {
      z-index: 20;
    }
  }
}

/* #endregion */

/* #region Statuses */
table {
  .hide-status:after {
    display: none;
  }

  :not(.hide-status):is(
    [data-content='low'],
    [data-content='medium'],
    [data-content='high'],
    [data-content='unknown'],
    [data-content='due'],
    [data-content='overdue'],
    [data-content='incomplete'],
    [data-content='requires approval'],
    [data-content='upcoming'],
    [data-content='approval required'],
    [data-content='warning'],
    [data-content='verified'],
    [data-content='not started'],
    [data-content='to do'],
    [data-content='on track'],
    [data-content='completed'],
    [data-content='complete'],
    [data-content='successful'],
    [data-content='failed'],
    .alert-status:not([data-content='0']):not([data-content='']):not(:empty)
  ) {
    position: relative;
    padding-left: 1.5rem;

    &::before {
      margin-left: -1.5rem !important;
    }

    &:after {
      font-family: var(--fa-family-classic);
      position: absolute;
      top: var(--status-pt, 1rem);
      left: 0;
      font-size: 1rem;
      line-height: 1;
      height: 1rem;
      width: 1rem;
      display: inline-block;
    }
  }

  [data-content='high']:after {
    content: '\f325';
    font-weight: normal;
    color: var(--colour-danger);
  }

  [data-content='medium']:after {
    content: '\f7a4';
    font-weight: normal;
    color: var(--colour-warning);
  }

  [data-content='low']:after {
    content: '\e404';
    font-weight: normal;
    color: var(--colour-complete);
  }

  [data-content='unknown']:after {
    content: '\e404';
    font-weight: normal;
    color: var(--colour-muted);
  }

  :is([data-content='overdue'], [data-content='due'], [data-content='incomplete']):after {
    content: '\f024';
    color: var(--colour-danger);
  }

  :is([data-content='not started'], [data-content='to do'], [data-content='on track']):after {
    content: '\f024';
    color: var(--colour-muted);
  }

  :is(
    [data-content='requires approval'],
    [data-content='approval required'],
    [data-content='action required'],
    [data-content='upcoming']
  ):after {
    content: '\f024';
    color: var(--colour-warning);
  }

  :is([data-content='warning']):after {
    content: '\f071';
    color: var(--colour-warning);
  }

  :is(
    [data-content='manually verified'],
    [data-content='verified'],
    [data-content='completed'],
    [data-content='complete'],
    [data-content='successful']
  ):after {
    content: '\f00c';
    font-weight: normal;
    color: var(--colour-complete);
  }

  :is([data-content='failed']):after {
    content: '\f00d';
    font-weight: normal;
    color: var(--colour-danger);
  }

  .alert-status:not([data-content='0']):not([data-content='']):not(:empty):after {
    content: '\f0f3';
    color: var(--colour-primary);
  }
}
/* #endregion */



/* #region Highlighted row */
:is(#{$selector}):not(.table--fullwidth) {
  tr:has(td label input:is([type='checkbox'])):has(+ .tr--highlight) td {
    padding-bottom: 1.5rem;
  }

  .tr--highlight {
    --row-bg: var(--colour-success);
    --padding-block: 0.5rem;

    td:has(i) {
      color: var(--colour-primary-theme);
      padding-left: 0.5rem;
      font-style: italic;
      position: relative;
      padding-left: 2.5rem;
      padding-right: 2rem;
      padding-block: var(--padding-block);

      i {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
      }
    }
  }

  tr:has(td label input:is([type='checkbox'])) + .tr--highlight td:has(i) {
    padding-left: 4.5rem;

    i {
      left: 3rem;
    }
  }

  tr:has(+ .tr--highlight) {
    border-bottom: 0;
  }

  @container (width < 23.4375em) {
    .tr--highlight {
      display: none;
    }
    tr[data-highlight]:before {
      font-family: var(--fa-family-classic);
      content: '\f005';
      font-weight: bold;
      position: absolute;
      left: 1rem;
      z-index: 99;
      top: anchor(--my-anchor top);
      left: anchor(--my-anchor left);
      margin-top: 1rem;
      margin-left: 2rem;
      position-anchor: --my-anchor;
      color: var(--colour-primary-theme);
    }
    tr[data-highlight]:after {
      content: attr(data-highlight);
      background: var(--colour-success);
      color: var(--colour-primary-theme);
      display: block;
      width: calc(100% + 4rem);
      margin-top: 0.5rem;
      margin-inline: -2rem;
      padding-inline: 2rem;
      margin-bottom: -2rem;
      padding-block: 1rem;

      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;

      font-style: italic;
      padding-left: 3.5rem;

      anchor-name: --my-anchor;
    }
  }
}
/* #endregion */


/* #region Pagination */
:is(#{$selector}) table:has(tr.show) tbody tr:not(.show) {
  display: none !important;
}
/* #endregion */

/* #region Table inside an admin panel */
.admin-panel :is(#{$selector}) {

  --table__container-display: contents;
  margin: 0 0 2rem 0;
  padding: 0;
  box-shadow: none;
  background: none;
  overflow: visible;
}

/* #endregion */
}