@use '../_func.scss' as *;




@use './table-basic.global.scss';

$selector: 'iam-table, iam-table-basic, iam-table-no-submit, iam-table-submit, iam-table-ajax';

@use '../utilities/display' as *;

// #region Tables are only stacked on mobile
:is(#{$selector}):not(.table--fullwidth).table--cta {
  @container (width < 23.4375em) {
    tbody tr td:last-child {
      display: block !important;
    }
  }
}


:is(#{$selector}) iam-actionbar {
  margin: 0 1.5rem 1rem 1.5rem;

  @container (width < 23.4375em) {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
    border-radius: 0.5rem;
  }
}
:is(#{$selector}).table--fullwidth:has(iam-actionbar) {
  padding-top: 0;
}
:is(#{$selector}).table--fullwidth iam-actionbar {
  margin: -2rem -2rem 2rem -2rem;
  box-shadow: none;
  border-radius: 0;
}

:is(#{$selector}).table--fullwidth iam-actionbar:has(+ table input:checked) {
  margin: -2rem -2rem 2rem -2rem;
  box-shadow: none;
  border-radius: 0;
}

// Actionbar
.actionbar__sticky-wrapper {
  container-type: inline-size;

  @container (width < 23.4375em) {
    padding: 0 !important;
  }
}

@container (width < 23.4375em) {
  :is(#{$selector}):is(.actionbar__sticky-wrapper) > .actionbar__sticky {
    display: block;
    position: sticky;
    left: 0;
    top: calc(var(--sticky-padding) + #{rem(16)});
    z-index: var(--index-menu);
    pointer-events: none;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: calc(100vh - #{rem(68 + 24 + 16)});
      pointer-events: none;
    }

    & + * {
      margin-top: calc(-100vh - -6.75rem);
    }
  }

  :is(#{$selector}):is(.actionbar__sticky) > iam-actionbar {
    pointer-events: all !important;
    display: block;
    border: none;
    background: var(--colour-canvas-2);
    //box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
    border-radius: 0.5rem;
    margin-bottom: rem(24);
  }
}

@container (width < 23.4375em) {
  :is(#{$selector}).table--fullwidth iam-actionbar,
  :is(#{$selector}) iam-actionbar {
    margin-left: -2rem;
    margin-right: -2rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
  }
}
// #endregion

// #region Table with actionbar

:is(#{$selector}) {
  input:is([type='radio'], [type='checkbox']) + label:not(.radio--tick) {
    padding-left: 0 !important;
    margin: 0 !important;

    &:before,
    &:after {
      top: 0.75rem !important;
      left: 0.25rem !important;
      --border-radius: 0.25rem;
    }
  }

  &:has([type='checkbox']:checked) tr:has([type='checkbox']) {
    .td--fixed [type='checkbox'] {
      width: 100vw;
      height: 100%;
      max-height: var(--row-height);
      max-width: 100vw;
      cursor: pointer;
      pointer-events: all;
      top: auto;
      margin: 0;
      margin-top: 0rem;
    }
  }

  @container (width > 23.4375em) {
    tr:has([type='checkbox']:checked) {
      height: calc(4.625rem - 2px);
    }
  }

  tr:has([type='checkbox']:hover, [type='checkbox']:focus) {
    --row-bg: #eeeeee;
  }
  tr:has([type='checkbox']:hover:checked, [type='checkbox']:focus:checked, [type='checkbox']:checked) {
    --row-bg: #e0e0e0;
  }
}

@container (width < 23.4375em) {
  :is(#{$selector}) {
    iam-actionbar {

    }
    .actionbar__sticky + * {
      margin-top: 0 !important;
    }
  }

  :is(#{$selector}) {
    input:is([type='radio'], [type='checkbox']) + label:not(.radio--tick) {
      padding-left: 0 !important;
      margin: 0 !important;
      min-height: 2rem;

      &:before,
      &:after {
        top: 0.25rem !important;
        left: 0 !important;
      }
    }

    &:has([type='checkbox']:checked) tr:has([type='checkbox']) {
      [type='checkbox'] {
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        margin-top: -2rem;
      }
    }
  }
}
// #endregion

// #region Expandable tables
:is(#{$selector})[data-expandable] {
  td:has([data-expand-button]),
  .expand-button-heading {
    display: table-cell;
  }

  
  &.table--fullwidth {
    --expand: 'true';
  }

  @container (width > 23.4375em) {
    --expand: 'true';
  }

  @container style(--expand) {

    [data-expand-button] {
      margin: 0.25rem 0 0 0;

      &:not(:hover, :focus) {
        background-color: transparent;
        border-color: transparent;
      }

      &:before {
        font-family: 'Font Awesome 6 Pro';
        content: '\f078';
        font-weight: 500;
      }

      &[aria-expanded] {
        &:before {
          content: '\f077';
        }
      }
    }

    tr:not(:has(p)) [data-expand-button] {
      display: none;
    }

    tr:not([data-view='full']) td p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      min-width: 10rem;
    }
  }
}
// #endregion

// #region fixed columns
:is(#{$selector}):not(.table--fullwidth) {
  @container (width < 23.4375em) {
    tr {
      position: relative;
    }
    .td--fixed + .td--fixed {
      border: none;
    }
  }
}

:is(#{$selector}) {
  @container (width > 23.4375em) {
    .th--fixed {
      /*
      &:after {
        top: auto;
        left: 0;
        content: '';
        position: absolute;
        width: 100%;
        height: calc(var(--row-height) - 2px);
        background: linear-gradient(90deg, var(--row-bg) calc(100% - 1.5rem), transparent 100%);
      }
        */
    }

    .th--fixed,
    .td--fixed {
      position: absolute;
      left: auto;
      top: auto;
      z-index: 3;
      padding: 0 0 0 0;
      min-width: rem(48 + 6);
      height: calc(var(--row-height) - 2px);
      text-align: left;
      background: var(--row-bg);

      &:has([open]) {
        z-index: 4;
      }
    }

    .th--fixed:has(+ th:not(.th--fixed)),
    .td--fixed:has(+ td:not(.td--fixed)) {
      background: linear-gradient(90deg, var(--row-bg) calc(100% - 1rem), transparent 100%);
    }

    .th--fixed + th:not(.th--fixed),
    .td--fixed + td:not(.td--fixed) {
      padding-left: calc(rem(48 + 6)) !important;
    }

    .th--fixed + .th--fixed,
    .td--fixed + .td--fixed {
      left: 3rem;
    }

    .th--fixed + .th--fixed + th:not(.th--fixed),
    .td--fixed + .td--fixed + td:not(.td--fixed) {
      padding-left: calc(rem(48 + 48 + 6)) !important;
    }

    .th--fixed + .th--fixed + .th--fixed,
    .td--fixed + .td--fixed + .td--fixed {
      left: rem(48 + 48);
    }

    .th--fixed + .th--fixed + .th--fixed + th:not(.th--fixed),
    .td--fixed + .td--fixed + .td--fixed + td:not(.td--fixed) {
      padding-left: calc(rem(48 + 48 + 48 + 6)) !important;
    }

    .dialog__wrapper {
      z-index: 10;
    }
    .dialog__wrapper:has([open]) {
      z-index: 20;
    }
  }
}
// #endregion

// #region
:is(#{$selector})td:has(.dialog__wrapper) {
  padding-top: 0.25rem;
}

// #endregion

// #region sort by column header

:is(#{$selector}) {

  &.table--fullwidth {
    --sort: 'true';
  }

  @container (width >= 32em) {
    --sort: 'true';
  }

  @container style(--sort) {
    th[data-sort] {
      background-repeat: no-repeat;
      background-size: 1rem 1rem;
      background-position: calc(100% - 0.5rem) 50%;
      padding-top: 0.75rem;
      cursor: pointer;

      &:hover {
        background-color: var(--colour-light);
        background-image: var(--icon-sort);
      }
    }

    &:has(th[data-sort]) :is(th, td) {
      padding-left: 0.25rem !important;
    }

    th[data-sort][data-order-by='asc'] {
      background-image: var(--icon-sort-asc);
    }
    th[data-sort][data-order-by='desc'] {
      background-image: var(--icon-sort-desc);
    }
  }

}

// #endregion

// #region hide columns
@for $i from 1 through 30 {
  :is(#{$selector}) [data-hide-col#{$i}] + table :is(thead, tbody) :is(th, td):nth-child(#{$i}) {
    display: none;
  }
}
// #endregion

// #region filters
:is(#{$selector}) .table--filtered tbody tr:not(.filtered--show) {
  display: none !important;
}

:is(#{$selector}) table:not(.table--filtered):not(.table--ajax) tbody tr:nth-child(15) ~ tr {
  //display: none;
}
// #endregion

// #region max height tables

iam-table-basic:is(.mh-lg, .mh-md, .mh-sm) {
  thead {
    position: sticky;
    top: 0;
    z-index: 9999;

    tr {
      background: var(--row-bg);
      background: linear-gradient(0deg, var(--colour-primary) 2px, var(--row-bg) 2px);
      border: none;
    }
  }
}

// #endregion
