@use '../_func' as *;

@use './table-basic.global';

$selector: 'iam-table-basic, iam-table, iam-table-advanced, iam-table-ajax';


@use '../utilities/display' as *;


/* #region Actionbar inside a table on mobile */
:is(#{$selector}):not(.table--fullwidth) iam-actionbar {

  @container (width < 23.4375em) {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
    border-radius: 0.5rem;
    margin: 0 0 1rem 0;
  }
}
/* #endregion */

/* #region Actionbar inside of a table on tablet and desktop */
:is(#{$selector})  {

  &.table--fullwidth iam-actionbar{
    margin: -2rem -1.5rem 1rem -2rem;
  }

  iam-actionbar {
      
    @container (width > 23.4375em) {
      
      margin: -2rem -1.5rem 1rem -2rem;
    }
  }
}

:is(#{$selector}).table--fullwidth:has(iam-actionbar) {
  padding-top: 0;
}

:is(#{$selector}).table--fullwidth iam-actionbar {
  margin: -2rem -1.5rem 2rem -1.5rem;
  box-shadow: none;
  border-radius: 0;
}

/* #endregion */

/* #region Admin panel fixes for Mobile */
.admin-panel :is(#{$selector}) {

  > iam-actionbar {
    margin-top: 0 !important;
    border-radius: 0;
    box-shadow: none;
  }
}

.admin-panel:has(> :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6):not(.lead):first-child + :is(#{$selector}) > iam-actionbar) {

  & > :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6):not(.lead):first-child {
    margin-bottom: 0;
  }
}

.admin-panel *:not(:is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6):not(.lead):first-child) + :is(#{$selector}) {

  &:not(:first-child) > iam-actionbar {
    margin: 0 0 1.5rem 0;
    border: 1px solid var(--colour-border);
    border-radius: 0.5rem;
  }
}
/* #endregion */

/* #region table rows with selectable row checkboxes */
:is(#{$selector}) {

  tr:has(.selectrow) {
    position: relative;
  }

  .selectrow {
    width: 1px;
  }
  .selectrow input:is([type='radio'], [type='checkbox']) + label:not(.radio--tick) {
    padding-left: 0 !important;
    margin: 0 !important;

    width: var(--radio-size, 1.5rem);
    height: var(--radio-size, 1.5rem);

    &:before,
    &:after {
      top: 0 !important;
      left: 0 !important;
      --border-radius: 0.25rem;
    }
  }

  tr:has(.selectrow [type='checkbox']:checked) {
    --row-bg: #e0e0e0;
    //cursor: pointer;
  }
}

/* #endregion */

/* #region filters */
:is(#{$selector}) .table--filtered tbody tr:not(.filtered--show) {
  display: none !important;
}

:is(#{$selector}) table:not(.table--filtered):not(.table--ajax) tbody tr:nth-child(15) ~ tr {
  /* display: none; */
}
/* #endregion */

