@use "../_func.scss" as *;

// #region Default table
table {
  --border-width: 2px;
  --inner-border-width: 2px;
  width: 100%;
  font-size: rem(16);
  border: none;
  margin-bottom: rem(32);
  overflow: auto;
}

td,th {
  padding: rem(8) rem(24) rem(8) 0;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  border: none;
  font-size: rem(16);
  line-height: rem(24);
  color: var(--colour-body);

  &:last-child {
    padding-right: 0;
  }
}

th {
  font-weight: bold;
  @include var(color,--colour-heading);
}

thead {

  th {
    font-size: rem(16);
    line-height: rem(24);
    padding-bottom: rem(8);

    font-weight: bold;
    vertical-align: bottom;

    @include media-breakpoint-up(sm) {
      white-space: nowrap;
      min-width: rem(120);
    }    
  }
}

tbody tr {

  td {
      
    border-top: var(--border-width) solid currentColor;
    @include var(border-color,--colour-border);
  }

  &:first-child td{
    border-top: var(--border-width) solid currentColor;
    @include var(border-color,--colour-primary);
  }

  &:last-child td{
    border-bottom: var(--border-width) solid currentColor;
    @include var(border-color,--colour-border);
  }
}

.border-0 > table,
table.border-0 {

  --border-width: 0px;
  --inner-border-width: 0px;
}
// #endregion

// #region Table wrapper - Add via JS if needed, provides a safe space to scroll
.table__wrapper {
  display: block;
  width: 100%;
  //padding-right: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
  margin-bottom: rem(32);

}

:is(iam-table, .table__wrapper) table {
  margin-bottom: 0;
  display: table;
  overflow: hidden;
}
// #endregion














// #region Tables are only stacked on mobile

@media screen and (max-width: 36em) {

  .table__wrapper:not(.table-fullwidth):not(.client-table){

    overflow: hidden;
  }

  :is(iam-table, .table__wrapper:not(.table-fullwidth):not(.client-table)) {

    thead {
      display: none;
    }

    tbody {
      display: block;
    }

    tr {
      display: block;
      position: relative;
      margin-bottom: 2rem;
    }

    td,
    th {
      display: block;
      padding-right: 0;
      //padding-top: 0;
      padding-left: rem(8);
      
        @include var(border-color,--colour-border);

      &:is(:nth-child(1), :nth-child(2)){
        
        border-top: none;
      }

      &[data-label]:before {
        content: attr(data-label);
        color: var(--colour-heading);
        padding: 0;
        margin-bottom: 0;
        display: block;
        font-weight: bold;
        margin: 0;
      }
    }

    td:first-child {
      @include var(background, --colour-border);
      position: relative;
      border-radius: rem(8);

      &:after {
        font-family: "Font Awesome 6 Pro";
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0.5rem;
        font-weight: 300;
        color: var(--colour-primary)
      }
    }
  }

  body:not(.js-enabled) .table--minify tr:not(:hover):not(:focus-within),
  .table--minify tr:not([data-view="full"]) {

    td:not(:first-child):not(:nth-child(2)):not(:nth-child(2)):not(:nth-child(3)):not(.col--sticky){
      display: none;
    }
    td:first-child {
      
      &:after {
        content: "\2b";
      }
    }
  }

}
// #endregion


// #region Table striped
.table-striped tbody tr:nth-of-type(odd) {

  background-color: rgba(0, 0, 0, 0.1);

  .bg-light & {

    @include var(background-color,--colour-white);
  }
}
// #endregion

// #region Table hover
.table-hover tbody tr {
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
// #endregion


// #region Sortable
[data-sortable] {

  cursor: pointer;
  position: relative;
  user-select: none;
  padding-right: 3.5rem;

  &:hover {
    color: var(--colour-hover);
  }
}
[data-sortable]:after {

  content: "";
  position: absolute;
  top:0;
  right: 0;
  width: 3.5rem;
  height: 4rem;
  display: block;
  mask-image: var(--icon-sort);
  mask-size: 0.6rem 0.8rem;
  mask-repeat: no-repeat;
  mask-position: calc(100% - 1.5rem) calc(50% - 0.25rem);

  -webkit-mask-image: var(--icon-sort);
  -webkit-mask-size: 0.6rem 0.8rem;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: calc(100% - 1.5rem) calc(50% - 0.25rem);
  background-color: currentColor;
}

[data-sortable][aria-sort=ascending]:after {
  --icon-sort: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath d='M51 1l25 23 24 22H1l25-22z'/%3E%3Cpath opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
}

[data-sortable][aria-sort=descending]:after {
  --icon-sort: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' preserveAspectRatio='none'%3E%3Cpath opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3E%3Cpath d='M51 101l25-23 24-22H1l25 22z'/%3E%3C/svg%3E");
}
// #endregion

// #region Pagination
.table__pagination select {
  max-width: rem(240);
}
.table__pagination .showing-input-field {
  min-width: 4.5rem;
}
.table__pagination .page-number {
  min-width: 7rem;
}
// #endregion

// #region Reorderable
.table-order-reset {

  cursor: pointer;
  position: relative;
  width: 1rem;

  &:hover {
    color: var(--colour-hover);
  }

  overflow: hidden;
  text-indent: -200%;

  &:after {
    content: "#";
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    text-indent: 0;
  }
}

[data-reorder] tr[draggable] {
  
  cursor: move;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.tr--dragging {
    background: var(--colour-muted);
  }

  &.tr--dropable {

    background-color: rgba(0, 0, 0, 0.2);
  }
}

// #endregion


.note-feed {

  td:last-child {
    min-width: 20rem;

    /*
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: 1rem;

    &:hover {

    -webkit-line-clamp: inherit;
    }
    */
  }
}

// #region sticky column
@include media-breakpoint-up(sm) {

  :is(iam-table) {
    
    --cta-width: 8rem;
  }

  :not(iam-table).table--sticky {
    
    position: relative;
    margin-right: calc(var(--cta-width) - 1.5rem);
    margin-bottom: 2rem;


    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      width: calc(var(--cta-width) - 1.5rem);
      height: calc(100% - #{rem(16)} + 2px);
      padding-left: rem(24);
      margin-left: rem(-24);
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 1.25rem);
      z-index: 2
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% + calc(var(--cta-width) - 1.5rem));
      border-bottom: 2px solid currentColor;
      @include var(border-color,--colour-border);
      z-index: 99;
    }
  }

  .table--sticky .table__wrapper {
    overflow-y: hidden;
    margin-bottom: 0;
  }
    
  .table--sticky {

    tr > *:last-child {

      position: absolute;
      left: 100%;
      top: auto;
      z-index: 3;
      background: transparent;
      width: var(--cta-width);
      padding-left: rem(24);
      margin-left: rem(-24);
      min-width: fit-content;
      text-align: right;

      a {
        white-space: nowrap;
      }
    }

    tbody tr > *:last-child {
      margin-top: -1px;
    }
    tbody tr {

      &:last-child td{
        border-bottom: none;
      }
    }
  }
}
// #endregion