@use "../_func" as *;

.tabs {

  position: relative;

  > .tabs__links {
    margin-bottom: 1.5rem;
    overflow: hidden;

    .link:not(.text-decoration-none):not(.btn) {
      --is-current: 0;
      font-weight: bold;
      font-family: var(--font-heading);
      font-size: rem(18);
      cursor: pointer;
      margin: 0 0 0.5rem 0;
      float: left;
      clear: both;
      padding: 0;

      @include media-breakpoint-up(sm) {
        clear: none;
        margin-bottom: 0;
        margin-right: 2rem;
      }

      &:before {
        width: 0;
        width: calc(var(--is-current) * 100%);
      }

      &:hover:before,
      &:focus:before,
      &.focus:before {
        width: 100%;
      }
    }
  }

  .tabs__links .link:not(.text-decoration-none):not(.btn)[aria-pressed="true"] {
      
    --is-current: 1;
    --panel-tab-colour: white;
    --panel-tab-border: var(--colour-secondary)
  }
}

// #region admin panel
.admin-panel .tabs__links,
:host(.admin-panel) .tabs__links {

  margin-top: -3px!important;
  margin-left: calc(var(--panel-gutter) * -1);
  margin-right: calc(var(--panel-gutter) * -1);
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg);
  border-bottom: 2px solid var(--colour-border-light);
  margin-bottom: var(--panel-gutter);

  @include media-breakpoint-up(sm) {

    flex-direction: row;
    border-top: 1px solid var(--colour-border-light);
  }

  .link:not(.text-decoration-none):not(.btn) {
    padding: var(--panel-gutter);
    margin: 0;
    width: 100%;
    background: var(--panel-tab-colour);
    border-top: 1px solid var(--colour-border-light);
    border-left: 3px solid var(--panel-tab-border, #fafafa);
    text-align: left;

    &:before {
      display: none;
    }

    @include media-breakpoint-up(sm) {

      margin-right: 0!important;

      &:first-child{
        border-left: none!important;
      }

      &:not(:first-child){

        border-left: 1px solid var(--colour-border-light)!important;
      }

      border-top: 3px solid var(--panel-tab-border, #fafafa);
    }
  }
}

:host(.admin-panel) {

  display: block;
}
// #endregion
