@use "../_func" as *;

.testimonial {

  --testimonial-padding: 1rem;
  --testimonial-spacing: 1rem;

  @include media-breakpoint-up(md) {
    --testimonial-padding: 4rem;
    --testimonial-spacing: 2rem;
  }

  // Circle
  > div:first-child {

    position: relative;
    overflow: hidden;
  }

  .circle {
    color: currentColor;
    position: absolute;
    top: -18rem;
    right: -8rem;
    font-size: 28rem;
    border-width: 4px;
  }

  &__images {
    overflow: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    user-select: none;
    touch-action: pan-x;
    height: rem(230);

    @include media-breakpoint-up(sm) {

      height: rem(340);
    }
    @include media-breakpoint-up(md) {

      min-height: 100%;
      scroll-snap-type: y mandatory;
      flex-direction: column;
      touch-action: pan-y;
    }

    img {

      scroll-snap-align: start;
      user-select: none;
      pointer-events: none;
      flex-shrink: 0;
    }
  }

  .testimonial__controls {
    display: none;
  }

  &.testimonial--multi .testimonial__controls {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    @include media-breakpoint-up(md) {
      left: auto;
      bottom: auto;
      right: 0;
      top: 50%;
      transform: rotate(90deg) translate(0,-120%);
      transform-origin: center;
    }
  }

  // Make space for the circle
  h2 {
    padding: 2rem var(--testimonial-padding) 0 var(--testimonial-padding);

    @include media-breakpoint-up(sm) {
      padding-top: 3rem;
    }
    @include media-breakpoint-up(md) {
      padding-top: 9rem;
    }
  }

  &__content {

    --display-none: none;
    margin: 0 var(--testimonial-padding) var(--testimonial-spacing) var(--testimonial-padding);
    position: relative;

    @include media-breakpoint-up(md) {
      --display-none: block;

      blockquote:not(.largest) {
        position: absolute;
        top: 0;
      }
    }
  }

  // Only show 1 blockquote at a time
  @for $i from 1 through 10 {

    &[data-show="#{$i}"] blockquote:not(:nth-child(#{$i})) {
      display: var(--display-none);
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }

  &__after {

    padding: 1rem var(--testimonial-padding) var(--testimonial-spacing) var(--testimonial-padding);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.testimonial__images::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.testimonial__images {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}