@use '../_func' as *;
@use 'card.module';
@use './modal.component';
@use './video-modal.component';
@use '../elements/buttons--global';
@use '../elements/buttons--compact';

:host {
  --card-right-padding: 1rem;
  --card-head-height: 10rem;
  --line-height: 2rem;
  display: flex;
  font-size: 1.5rem;
}

// #region video-card--top
:host(:not(.video-card--top)) .card__head {
  order: 2;
}

@layer components {
  .card__head {
    cursor: pointer;
    position: relative;

    > *:not(img) {
      z-index: -1;
    }

    .fa-play {
      position: absolute;
      z-index: 1!important;
      top: 50%;
      left: 50%;
      pointer-events: none;
      margin: 0!important;
      translate: -50% -50%;
    }

    &:is(:hover,:focus):not(:active) .fa-play {
      --colour-btn-bg: var(--colour-white)!important;
      --colour-btn-border: var(--colour-white)!important;
    }
    &:is(:active) .fa-play {
      filter: brightness(85%);
    }
  }
}
// #endregion