@use 'true' as *;
@use '../../sass/func' as *;

/*#region prefix*/
@include describe('prefix [Mixin]') {
  @include it('prefix mixin duplicates the rule with the assigned prefixes') {
    // Assert the expected results
    @include assert {
      @include output {
        @include prefix(transform, scale(2));
      }
      @include expect {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
      }
    }
    @include assert {
      @include output {
        @include prefix(transform, scale(2), webkit);
      }
      @include expect {
        -webkit-transform: scale(2);
        transform: scale(2);
      }
    }
  }
}
/*#endregion*/

/*#region inline-text*/
@include describe('inline-text[Mixin]') {
  @include it('inline-text returns selecters prefixed with inline element selectors') {
    // Assert the expected results
    @include assert {
      @include output {
        @include inline-text() {
          color: purple;
          background: green;
        }
      }
      @include expect {
        p,
        ul,
        ol,
        dd,
        .body,
        table:not(.table--email) td {
          color: purple;
          background: green;
        }
      }
    }
  }
}
/*#endregion */

// #region headers
@include describe('headers[Mixin]') {
  @include it('headers returns selecters prefixed with the header selectors') {
    // Assert the expected results
    @include assert {
      @include output {
        @include headers() {
          color: purple;
          background: green;
        }
      }
      @include expect {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: purple;
          background: green;
        }
      }
    }
    @include assert {
      @include output {
        @include headers('true') {
          color: purple;
          background: green;
        }
      }
      @include expect {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: purple;
          background: green;
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
          color: purple;
          background: green;
        }
      }
    }
  }
}
// #endregion
