@use 'true' as *;
@import '../../sass/func';

@include describe('Font variables should be defined correctly') {

  @include it('with the body font set to Qanelas Medium') {
    @include assert {
      @include output {
        font-family: map-get($vars, --font-body);
      }
      @include expect {
        font-family: Qanelas, arial, sans-serif;
      }
    }
  }
  @include it('with the header font set to Qanelas Soft') {
    @include assert {
      @include output {
        font-family: map-get($vars, --font-heading);
      }
      @include expect {
        font-family: Qanelas, arial, sans-serif;
      }
    }
  }
  @include it('with the header font weight set to 700') {
    @include assert {
      @include output {
        font-weight: map-get($vars, --heading-weight);
      }
      @include expect {
        font-weight: 700;
      }
    }
  }
}