*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'qanelasmedium'; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  flex-shrink: 0;
  margin-right: 20px; }

.deep-slate-bg {
  background-color: #00313C; }

.soft-green-bg {
  background-color: #b4e6a5; }

.homely-aubergine-bg {
  background-color: #46003C; }

.soft-pink-bg {
  background-color: #ffd2d2; }

.grey-70-bg {
  background-color: #6f6f6f; }

.grey-50-bg {
  background-color: #9d9d9d; }

.fresh-blue-bg {
  background-color: #1ebee6; }

.punchy-mustard-bg {
  background-color: #ffa500; }

@font-face {
  font-family: 'qanelasmedium';
  src: url("../fonts/radomir_tinkov_-_qanelas-medium-webfont.eot");
  src: url("../fonts/radomir_tinkov_-_qanelas-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/radomir_tinkov_-_qanelas-medium-webfont.woff2") format("woff2"), url("../fonts/radomir_tinkov_-_qanelas-medium-webfont.woff") format("woff"), url("../fonts/radomir_tinkov_-_qanelas-medium-webfont.svg#qanelasmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'qanelas_softextrabold';
  src: url("../fonts/radomir_tinkov_-_qanelassoft-extrabold-webfont.eot");
  src: url("../fonts/radomir_tinkov_-_qanelassoft-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/radomir_tinkov_-_qanelassoft-extrabold-webfont.woff2") format("woff2"), url("../fonts/radomir_tinkov_-_qanelassoft-extrabold-webfont.woff") format("woff"), url("../fonts/radomir_tinkov_-_qanelassoft-extrabold-webfont.svg#qanelas_softextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "qanelas_softextrabold"; }
