@use '../_func' as *;


@use '../foundations/root.scss' as *;
@use '../foundations/reboot.scss' as *;

@use '../elements/table.element' as *;
@use '../elements/buttons.scss' as *;
@use '../elements/dialog.scss' as *;
@use '../elements/type.css' as *;

@use '../elements/input.scss' as *;
@use '../elements/forms.scss' as *;


@use '../components/table-advanced.global.scss' as *;


@use '../utilities/margins';
@use '../utilities/visually-hidden';


:host {
  display: block;
  height: 100%;
  overflow: auto;
}

iam-table-advanced {
  --table__container-display: contents;
}
