header {
    position: relative;

    span {
        font-family: $header-font;
    }
}
.container-fluid {
    max-width: 1600px;
    margin: 0 auto;
}
.paragraph-wrap {
    margin: 30px 0;
}

.nav-links {
    .nav-item {
        margin-bottom: 5px;

        a:hover {
            background-color: $fresh-blue;
            color: white;
        }
    }
}

.section-nav {
    margin-bottom: 2rem;

    .nav-item {

        a:hover {
            color: $punchy-mustard;
        }

    }
}

.sub-section {
    margin-bottom: 5rem;
}

.hamburger {
    display: none;
    position: absolute;
    top:10px;
    right: 10px;
    width: 50px;
    height: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid $grey-50;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: $grey-50;    
    cursor: pointer;
}

.hamburger > div:before,
.hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    height: 2px;
    background-color: $grey-50;
    width: 100%;
}

.hamburger > div:after {
    top:10px;
}

.copy-item {
    margin: 4rem 0;
    &__copy-data {
        color: $soft-green;
        
    }
}

footer {
    padding-bottom: 50px;
}

.fixed-menu {
    position: fixed;
    padding-top: 2rem;
    top:0;
}

@media only screen and (max-width:767px) {

    .fixed-menu {
        position: relative;
        padding: 0;

    }

    .nav-links {
        height: 0;
        overflow: hidden;
    }

    .show-nav-links {
        height: auto;
    }

    .hamburger {
        display: flex;
    }
}