body.js-enabled .js-hide {
  display: none!important;
}

body:not(.js-enabled) .js-show {
  display: none!important;
}

:host-context(body.js-enabled) .js-hide {
  display: none!important;
}

:host-context(body:not(.js-enabled)) .js-show {
  display: none!important;
}