@use "sass:math";
@use "../_func" as *;


// Code
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
}

pre {
  display: block;
  margin-top: 0; // 1
  margin-bottom: 1rem; // 2
  overflow: auto; // 3
  font-size: rem(14);
  color: $pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

code {
  font-size: rem(14);
  color: #d63384;
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

kbd {
  padding: .1875rem .375rem;
  font-size: rem(14);

  kbd {
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
  }
}






*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset & Defaults */
html {

  -webkit-font-smoothing: antialiased; // Fix for Safari/iOS
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: vw($device-xs-width);
  scroll-padding-top: rem(100);
  
  @include media-breakpoint-up(sm) {
    font-size: vw($device-sm-width);
  }
  @include media-breakpoint-up(md) {
    font-size: vw($device-md-width);
  }

  @if $mobileOnly != "true" {
    @media (min-width: #{em(1280)}) {
      font-size: 100%;
      font-size: vw(1280);

      &:has(.nav--large) {
        font-size: 100%;
      }
    }

    @media (min-width: #{em(1440)}) {
      font-size: 112.5%;

      &:has(.nav--large) {
        font-size: 100%;
      }
    }

    @media (min-width: #{em(1680)}) {
      //font-size: 131.25%;
    }

    @media print {
      font-size: 16px;
    }

    @media screen and (min-width: 120em) { // 1920

      &:has(.nav--large) {
  
        font-size: vw(1920);
      }
    }

  }
}

body {
  margin: 0; // 1
  color-scheme: light dark;
  @include var(background,--colour-canvas);
  @include var(font-family,--font-body);
  @include var(color,--colour-body);
  width: 100%;
  line-height: 1.2;
  min-height: 100%;
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: rgba($black, 0); // 4
}


// #region scrollbars
:is(div,form,fieldset,textarea)::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
:is(div,form,fieldset,textarea)::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-top: 4px solid var(--colour-canvas-2);
  border-left: 4px solid var(--colour-canvas-2);
}
 
:is(div,form,fieldset,textarea)::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  width: 6px;
  border-top: 4px solid var(--colour-canvas-2);
  border-left: 4px solid var(--colour-canvas-2);
}


//#endregion

body > footer,
body > #app > footer {
  position: sticky;
  top: 100vh;
}

address {
  margin: 0;
}

button {
  font-size: inherit;
}

button:focus {
  border-radius: initial;
  outline: 2px auto -webkit-focus-ring-color;
}

hr {
  --border-style: solid;
  --border-color: var(--colour-border);
  border: 0;
  color: transparent;
  margin: 0;
  border-bottom: none;
  background-color: currentColor;
  opacity: 1;
  clear:both;


  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

[hidden] {
  display: none !important;
}

form {
  display: contents;
}

input[type="search" i]::-webkit-search-cancel-button {

  appearance: none;
}

[list]::-webkit-calendar-picker-indicator {
  display: none!important;
}

img {
  max-width: 100%;
}

// Details reset
summary {list-style: none}
summary::-webkit-details-marker {display: none; }

details summary { 
  cursor: pointer;
}

details summary > * {
  display: inline;
}

details {
  width: 100%;
}
