@use '../../assets/sass/_func.scss' as *;

// Load the SCSS framework
$fontPath: '../../fonts/';
@import "../../assets/sass/_fonts.scss";
@import '../../assets/sass/_corefiles.scss';
@import "../../assets/sass/_forms";


@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

code {
  font-family: 'Source Code Pro', monospace;
}

.note {
  border-left: 2px solid var(--colour-danger);
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: rgba(0,0,0,0.05);

  strong:first-child {
    color: var(--colour-danger);
  }
}

.version-control {
  padding-top: 3rem;

  table {
    --border-width: 0px;
    --inner-border-width: 0px;

    thead th {
      padding-bottom: 0.5rem;
      font-size: 1rem;
      color: var(--colour-body);

      &:nth-child(1){
        width: 1rem;
      }
      &:nth-child(2){
        width: 1rem;
      }
      &:nth-child(4){
        width: 9rem;
      }

    }

    tr > *:first-child {
      padding-inline-start: 0;
    }

    td {
      padding-top: 0;
    }
  }
}