@use '../../assets/sass/_func.scss' as *;

// Load the SCSS framework
$fontPath: '../../fonts/';

$root: ':root' !default;
$layers: 'true' !default;
$mobileOnly: 'false' !default;

@use '../../assets/sass/_fonts.scss';

@use '../../assets/sass/_corefiles.scss' with (
  $layers: $layers,
  $mobileOnly: $mobileOnly,
  $darkMode: 'true'
);

@use '../../assets/sass/_grid' with (
  $layers: $layers,
  $mobileOnly: $mobileOnly
);
@use '../../assets/sass/_bs_grid' with (
  $layers: $layers,
  $mobileOnly: $mobileOnly
);

@use '../../assets/sass/_utilities' with (
  $layers: $layers,
  $mobileOnly: $mobileOnly
);
@use '../../assets/sass/_utility-mixins' with (
  $layers: $layers,
  $mobileOnly: $mobileOnly
);

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

code {
  font-family: 'Source Code Pro', monospace;
}

.note {
  border-left: 2px solid var(--colour-danger);
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: rgba(0, 0, 0, 0.05);

  strong:first-child {
    color: var(--colour-danger);
  }
}

.markdown-body {
  h1,
  h2,
  h3 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
    line-height: 1.25rem;
    padding-bottom: 1rem;
  }

  container-type: inline-size;

  td {
    min-width: 0 !important;
  }

  @container (width < 23.4375em) {
    td:empty {
      display: none;
    }
  }

  p:has(strong:first-child:last-child) {
    color: var(--colour-primary);
    padding-bottom: 0.5rem;
  }
}

.version-control {
  padding-top: 3rem;

  > .container {
    container-type: inline-size;
  }

  table {
    --border-width: 0px;
    --inner-border-width: 0px;

    thead th {
      padding-bottom: 0.5rem;
      font-size: 1rem;
      color: var(--colour-body);

      &:nth-child(1) {
        width: 1rem;
      }
      &:nth-child(2) {
        width: 1rem;
      }
    }

    tr:has(th:nth-child(4)) {
      th:nth-child(3) {
        width: 9rem;
      }
    }

    tr > *:first-child {
      padding-inline-start: 0;
    }

    td {
      padding-top: 0;
    }
  }
}

@container (width < 36em) {
  .version-control {
    table {
      tr > * {
        &:nth-child(2) {
          display: none;
        }
      }
      tr:has(*:nth-child(4)) > * {
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}
@container (width >= 36em) {
  .version-control {
    table {
      thead th {
        &:nth-child(1) {
          width: 9rem;
        }
        &:nth-child(2) {
          width: 8rem;
        }
      }

      tr:has(th:nth-child(4)) {
        th:nth-child(3) {
          width: 9rem;
        }
      }
    }
  }
}
